{% extends 'base.html' %}
{% block title %}404{% endblock %}
{% block content %}

<!-- ------------ SECTION 404 -->

<section class="articleNarrow">
    <header class="row headline section404 hyperlink">
        <h1 class="headerTitle">404</h1>
        <span class="headerSubtitle">Упс, к сожалению, такой страницы не существует.<br><a href="/">Вернуться на главную</a></span>
    </header>
</section>

<!-- ------------ SECTION 404 END -->

{% endblock %}