{% extends 'base.html' %}
{% block title %}О компании{% endblock %}
{% block content %}

<section class="articleNarrow">
  <header class="articleBar">
    <!--<div class="articleBarDate">{{ item.add|date:"D, d F Y" }}</div>-->
    <div class="articleBarSocials">
      <!--<button class="articleBarButton icon-fb"></button>-->
      <!--<button class="articleBarButton icon-vk"></button>-->
      <!--<div class="articleBarButton" id="vk_like"></div><script type="text/javascript">VK.Widgets.Like("vk_like", {type: "vertical", height: 24});</script>-->
      <!--<button class="articleBarButton icon-email"></button>-->
    </div>
  </header>
  <h1>О ТехноНИКОЛЬ</h1>
  <p class="articleBref articleBrefNormal">Крупнейший производитель и поставщик кровельных, гидроизоляционных и теплоизоляционных материалов. Работая на рынке стройматериалов с 1992 года, компания накопила существенный опыт в производстве материалов гидро-, звуко- и теплоизоляции, и сегодня предлагает рынку новейшие материалы и технологии, сочетающие в себе мировой опыт и разработки собственного Научного центра.</p>
  <ul>
    <li>41 завод</li>
    <li>14 производственных подразделений</li>
    <li>Более 20 лет на рынке</li>
    <li>79 стран присутствия</li>
  </ul>
  <h2>С нами удобно</h2>
  <p><b>Мы обеспечиваем эффективные комплексные решения Ваших индивидуальных задач.</b> Широкий ассортимент выпускаемой продукции и полный набор комплектующих элементов.</p>
  <p><b>Мы обеспечиваем широкую и доступную логистику, бесперебойные поставки на объект точно в срок.</b> Мы рядом с вами! 41 завод на территории России, странах СНГ, а также производственные мощности в Европе.</p>
  <p><b>Нам доверяют профессионалы во всем мире.</b> Наши решения применяются в 79 странах мира. Наши продукты сертифицированы в соответствии с самыми высокими международными стандартами.</p>
  <p><b>Мы учим работать с нашими материалами.</b> Собственные Учебные Центры. Более 20 000 обученных специалистов технологиям применения наших материалов. 15 учебных центров. География: Рязань, Москва, Хабаровск, Новосибирск, Уфа, Кумертау, Казань, Чебоксары, Краснодар, Санкт-Петербург, Минск, Киев (Украина), Астана (Казахстан).</p>
  <p><b>Мы создаем уникальные продукты, отвечающие Вашим индивидуальным потребностям.</b> Собственные Научные Центры. 15 новых материалов для профессионального строительства ежегодно.</p>

  <h2>Производственные мощности компании ТехноНИКОЛЬ</h2>
  <h3>Рулонные битумные материалы</h3>
  <ul>
    <li>17 заводов</li>
    <li>48 производственных линий</li>
    <li>cовокупная мощность производства 980 000 000 м²</li>
  </ul>
  <h3>Полимерные мембраны</h3>
  <ul>
    <li>2 завода</li>
    <li>7 производственных линий</li>
    <li>cовокупная мощность производства 32 000 000 м²</li>
  </ul>
  <h3>Теплоизоляционные плиты PIR ТехноНИКОЛЬ</h3>
  <ul>
    <li>1 завод</li>
    <li>1 производственная линия</li>
    <li>совокупная мощность производства 10 000 000 м² или 2 000 000 м³</li>
  </ul>
  <h3>Каменная вата</h3>
  <ul>
    <li>6 заводов</li>
    <li>14 производственных линий</li>
    <li>совокупная мощность производства 550 000 тонн</li>
  </ul>
  <h3>Экструзионный пенополистирол</h3>
  <ul>
    <li>8 заводов</li>
    <li>11 производственных линий</li>
    <li>совокупная мощность производства 2 200 000 м³</li>
  </ul>
  <h3>Мастики</h3>
  <ul>
    <li>8 заводов</li>
    <li>8 производственных линий</li>
    <li>совокупная мощность производства 200 000 тонн</li>
  </ul>
  <h3>Профилированные мембраны</h3>
  <ul>
    <li>2 завода</li>
    <li>2 производственные линии</li>
    <li>совокупная мощность производства 15 000 000 м²</li>
  </ul>

</section>
{% endblock %}