{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}
{% block scriptsPrependHead %}<script src='https://www.google.com/recaptcha/api.js?hl=ru'></script>{% endblock %}
{% block content %}

<!-- ------------ SECTION HEADLINE -->
<header class="row headline">
    <h1 class="headerTitle">Контакты</h1>
    <!--<span class="headerSubtitle">Лаконичный и ёмкий рекламно-информационный текст о разделе. Текст должен помогать пользователю в принятии решения, т.е. быть полезным.</span>-->
</header>
<!-- ------------ SECTION HEADLINE END -->

<!-- ------------ SECTION CONTACTS -->
<section class="articleNarrow">
    <h2>Головной офис Группы компаний «ТехноНИКОЛЬ»</h2>
    <div class="tableContainer">
        <table class="table">
            <tr class="tableRow hyperlink">
                <td class="tableCell">Адрес:</td>
                <td class="tableCell"><a href="#">Адрес: г. Москва, ул. Щепкина, д. 58 стр. 3</a></td>
            </tr>
            <tr class="tableRow">
                <td class="tableCell">Режим работы:</td>
                <td class="tableCell">пн-пт 8.00-19.00, сб 9.00-13.00</td>
            </tr>
            <tr class="tableRow">
                <td class="tableCell">Телефон:</td>
                <td class="tableCell">8 800 200 05 65</td>
            </tr>
            <!--<tr class="tableRow">-->
                <!--<td class="tableCell">Факс:</td>-->
                <!--<td class="tableCell">+375 162 29-90-29</td>-->
            <!--</tr>-->
            <tr class="tableRow">
                <td class="tableCell">Email:</td>
                <td class="tableCell">mail@tn.ru</td>
            </tr>
        </table>
    </div>

    <h2>Контакты региональных менеджеров</h2>
    <div class="tableContainer">
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td>Руководитель региональной коммерческой службы</td>
                <td>Глущук Ольга</td>
                <td>+79161700686</td>
                <td><a href="mailto:gluschuk@tn.ru" target="_blank"></a><a href="mailto:gluschuk@tn.ru">gluschuk@tn.ru</a>
                </td>
            </tr>
            <tr>
                <td>Москва,<br />Московская область</td>
                <td>Курятников Анатолий<br /></td>
                <td>&nbsp;+79856423129</td>
                <td><a href="mailto:kuryatnikov@tn.ru" target="_blank">kuryatnikov@tn.ru</a></td>
            </tr>
            <tr>
                <td>Москва,<br />Московская область</td>
                <td>Батуков Максим<br /></td>
                <td>&nbsp;+79856423129</td>
                <td><a href="mailto:batukov@tn.ru" target="_blank">batukov@tn.ru</a></td>
            </tr>
            <tr>
                <td>Владимирская область,<br />Вологодская область,&nbsp; <br />Ивановская область,&nbsp; <br />Калужская область,&nbsp; <br />Костромская область,&nbsp; <br />Рязанская область,<br />Тверская область, <br />Тульская область,<br />Ярославская область</td>
                <td>Семенов Сергей<br /></td>
                <td>&nbsp;+79163172250</td>
                <td><a href="mailto:semenov@tn.ru" target="_blank">semenov@tn.ru</a></td>
            </tr>
            <tr>
                <td>Белгородская область, <br />Воронежская область,&nbsp;&nbsp; <br />Брянская область, <br />Курская область, <br />Липецкая область,&nbsp; <br />Орловская область, <br />Смоленская область, <br />Тамбовская область</td>
                <td>Ничуговский Алексей<br /></td>
                <td>&nbsp;+79102433551</td>
                <td><a href="mailto:nichugovskiy@tn.ru" target="_blank">nichugovskiy@tn.ru</a></td>
            </tr>
            <tr>
                <td>Краснодарский край,<br />Крым,<br />Ставропольский край,<br />Закавказье,<br />Ростовская область,<br />Волгоградская область,<br />Астраханская область</td>
                <td>Крылов Михаил<br /></td>
                <td>&nbsp;+79892707880</td>
                <td><a href="mailto:m.krylov@tn.ru " target="_blank">m.krylov@tn.ru</a></td>
            </tr>
            <tr>
                <td>Кировская область,<br />Нижегородская обоасть,<br />Мордовия (Саранск)</td>
                <td>Ковалев Сергей<br /></td>
                <td>&nbsp;+79308169383</td>
                <td><a href="mailto:kovalev.sergey@tn.ru" target="_blank">kovalev.sergey@tn.ru</a></td>
            </tr>
            <tr>
                <td>Республика Татарстан,<br />Республика Чувашия,<br />Республика Мари Эл</td>
                <td>Семенова Виолетта<br /></td>
                <td>&nbsp;+79872294421</td>
                <td><a href="mailto:v.semenova@tn.ru" target="_blank">v.semenova@tn.ru</a></td>
            </tr>
            <tr>
                <td>Самарская область,<br />Ульяновская область,<br />Саратовская область,<br />Пензенская область, <br /></td>
                <td>Аброськин Никита</td>
                <td>&nbsp;+79879557100</td>
                <td><a href="mailto:abroskin@tn.ru" target="_blank">abroskin@tn.ru</a></td>
            </tr>
            <tr>
                <td>СЗФО,<br />Республика Беларусь<br /></td>
                <td>Герасимов Сергей<br /></td>
                <td>&nbsp;+79119427746</td>
                <td><a href="mailto:gerasimov@tn.ru" target="_blank">gerasimov@tn.ru</a><br /></td>
            </tr>
            <tr>
                <td>Красноярский край,<br />Кемеровская область,<br />Республика Хакассия,<br />Томская область,<br />Республика Тыва,<br />Иркутская область,<br />Забайкальский край,<br />Республика Бурятия,<br />Монголия</td>
                <td>Баласов Юрий<br /></td>
                <td>&nbsp;+79135384245</td>
                <td><a href="mailto:balasov@tn.ru" target="_blank">balasov@tn.ru</a></td>
            </tr>
            <tr>
                <td>Новосибирская область,<br />Омская область,<br />Алтайский край,<br />Республика Алтай</td>
                <td>Садырев Максим<br /></td>
                <td>&nbsp;+79134724807</td>
                <td><a href="mailto:sadyrev@tn.ru" target="_blank">sadyrev@tn.ru</a></td>
            </tr>
            <tr>
                <td>Республика Саха (Якутия),<br />Приморский край,<br />Хабаровский край,<br />Амурская область,<br />Сахалинская область,<br />Еврейская автономная область,<br />Чукотский автономный округ,<br /> Магаданская область</td>
                <td>Ивченко Евгений</td>
                <td>&nbsp;+79144205476</td>
                <td><a href="mailto:e.ivchenko@tn.ru" target="_blank">e.ivchenko@tn.ru</a></td>
            </tr>
            <tr>
                <td>Омская область,<br />Томская область</td>
                <td>Валов Валентин</td>
                <td>&nbsp;+79131491015</td>
                <td><a href="mailto:valov@tn.ru" target="_blank">valov@tn.ru</a></td>
            </tr>
            <tr>
                <td>Амурская область,<br />Еврейская автономная область,<br />Камчатский край,<br />Магаданская область,<br />Приморский край,<br />Сахалинская область,<br />Хабаровский край,<br />Чукотский автономный округ</td>
                <td>Баласов Юрий<br /></td>
                <td>&nbsp;+79135384245</td>
                <td><a href="mailto:balasov@tn.ru" target="_blank">balasov@tn.ru</a></td>
            </tr>
            <tr>
                <td>ХМАО, ЯНАО, <br />Тюменская область, <br />Свердловская область, <br />Курганская область, <br />Челябинская область, <br />Башкирия, <br />Удмуртия, <br />Оренбургская область, <br />Пермский край,<br />Казахстан</td>
                <td>Шивырталов Владимир<br /></td>
                <td>&nbsp;+79090018833</td>
                <td><a href="mailto:shivyrtalov@tn.ru" target="_blank">shivyrtalov@tn.ru</a></td>
            </tr>
            <tr>
                <td>Украина,<br />Молдова</td>
                <td>Стрибак Ярослав</td>
                <td>&nbsp;+380676211665</td>
                <td><a href="mailto:stribak@tn.ru" target="_blank">stribak@tn.ru</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/partners/"><strong>Контакты региональных представителей и подрядчиков</strong></a>
    <h2>Напишите нам</h2>

    <form action="/contacts_post/" class="form-block formFeedback" id="feedback" method="post">
        <!--<div class="form-row">-->
            <!--<label for="fieldCause" class="label">Цель обращения:</label>-->
            <!--<select name="targ" id="fieldCause" class="input input-select">-->
                <!--<option value="1">Общие вопросы</option>-->
                <!--<option value="2">Предложения сотрудничества</option>-->
                <!--<option value="3">Отзывы и предложения</option>-->
                <!--<option value="4">Техническая поддержка</option>-->
            <!--</select>-->
        <!--</div>-->
        <h3>Контактное лицо</h3>
        <div class="form-row">
            <label for="fieldName" class="label">Имя:</label>
            <input type="text" id="fieldName" name="fieldName" class="input">
        </div>
        <div class="form-row">
            <label for="fieldEmail" class="label">Email:</label>
            <input type="email" id="fieldEmail" name="fieldEmail" class="input">
        </div>
        <div class="form-row">
            <label for="fieldTel" class="label">Телефон:</label>
            <input type="tel" id="fieldTel" name="fieldTel" class="input">
        </div>
        <h3>Дополнительная информация</h3>
        <div class="form-row">
            <label for="fieldOrg" class="label">Организация:</label>
            <input type="text" id="fieldOrg" name="fieldOrg" class="input">
        </div>
        <div class="form-row">
            <label for="fieldCounrty" class="label">Страна:</label>
            <input type="text" id="fieldCounrty" name="fieldCounrty" class="input">
        </div>
        <div class="form-row">
            <label for="fieldCity" class="label">Населенный пункт:</label>
            <input type="text" id="fieldCity" name="fieldCity" class="input">
        </div>
        <div class="form-row">
            <label for="fieldComment" class="label">Комментарий:</label>
            ​<textarea id="fieldComment" name="fieldComment" class="input input-textarea"></textarea>
        </div>
        {#<div class="g-recaptcha" data-sitekey="6Lc95hUTAAAAAAyeUvG4ImNM0UKC5qzFfv3EmoZj"></div>#}
        {% csrf_token %}
        <div class="form-row formFieldRowButton">
            <button type="submit" class="button">Отправить</button>
        </div>
    </form>

</section>
<!-- ------------ SECTION CONTACTS END -->

{% endblock %}