{% extends 'base.html' %}
{% block title %}Поиск по сайту{% endblock %}

{% block content %}
<section class="row googleSearchContainer">
    <script>
        (function() {
            var cx = '005574427421664658606:gm3kemzqhh0';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
    </script>
    <gcse:search></gcse:search>
</section>
{% endblock %}