{% extends 'base.html' %}
{% load cache %}
{% load carousel %}
{% block content %}

<header class="row hero mx-video" data-img="/static/img/hero.jpg">
  <div class="heroContainerVideo">
    <video muted loop preload="auto" poster="/static/img/hero.jpg" id="heroVideo" autoplay>
      <source src="/static/video/hero.webm" type="video/webm">
      <source src="/static/video/hero.mp4" type="video/mp4">
    </video>
    <div class="heroContainerVideoShadow"></div>
  </div>
  <div class="heroContainerText">
    <h1 class="headerTitle">Полимерные мембраны ТехноНИКОЛЬ</h1>
    <span class="headerSubtitle">Мы создаем инновационные изоляционные решения на основе полимерных материалов и обеспечиваем их инжиниринговую поддержку.</span>
  </div>
  <a id="playHeroVideo" href="/mission/">Подробнее</a>
</header>

<!-- ------------ SECTION THE TYPES GALLERY -->
<div class="carousel galleryType">
  <div class="carouselContainer js-galleryType">
    <a class="preview previewType" href="/solution/category/roof/">
      <div class="previewImg" data-img="/static/img/typeRoofing.png"></div>
      <div class="previewText">
        <div class="previewTitle"><span>Кровельная</span>гидроизоляция</div>
        <div class="previewDesc">{% if membranecat_1 %}{{ membranecat_1.0.desc_ext }}{% else %}Лаконичный и ёмкий рекламно-информационный текст о разделе. Текст должен помогать пользователю в принятии решения, т.е. быть полезным.{% endif %}</div>
      </div>
    </a>
    <a class="preview previewType" href="/solution/category/base/">
      <div class="previewImg" data-img="/static/img/typeEngineering.png"></div>
      <div class="previewText">
        <div class="previewTitle"><span>Инженерная</span>гидроизоляция</div>
        <div class="previewDesc">{% if membranecat_2 %}{{ membranecat_2.0.desc_ext }}{% else %}Лаконичный и ёмкий рекламно-информационный текст о разделе. Текст должен помогать пользователю в принятии решения, т.е. быть полезным.{% endif %}</div>
      </div>
    </a>
    <a class="preview previewType" href="/solution/category/pool/">
      <div class="previewImg" data-img="/static/img/typeBasin.png"></div>
      <div class="previewText">
        <div class="previewTitle"><span>Бассейновая</span>гидроизоляция</div>
        <div class="previewDesc">{% if membranecat_3 %}{{ membranecat_3.0.desc_ext }}{% else %}Лаконичный и ёмкий рекламно-информационный текст о разделе. Текст должен помогать пользователю в принятии решения, т.е. быть полезным.{% endif %}</div>
      </div>
    </a>
  </div>
  <div class="carouselBar">
    <div class="carouselBarButtons js-arrows">
      <button type="button" class="carouselBarButtonLeft js-carouselBarButtonLeftType"></button>
      <button type="button" class="carouselBarButtonRight js-carouselBarButtonRightType"></button>
    </div>
  </div>
  <script async="async">
    wait('jQuery', function() {
      $(function() {
        $('.js-galleryType').warpless(
          {
            prevArrow: $('.js-carouselBarButtonLeftType'),
            nextArrow: $('.js-carouselBarButtonRightType'),
            slidesToShow: 1,
            slidesToScroll: 1
          })
      });
    });
  </script>
</div>
<!-- ------------ SECTION THE TYPES GALLERY END -->

<!-- ------------ SECTION BRANDS GALLERY -->
{% if brands %}
  <section class="row">
    <h2 id="brands" class="icon-membranes">Полимерные мембраны</h2>
    {% carousel brands %}
  </section>
{% endif %}
<!-- ------------ SECTION BRANDS GALLERY END -->

<!-- ------------ SECTION OBJECTS GALLERY -->

<section class="row mx-special">
  <div class="galleryObjectSpecial">
    <a href="/object/catalog/" class="preview galleryObjectSpecialHeader mx-inverse" data-img="/static/img/russia.svg">
      <!--<h2>Более<br>3500 объектов<span>с нашей гидроизоляцией по всей Росиии</span></h2>-->
      <h2>Более<br>60 000 000 м²<span>надежно защищено LOGICROOF</span></h2>
      <div class="galleryObjectSpecialMore icon-arrow-right">Показать все</div>
    </a>
    <a href="/object/moskva-siti/" class="preview mx-double" data-img="/static/images/moscow-city.jpg">
      <div class="previewText">
        <div class="previewTitle">Москва-Сити</div>
        <div class="previewMembranes">LOGICBASE V-SL (LOGICROOF T-SL)</div>
        <div class="previewSolutions">ТН-ФУНДАМЕНТ Проф Стена в грунте</div>
        <div class="previewSecondary">2015  •  20 000м²</div>
      </div>
    </a>
    <a href="/object/stadion-spartak/" class="preview">
      <div class="previewImg" data-img="/static/images/arena.jpg"></div>
      <div class="previewText arrowBottom">
        <div class="previewTitle">Открытие Арена</div>
        <div class="previewMembranes">LOGICROOF V-RP</div>
        <div class="previewSolutions">ТН-КРОВЛЯ Классик</div>
        <div class="previewSecondary">2015  •  36 000м²</div>
      </div>
    </a>
    <a href="/object/tsirk-na-vernadskogo/" class="preview mx-reverse">
      <div class="previewImg" data-img="/static/images/cirk.jpg"></div>
      <div class="previewText arrowTop">
        <div class="previewTitle">Цирк на Вернадского</div>
        <div class="previewMembranes">LOGICBASE V-SL (LOGICROOF T-SL)<span class="previewYetLable">1</span></div>
        <div class="previewSolutions">ТН-ФУНДАМЕНТ Эксперт<span class="previewYetLable">5</span></div>
        <div class="previewSecondary">2015  •  20 000м²</div>
      </div>
    </a>
    <a href="/object/glavnyi-mediatsentr-sochi/" class="preview mx-inverse" data-img="/static/images/sochi.jpg">
      <div class="previewText">
        <div class="previewTitle">Главный медиацентр Сочи</div>
        <div class="previewMembranes">LOGICROOF V-RP</div>
        <div class="previewSolutions">ТН-КРОВЛЯ Классик</div>
        <div class="previewSecondary">2012  •  102 000м²</div>
      </div>
    </a>
  </div>
  {% if objects %}
  <div class="galleryObjectSpecialS1">
    {% cache 600 index_object_cache %}
    <h2 id="objects" class="icon-objects">Объекты</h2>
    {% carousel objects %}
    {% endcache %}
  </div>
  {% endif %}
</section>

<!-- ------------ SECTION OBJECTS GALLERY END-->

<!-- ------------ SECTION ARTICLES GALLERY -->
{% if articles %}
<section class="row">
  <h2 id="articles" class="icon-knowledge">Статьи</h2>
  {% carousel articles 'Articles' %}
</section>
{% endif %}
<!-- ------------ SECTION ARTICLES GALLERY END -->

<!-- ------------ SECTION ABOUT -->

<section class="row">
  <div class="sectionAbout">
    <a href="/about/" class="sectionAboutHeader">
      <div class="sectionAboutHeaderBrandy">
        <svg><use xlink:href="/static/img/symbols.svg#svgLogo"></use></svg>
        <h2>ТехноНИКОЛЬ<br><span>о корпорации</span></h2>
      </div>
      <div class="sectionAboutMore icon-arrow-right">подробнее о компании</div>
    </a>
    <div class="sectionAboutText">
        <h4 class="sectionAboutTextHeading">Корпорация ТехноНИКОЛЬ является одним из крупнейших производителей и поставщиков кровельных, гидроизоляционных
          и теплоизоляционных материалов.</h4>
        <p>Работая на рынке стройматериалов с 1992 года, мы накопили существенный опыт в производстве материалов гидроизоляции, звукоизоляции и теплоизоляции, и сегодня предлагаем рынку новейшие материалы и технологии.</p>
        <a class="carouselBarMore" href="/about/">Подробнее о компании</a>
    </div>
  </div>
</section>

<!-- ------------ SECTION ABOUT END -->

<!-- ------------ SECTION ARTICLES GALLERY -->
{% if news %}
<section class="row">
  <h2 id="news" class="icon-news">Новости</h2>
  {% carousel news 'News' %}
</section>
{% endif %}
<!-- ------------ SECTION ARTICLES GALLERY END -->

{% endblock %}
