{% extends 'base.html' %}

{% block title %}
Наша миссия
{% endblock %}

{% block content %}

<section class="articleNarrow">
	<header class="articleBar">
		<!--<div class="articleBarDate">{{ item.add|date:"D, d F Y" }}</div>-->
		<div class="articleBarSocials">
			<!--<button class="articleBarButton icon-fb"></button>-->
			<!--<button class="articleBarButton icon-vk"></button>-->
			<!--<div class="articleBarButton" id="vk_like"></div><script type="text/javascript">VK.Widgets.Like("vk_like", {type: "vertical", height: 24});</script>-->
			<!--<button class="articleBarButton icon-email"></button>-->
		</div>
	</header>
	<h1>Наша миссия</h1>
	<p class="articleBref articleBrefNormal">Реализуя Миссию Корпорации ТехноНИКОЛЬ, мы создаем инновационные комплексные решения для изоляционных систем на основе полимеров и обеспечиваем их инжиниринговую поддержку. Наши решения сокращают сроки строительства, минимизируют стоимость владения и несут в себе запроектированное качество.</p>
	<!--<p><img src="/static/img/placeholder.svg"/></p>-->
	<p>Работая на рынке строительных материалов с 1992 год, мы накопили существенный опыт в производстве и поставке изоляционных систем, успешно вышли на международный рынок, приобрели глубокие экспертные знания в строительной отрасли.</p>
	<p>Мы уверены, что дальнейший успех нашей компании зависит не только от правильно выбранной стратегии, от производства качественных материалов, но и в большей степени от уровня доверия как внутри компании, так и с нашими клиентами. Мы ориентированы на долгосрочное эффективное сотрудничество. Мы досконально разбираемся в производстве и применении широкого спектра строительных материалов. Мы гарантируем, что наши решения эффективны, а сервисы удобны для успешной реализации конкретных задач наших клиентов сегодня и в будущем.</p>
	<h2>Наш путь к успеху основан на ключевых ценностях нашей компании</h2>

	<h3>Надежные отношения с клиентом</h3>
	<p>Мы создаем долгосрочные отношения с клиентами. Мы ориентируемся на потребности клиентов в работе и делаем всё, чтобы однажды купивший нашу продукцию стал постоянным клиентом и рекомендовал нас своим друзьям, знакомым и партнерам. Мы высоко ценим доверие клиента и стремимся оправдать его.</p>

	<h3>Наше доброе имя</h3>
	<p>Мы дорожим нашей репутацией, которую заслужили за годы упорной работы. Наши клиенты знают: ТехноНИКОЛЬ – это надежность и порядочность. Мы ценим такое отношение и понимаем, что наше доброе имя – наш капитал.</p>

	<h3>Профессионализм и постоянное совершенствование</h3>
	<p>Мы считаем, что каждая работа должна осуществляться профессионалом и достигаем такой экспертизы в своей ежедневной работе. Каждый сотрудник в нашей компании постоянно развивается и совершенствует свое мастерство. Мы эксперты на рынке изоляционных систем.</p>

	<h3>Безопасность</h3>
	<p>Жизнь человека является высшей ценностью в Компании. Мы не только неукоснительно соблюдаем существующие правила безопасности, но и постоянно работаем над их совершенствованием. Мы бережно относимся к окружающей среде и ведём свою деятельность в соответствии со всеми требованиями экологической безопасности.</p>

	<h3>Командная работа</h3>
	<p>Каждый сотрудник компании крайне важен, он привносит свой уникальный опыт, знания и умения в компанию, делает ее успешной и отличной от остальных игроков на рынке. Наша команда – это единый живой организм, мы строим отношения на взаимном уважении и поддержке, мы вместе решаем сложные задачи и добиваемся выдающихся результатов.</p>

</section>

{% endblock %}
