{% extends 'base.html' %}
{% block title %}Партнеры, подрядчики и места продаж{% endblock %}
{% block content %}

<!-- ------------ SECTION HEADLINE -->
<header class="row headline">
    <h1 class="headerTitle">Партнеры, подрядчики и места продаж</h1>
    <span class="headerSubtitle">Лаконичный и ёмкий рекламно-информационный текст о разделе. Текст должен помогать пользователю в принятии решения, т.е. быть полезным.</span>
</header>
<!-- ------------ SECTION HEADLINE END -->

<!-- ------------ SECTION IFRAME -->
<section class="row sectionPartners">
    <!--<div class="iframeContainer">-->
    <iframe class="iframe" src="//contacts.tn.ru?parent_url=http://logicroof.ru/&use_get=true" frameborder="0"></iframe>
    <!--</div>-->
</section>
<!-- ------------ SECTION IFRAME END -->

{% endblock %}

{% block scriptsAppend %}
<!--<script>wait('jQuery', function(){ $('iframe').iFrameResize({checkOrigin:false}) })</script>-->
<!--<script src="/static/libs/iframe-resizer/js/iframeResizer.min.js"></script>-->
<script>
    wait('jQuery', function(){iFrameResize({
        checkOrigin: false,
        bodyMargin: 'auto',
        scrolling: true,
        sizeWidth: false,
        sizeHeight: false,
        //maxWidth: 970,
        //maxHeight: 500
    }, 'iframe')})
</script>
{% endblock %}