{% extends 'base.html' %}

{% block title %}
Производство полимерных мембран ТехноНИКОЛЬ
{% endblock %}

{% block content %}

<section class="articleNarrow">
	<header class="articleBar">
		<!--<div class="articleBarDate">{{ item.add|date:"D, d F Y" }}</div>-->
		<div class="articleBarSocials">
			<!--<button class="articleBarButton icon-fb"></button>-->
			<!--<button class="articleBarButton icon-vk"></button>-->
			<!--<div class="articleBarButton" id="vk_like"></div><script type="text/javascript">VK.Widgets.Like("vk_like", {type: "vertical", height: 24});</script>-->
			<!--<button class="articleBarButton icon-email"></button>-->
		</div>
	</header>
	<h1>Производство полимерных мембран ТехноНИКОЛЬ</h1>
	<h2 id="production-video">Современное производство</h2>
	<div class="video-container">
		<iframe src="https://www.youtube.com/embed/Mcye0mFKXUE" frameborder="0" allowfullscreen="" class="video"></iframe>
		<!--<div class="articleVideoDesc">Подпись к фотографии или видео</div>-->
	</div>
	<!--<p class="articleBref articleBrefColored"></p>-->
	<!--<p><img src="/static/img/placeholder.svg"/></p>-->
	<h2>Полимерные мембраны ТехноНИКОЛЬ</h2>
	<p>Полимерные мембраны ТехноНИКОЛЬ – современные гидроизоляционные материалы, с которыми связан принципиально новый подход к устройству кровель и подземной гидроизоляции. Российские климатические условия диктуют свои требования к качеству гидроизоляционных материалов и в частности, к полимерным мембранам. Европейский климат мягче российского, поэтому стандартные западные материалы могут применяться в России с большими ограничениями.</p>
	<p><img src="/static/images/article/IMG_4110.jpg"/></p>
	<p>Решив предложить клиенту полимерные мембраны под собственной торговой маркой, компания ТехноНИКОЛЬ пошла по пути создания собственного продукта, уделив огромное внимание защите материала от внешних факторов.</p>
	<p>В 2008 году компания ТехноНИКОЛЬ запустила первый в России завод полного цикла по производству ПВХ мембран в Рязани. Производственная линия, установленная на заводе Лоджикруф, не имела аналогов в мире. Была внедрена уникальная ко-экструзионная технология производства, которая в отличие от традиционных методов, позволяет гарантировать клиентам непревзойденное качество материала: идеальная гомогенность структуры гидроизоляционного материала, отсутствие пустот по всей поверхности мембраны, и как следствие высокие характеристики продукта и долгий срок службы.</p>
	<p><img src="/static/images/article/photo_01.jpg"/></p>
	<p>В 2014 году была запущена вторая экструзионная линия по производству ПВХ мембран на заводе Лоджикруф.<b> Общая мощность производства составляет 20 000 000 кв м в год</b>.</p>
	<p>С 2015 года полимерные мембраны LOGICROOF также производятся на заводе в Турине, Италия. Компания ТехноНИКОЛЬ является международным производителем гидроизоляционных материалов.</p>
	<h2>Уникальная технология TRI-P®</h2>
	<p>Полимерные мембраны LOGICROOF и ECOPLAST производятся по уникальной технологии TRI-P®. Главная причина старения гидроизоляционных материалов заключается в агрессивном воздействии окружающей среды. Особенно губительным является воздействие ультрафиолета, в результате которого происходит разрушение материала. Под воздействием ультрафиолета происходит разрушение большинства химических связей в полимерах, отчуждение пластификатора и его испарение.</p>
	<p><img src="/static/images/article/tri-p.png"/></p>
	<p>Таким образом, происходит постепенное разрушение поверхности материала и образование трещин. Именно здесь необходимо обеспечить надежную защиту материала от ультрафиолета. Безусловно, все современные производители используют абсорбенты ультрафиолета, которые призваны обеспечивать такую защиту. Но только технология TRI-P®, реализованная на заводе Лоджикруф, позволяет поместить абсорбенты именно там, где они особенно нужны – в специальный защитный верхний слой. Таким образом, создав своеобразный «зонтик» в виде верхнего слоя, толщиной 2 мкм. Этот слой также содержит специальные стабилизаторы, блокирующие миграцию пластификаторов из основных слоев мембраны.</p>
	<h2>Высокотехнологичное оснащение завода</h2>
	<p>На заводе «Лоджикруф» внедрены электронная система контроля толщины защитного и гидроизоляционного слоев, система оптического контроля поверхности материала, гарантирующая 100% отсутствие дефектов на поверхности полимерных мембран.</p>
	<p><img src="/static/images/article/IMG_4135.jpg"/></p>
	<p>Каждый рулон полимерных мембран LOGICROOF и ECOPLAST упаковываются в индивидуальную упаковку, которая защищает рулон от загрязнений и воздействия ультрафиолета. Это особенно актуально в условиях российских строительных площадок. Так как загрязнения в области будущего сварного шва могут привести к получению некачественного соединения.</p>
	<p>Завод «Лоджикруф» имеет одну из лучших по оснащению специальным оборудованием и квалификации персонала Лабораторию в России. К примеру, в ней установлена уникальная установка с криогенным охлаждением для испытания образцов полимерной мембраны на ударную прочность при отрицательных температурах. Камера искусственного старения позволяет в ускоренном режиме проводить оценку долговечности мембраны, а аппарат горячего вальцевания позволяет в лабораторных условиях получать образцы пленок по измененным рецептурам. Лаборатория аккредитована Федеральной службой по аккредитации. </p>
	<h2>Международный контроль качества</h2>
	<p>Кроме того, ведется активное сотрудничество в области качества кровельных материалов с авторитетными отечественными и зарубежными научными организациями. Среди них ОАО «ЦНИИПромзданий», старейший в России НИИ в области строительства промышленных зданий. В ОАО «ЦНИИПромзданий» были проведены испытания мембран на старение, определение коэффициентов скольжения мембран с тисненой поверхностью.</p>
	<!--<p><img src="/static/images/article/IMG_4216.jpg"/></p>-->
	<p>Наши материалы не содержат свинец и другие компоненты, запрещенные в Европе, что делает их экологически безопасными, не оказывает вредного влияния на окружающую среду.</p>
	<p>Завод Лоджикруф имеет международную сертификацию ISO 9001, что свидетельствует о соответствии всех производственных процессов международным стандартам качества.</p>

</section>

{% endblock %}
