{% extends 'base.html' %}
{% block title %}Выбрать решение{% endblock %}

{% block content %}

<!-- ------------ SECTION HEADLINE -->
<header class="row headline">
    <h1 class="headerTitle">Рассчитать потребность в материалах</h1>
    <span class="headerSubtitle">Лаконичный и ёмкий рекламно-информационный текст о разделе. Текст должен помогать пользователю в принятии решения, т.е. быть полезным.</span>
</header>

<!-- ------------ SECTION HEADLINE END -->


<!-- ------------ SECTION IFRAME -->

<section class="row solutionCalc">
    <iframe class="iframe" src="http://nav.tn.ru/systems" frameborder="0"></iframe>
</section>

<!-- ------------ SECTION IFRAME END -->

{% endblock %}

{% block scriptsAppend %}
<script>
    wait('jQuery', function(){iFrameResize({
        checkOrigin: false,
        bodyMargin: 'auto',
        scrolling: true,
        sizeWidth: false,
        sizeHeight: false,
        //maxWidth: 970,
        //maxHeight: 500
    }, 'iframe')})
</script>
{% endblock %}