{% extends 'base.html' %}
{% block title %}Рассчитать потребность в материалах{% endblock %}
{% block content %}

<!-- ------------ SECTION HEADLINE -->
<header class="row headline">
    <h1 class="headerTitle">Рассчитать потребность в материалах</h1>
    <span class="headerSubtitle">Лаконичный и ёмкий рекламно-информационный текст о разделе. Текст должен помогать пользователю в принятии решения, т.е. быть полезным.</span>
</header>

<!-- ------------ SECTION HEADLINE END -->


<!-- ------------ SECTION IFRAME -->

<section class="row solutionCalc">
    <!--<object width="816" height="495" data="/static/swf/FlatRoofCalculator.swf"></object>-->
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
        <param name="bgcolor" value="#FFFFFF">
        <param name="base" value="/static/swf/">
        <param name="src" value="/static/swf/FlatRoofCalculator.swf">
        <embed width="816" height="495" type="application/x-shockwave-flash" width="" height="" src="/static/swf/FlatRoofCalculator.swf" base="/static/swf/" bgcolor="#FFFFFF">
    </object>
</section>

<!-- ------------ SECTION IFRAME END -->

{% endblock %}