{% extends 'base.html' %}
{% block title %}Учебные центры{% endblock %}
{% block content %}

<!-- ------------ SECTION HEADLINE -->
<header class="row headline">
    <h1 class="headerTitle">Обучение</h1>
    <span class="headerSubtitle">Лаконичный и ёмкий рекламно-информационный текст о разделе. Текст должен помогать пользователю в принятии решения, т.е. быть полезным.</span>
</header>
<!-- ------------ SECTION HEADLINE END -->

<!-- ------------ SECTION TRAININGS -->
<section class="articleNarrow">

    <div>
        <form action="" class="form-block formTrainings">
            <div class="form-row">
                <label for="fieldCity" class="label">Наши учебные центры:</label>
                <select name="" id="fieldCity" class="input input-select">
                    <option value="1">Хабаровск</option>
                    <option value="2">Москва</option>
                </select>
            </div>
        </form>
        <div class="trainingsItem" data-index="1">
            <h2>Хабаровск</h2>
            <p>680015, Россия,  г. Хабаровск, проспект 60 лет Октября, 8. Территория завода Базалит-ДВ</p>
            <img class="articleImg" src="//www.insight-experience.com/wp-content/uploads/2013/07/accelerating-billboard.jpg" alt="">
            <div class="tableContainer">
                <table class="table">
                    <tr class="tableRow">
                        <td class="tableCell">Руководитель учебного центра</td>
                        <td class="tableCell">Кузьменко Валерий</td>
                    </tr>
                    <tr class="tableRow">
                        <td class="tableCell">Телефон:</td>
                        <td class="tableCell"><a href="tel:+79144195076">+7 914 419 5076</a></td>
                    </tr>
                    <tr class="tableRow hyperlink">
                        <td class="tableCell">Email:</td>
                        <td class="tableCell">
                            <a href="mailto:kuzmenko@tn.ru">kuzmenko@tn.ru</a>,
                            <a href="mailto:seminar@tn.ru">seminar@tn.ru</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="trainingsItem" data-index="2">
            <h2>Москва</h2>
            <p>680015, Россия,  г. Хабаровск, проспект 60 лет Октября, 8. Территория завода Базалит-ДВ</p>
            <img class="articleImg" src="//www.insight-experience.com/wp-content/uploads/2013/07/accelerating-billboard.jpg" alt="">
            <div class="tableContainer">
                <table class="table">
                    <tr class="tableRow">
                        <td class="tableCell">Руководитель учебного центра</td>
                        <td class="tableCell">Кузьменко Валерий</td>
                    </tr>
                    <tr class="tableRow">
                        <td class="tableCell">Телефон:</td>
                        <td class="tableCell"><a href="tel:+79144195076">+7 914 419 5076</a></td>
                    </tr>
                    <tr class="tableRow hyperlink">
                        <td class="tableCell">Email:</td>
                        <td class="tableCell">
                            <a href="mailto:kuzmenko@tn.ru">kuzmenko@tn.ru</a>,
                            <a href="mailto:seminar@tn.ru">seminar@tn.ru</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="trainingsOrder">
            <a href="/contacts/#feedback" class="trainingsOrderButton">Заказать обучение</a>
        </div>
    </div>

</section>
<!-- ------------ SECTION TRAININGS END -->

{% endblock %}



{% block scriptsAppend %}

<script>
    wait('jQuery', function(){
        function change(){
            var $idx = parseInt($('#fieldCity').val());
            $('.trainingsItem').css('display', 'none');
            $(".trainingsItem[data-index=" + $idx + "]").css('display', 'block');
        }
        change();
        $('#fieldCity').change(function () {change()});
    })
</script>

{% endblock %}