{% extends 'base.html' %}
{% block title %}
  {{ item.title_meta }}
{% endblock %}
{% block content %}

<!-- ------------ SECTION HEADLINE -->
<header class="row headline">
	<h1 class="headerTitle">{{ item.title }}</h1>
	{# <span class="headerSubtitle">{{ item.desc }}</span> #}
</header>
<!-- ------------ SECTION HEADLINE END -->

<!-- ------------ SECTION ARTICLES CATALOG -->
<section class="row">
	<div class="catalog catalogArticle">
		{% for article in items %}
		<a class="preview previewArticle" href="/article/{{ article.slug }}">
			<div data-original="{% if article.img_p %}{{ article.img_p.url }}{% elif article.img_main %}{{ article.img_main.url }}{% else %}/static/img/placeholder.svg{% endif %}" class="previewImg" ></div>
			<div class="previewText">
				<div class="previewTitle">{{ article.title }}</div>
				<div class="previewSecondary">{{ article.add|date:"D, d F Y" }}</div>
			</div>
		</a>
		{% endfor %}
	</div>
</section>
<!-- ------------ SECTION ARTICLES CATALOG END -->

{% endblock %}

{% block scriptsAppend %}
<script>
	wait('jQuery', function(){
		var $catalog = $('.catalog');
		function $loadPath(prefix, sufix){
			return prefix + sufix
		}
		var $loadProcessing = false;
		$( window ).scroll(function(){
			var $catalog = $('.catalog');
			var $offset = 72*$fontSizeFactor();
			var $wh = $(window).scrollTop() + $(window).height() + $offset;
			var $ch = $catalog.offset().top + $catalog.height();
			function $lazyLoadPath(){
				return $loadPath('/article/category/ll/{{ item.slug }}/', $('.catalog .preview').length + '/' + '6/')
			}
			if ($wh >= $ch && $loadProcessing == false) {
				$loadProcessing = true;
				//console.log($lazyLoadPath());
				$catalog.append($('<div style="display:flex;flex-flow:row wrap;">').load($lazyLoadPath(), function(){
					$loadProcessing = false;
					$('.catalog .previewImg').lazyload();
					//console.log('loaded');
					//console.log($loadProcessing);
					//console.log($lazyLoadPath());
				}));
			}
		});
	});
</script>
{% endblock %}