{% extends 'base.html' %}
{% load carousel %}

{% block title %}
  {{ item.title_meta }}
{% endblock %}
{% block scriptsPrependHead %}
<!--<script type="text/javascript" src="//vk.com/js/api/openapi.js?121"></script>-->
<!--<script type="text/javascript">-->
	<!--VK.init({-->
		<!--apiId: 5236825,-->
		<!--onlyWidgets: true-->
	<!--});-->
<!--</script>-->
{% endblock %}
{% block content %}

<section class="articleNarrow">
	<header class="articleBar">
		<div class="articleBarDate">{{ item.add|date:"D, d F Y" }}</div>
		<div class="articleBarSocials">
			<!--<button class="articleBarButton icon-fb"></button>-->
			<!--<button class="articleBarButton icon-vk"></button>-->
			<!--<div class="articleBarButton" id="vk_like"></div><script type="text/javascript">VK.Widgets.Like("vk_like", {type: "vertical", height: 24});</script>-->
			<!--<button class="articleBarButton icon-email"></button>-->
		</div>
	</header>
	<h1>{{ item.title }}</h1>
	<p class="articleBref">{{ item.desc }}</p>
	<p><img src="{% if item.img_main %}{{ item.img_main.url }}{% elif item.img_p %}{{ item.img_p.url }}{% else %}/static/img/placeholder.svg{% endif %}"/></p>
	{% autoescape off %}{{ item.body }}{% endautoescape %}
</section>

<!-- ------------ SECTION ARTICLES GALLERY -->
{% if other_article %}
<section class="row">
	<h2 id="articles" class="icon-knowledge">Другие статьи</h2>
	{% carousel other_article %}
</section>
{% endif %}
<!-- ------------ SECTION ARTICLES GALLERY END -->

{% endblock %}
