{% for article in items %}
  <a class="preview previewArticle" href="/article/{{ article.slug }}">
    <div data-original="{% if article.img_p %}{{ article.img_p.url }}{% elif article.img_main %}{{ article.img_main.url }}{% else %}/static/img/placeholder.svg{% endif %}"
         class="previewImg"></div>

    <div class="previewText">
      <div class="previewTitle">{{ article.title }}</div>
      <div class="previewSecondary">{{ article.add|date:"D, d F Y" }}</div>
    </div>
  </a>
{% endfor %}
<script>wait('jQuery', function () {$(".catalog .previewImg").lazyload();});</script>