#article
  display flex
  flex-flow column nowrap
  flex 1 0 auto
  size inherit auto
  margin-top $topbarHeight
  +mq(4)
    margin-top 0

.articleNarrow
  @extend .c8
  display flex
  flex-flow column nowrap
  flex 0 0 auto
  align-self center

  +mq(1, true)
    width c4

  h1
    @extend h2
    margin-top 0
    +mq(1)
      font-size $fontSizeHeader3*1.2
      pw g1
  h2
    @extend h3

  h3
    @extend h4

  ul
    padding-right g2
    +mq(1)
      padding-right g1
    ul
      padding-right 0
      +mq(1)
        padding-right 0
    & + h3
      margin-top g1 !important

  > ul
  > ol
    padding-left g4
    +mq(1)
      padding-left g3

  h4
    @extend h5
  img
    width 100%
    height auto
    mh g1 g2

.articleBar
  @extend $insetBar
  min-height $topbarHeight
  &Socials
    display flex
    flex-flow row nowrap
    flex 0 0 auto
  &Button
    @extend $insetBarIconButton

$graphicContent
  pw g2
  size 100% auto
  margin-top g2
  +mq(1)
    padding-left 0 !important
    padding-right 0 !important

.articleBref
  font-size $fontSizeHeader4
  line-height $lineHeightHeader4
  color $colorTextSecondary
  //margin-bottom g2
  &Normal
    color $colorTextPrimary


.articleNarrow
  img
  video
    @extend $graphicContent
p
  .articleNarrow &
    img
    video
      mh g1 0
      padding-left 0 !important
      padding-right 0 !important
      overflow hidden
  .articleNarrow h3 + &
    mh g1 0
  .articleBref + &
    margin-top g2

.articleImg
  @extend $graphicContent
  $ratio = (9/16)
  size 100% $ratio*(c8 - g2*2)
  +mq(1)
    height $ratio*c4 !important
  +mq(1, '#main')
    height $ratio*(c4 - g2*2)


.articleVideo
  display flex
  flex-flow column nowrap
  flex 0 0 auto

.article-media-description
  @extend $paragraphSecondary, $insetBar
  ph ((g4 - $lineHeightParagraph)/2)
  //p + &
  //  margin-top -1*g2

.video-container
  $ratio = (9/16)
  $padding = g2
  size 100% $ratio*(c8 + $padding*2)
  max-width c8
  mh g2
  pw g2
  +mq(1)
    height $ratio*c4 !important
    pw 0
  +mq(1, '#main')
    height $ratio*(c4 + $padding*2)
  iframe
    size 100%