.carousel
  @extend .row
  display flex
  flex-flow column nowrap
  flex 0 0 auto
  &Container
    display flex
    flex-flow row nowrap
    flex 0 0 auto
    pw g1
    overflow hidden
    justify-content flex-start
    +mq(1)
      pw 0
    .galleryType &

      bh 1px solid $colorBorderLight
      background-color $colorHeroLight

  .warpless-list
    padding-left g1
  .warpless-track
    display flex
    flex-flow row nowrap
    flex 0 0 auto

  &.galleryType
    padding-top 0 !important


.carouselBar
  @extend $insetBar
  $boxshadowBorderOutlineTop($colorBorderLight)

  .galleryType &
    box-shadow none !important
    z-index 1
    +mq(1)
      margin-top -1*c1
    +mq(1, true)
      justify-content center
      margin-top -1*c1
    +mq(2, true)
      margin-top -1*c1
    +mq(3, true)
      display none

  &Button
    &s
      display flex
      flex-flow row nowrap
      flex 0 0 auto
    &Left
    &Right
      @extend $buttonArrow
      mh (($topbarHeight - $buttonHeight)/2)
      width g4
      justify-content center
      align-items center
      outline none
      background-color transparent
      padding 0
      transition all $transitionDuration ease-out
      box-shadow none
      &:before
        @extend $iconsFontFamily
        justify-content center
        align-items center
      &:hover
        background-color $colorButtonBorderRegular
        transition-duration .1s
      &:active
        color $colorWhite
    &Left
      border-top-right-radius 0
      border-bottom-right-radius 0
      &:before
        @extend .icon-arrow-left:before
    &Right
      border-top-left-radius 0
      border-bottom-left-radius 0
      border-left 0 none
      &:before
        @extend .icon-arrow-right:before
  &More
    @extend $buttonGone
    mh (($topbarHeight - $buttonHeight)/2)
    .galleryType &
    .galleryBrand &
      display none

.galleryObjectSpecial
  display flex
  flex-flow row wrap
  flex 0 0 auto
  margin g2 0
  bh 1px solid $colorBorderLight
  +mq(1)
    display none
  +mq(1, true)
    display none
  &S1
    display none
    +mq(1)
      display block
    +mq(1, true)
      display block

  &More
    display flex
    flex-flow row nowrap
    flex 0 0 auto
    justify-content flex-end
    align-items center
    background-color transparent
    white-space nowrap
    color $colorWhite
    mw g2
    padding-right g1
    margin-bottom g3
    text-transform lowercase
    &:before
      margin-left g1
      order 1

  .preview
    display flex
    flex-flow column nowrap
    flex 0 0 auto
    size c4 (c4+g3)
    background-clip border-box
    overflow hidden
    background-size cover
    padding 0
    &:before
      content ''
      top 0
      bottom 0
      left 0
      right 0
      size 100%
      position absolute
      transition all $transitionDuration ease-in-out
      z-index 2
      pointer-events none
    &:hover:before
      background-color rgba($colorPrimary, 0.12)
    &.mx-double
      +mq(3, true)
        width c8
    &.mx-reverse
      flex-direction column-reverse
      justify-content space-between
    &.mx-inverse
      color $colorWhite
      text-shadow: 1px 1px 2px $colorTextShadowMedium
      .previewYetLable
      .previewSecondary
        color $colorTextSecondaryInverse
    &:last-child
      display none !important
      +mq(3, true)
        display flex !important
        flex 0 0 auto

    &Img
      height 100%
      + .previewText
        height ((c4+g3)/2)
        display flex
        flex 1 0 auto
    &Text
      padding g1 g1 g1 g2
    &YetLable
      color

  &Header
    background-color $colorPrimarySpecial
    background-size cover
    background-position g4 -1*g4
    justify-content space-between
    *
      text-shadow none
    h2
      width 100%
      display flex
      flex-flow column nowrap
      flex 1 0 auto
      align-items flex-start
      span
        font-size g1

  //.arrowTop
  //.arrowBottom
  //  position relative
  //  &:before
  //    position absolute
  //    opacity 1
  //    //z-index 1000000
  //    -webkit-transition 0.3s ease
  //    -moz-transition 0.3s ease
  //    pointer-events none
  //    content ''
  //    background transparent
  //    border 6px solid transparent
  //    left 10%
  //.arrowTop
  //  &:before
  //    border-top-color $colorWhite
  //    bottom 0
  //    margin 0 0 -10px 0
  //.arrowBottom
  //  &:before
  //    border-bottom-color $colorWhite
  //    top 0
  //    margin -10px 0 0 0