.listDocs
  display flex
  flex-flow column nowrap
  flex 0 0 auto
  pw g1
  +mq(1)
    pw 0
  h3
    pw g1
  &Item
    @extend $tableRow
    display flex
    flex-flow row nowrap
    flex 0 0 auto
    mw g1
    justify-content space-between
    overflow hidden
    &:first-of-type
      margin-top g1
    +mq(1, '#main')
      flex-direction column
      align-items flex-start
      text-align left

    transition-property border-bottom, min-height, max-height, height
    transition-duration $transitionDuration
    transition-timing-function ease-out
    &:hover
      border-bottom 1px solid $colorSecondary

    &Name
      @extend $tableCell
      text-align left
      +mq(1)
        padding-bottom 0
      +mq(1, '#main')
        padding-bottom 0
    &Files
      @extend $tableCell
      display flex
      flex-flow row nowrap
      flex 0 0 auto
      justify-content flex-end
      +mq(1)
        padding-left 0 !important
      +mq(1, '#main')
        padding-left 0 !important

      {$iconsSelector}
        &:before
          color $colorPrimary
          transition color $transitionDuration ease-in-out
          pw g1 0
          +mq(1, true)
            justify-content flex-start
            pw 0 g1
        &:hover:before
          color $colorSecondary

      +mq(1, '#main')
        justify-content flex-start
        ph g1
        padding-left 0
      +mq(1)
        padding-left g1 !important

  &MoreButton
    order 99
    margin-top g1
    padding-left g1
    @extend $flexRowWithIcon
    height $buttonHeight
    color $colorButtonGoneBorder
    transition all $transitionDuration ease-in-out !important
    &:before
      transition all $transitionDuration ease-in-out !important
    &:hover
    &:hover:before
      color $colorSecondary
    //+mq(1)
    //  padding-left g2

  &Groups
    overflow-x visible
    {$iconsSelector}
      &:before
        pw g2 0
        +mq(1)
          pw 0 g2

  input[type=checkbox]
    display none !important
    + .listDocsMoreButton
      cursor pointer
      span
        white-space pre-wrap
    &:not(:checked)
      + .listDocsMoreButton
        &:before
          @extend .icon-plus:before
        .listDocsMoreButtonExpanded
          display none
      ~ .listDocsItem:nth-of-type(n+4)
        display none
    &:checked
      + .listDocsMoreButton
        &:before
          @extend .icon-minus:before
        .listDocsMoreButtonCollapsed
          display none
      ~ .listDocsItem:nth-of-type(n+4)
        display flex
        flex 0 0 auto