footer.main
  @extend .row
  align-items center
  height c1
  background-color $colorFooterMain
  color $colorFooterMainFont
  justify-content flex-end
  display flex
  flex 0 0 auto
  margin-top g4
  .footerCopyright
    //@extend .c3
    text-align right
    display flex
    justify-content flex-end
    pw g2
  .footer-contacts
    padding-left g2