.input
  @extend $buttons
  text-transform none
  flex-shrink 1
  //appearance none
  &.mx-full
    width 100%

  &-textarea
    ph (($buttonHeight - $lineHeightParagraph)/2)
    overflow-x hidden
    white-space normal
    resize vertical
  &-search
    &::-ms-clear
      display none
  &-select
    option
      &.inactive
        color $colorTextSecondary
        //display none


.input-submit-search
  width g3 !important
  padding 0 !important
  &:before
    font-size $fontSizeParagraph
    padding 0 !important

.input-search-clean
  display none!important
  size g3
  mw -1*g4 g1
  align-self flex-end

.form-block
  ph g1 g2
  pw g2
  background-color $colorHeroLight
  border 1px solid $colorBorderLight
  border-radius 1px
  +mq(1)
    pw g1
  +mq(1, true)
    border-left 0 none
    border-right 0 none
    border-radius 0
  +mq(2)
    border-left 0 none
    border-right 0 none
    border-radius 0

  .label
    +mq(1, true)
      width 100%
  .input
    width c4
    background-color $colorWhite
    +mq(1, true)
      margin-top (g1/2)
      width 100%
    & + .input
      margin-left g1
      +mq(1, true)
        margin-left 0
  .button
  [class*="button-"]
  [class*="input-submit-"]
    @extend $buttonCTA
    width 100%
    mw 0
    +mq(1, true)
      align-self flex-end
  h3
    pw 0



.formFeedback
  margin-top g2
  +mq(1, true)
    margin-bottom -1*g4
  +mq(2)
    margin-bottom -1*g4

.form-float
  @extend .c8
  display flex
  flex-flow column nowrap
  flex 0 0 auto
  mh g1


.form-row
  display flex
  flex 0 0 auto
  flex-flow row nowrap
  margin-top g1
  justify-content space-between
  align-items center
  h3 + &
    margin-top g2
  +mq(1, true)
    flex-direction column
    align-items flex-start

.formFieldRowButton
  margin-top g2
  justify-content flex-end

.formFilterObjects
  //justify-content space-between
  &Container
    display flex
    justify-content center

  //.input-select
  //  @extend $buttons
  //  padding-right g1
  //  margin-top g1
  //  +mq(1, '#main')
  //    //mw $widthPreviewMargin
  //    width $widthPreviewS1 - $widthPreviewMargin*2
  //  +mq(1)
  //    width c4 - $widthPreviewMargin*2 !important
  //  +mq(2, '#main')
  //    //mw $widthPreviewMargin
  //    width $widthPreviewS2 - $widthPreviewMargin*2
  //  +mq(3, '#main')
  //    //mw $widthPreviewMargin
  //    width $widthPreviewS3 - $widthPreviewMargin*2

  option
    display flex
    flex 0 0 auto
    flex-flow row nowrap
    align-items center
    pw g1
    height g2

.form-doc-search
  .input-search
    width 100% !important
    margin-right g1
  .form-row--search
    flex-direction row !important
  .form-row
    justify-content flex-start
