//$resetAll
//  margin 0 !important
//  padding 0 !important
//  border 0 none !important
//  outline 0 none !important
//  box-shadow none !important
//  width auto !important
//  height auto !important

$resetAll
  margin 0 !important
  padding 0 !important
  border 0 none !important
  outline 0 none !important
  box-shadow none !important
  width auto !important
  height auto !important
  font-family $fontFamilyAvenir !important
  font-size   $fontSizeParagraph !important
  line-height $lineHeightParagraph !important
  font-weight $fontWeightRegular !important
  color $colorTextPrimary !important

$buttonsImportant
  transition all $transitionDuration ease-in-out !important
  border-radius $buttonsRadius !important
  height $buttonHeight !important
  padding-left (4/3)*g1 !important
  padding-right (4/3)*g1 !important
  font-family $fontFamilyAvenir !important
  font-size   $fontSizeParagraph !important
  line-height $lineHeightParagraph !important
  font-weight $fontWeightRegular !important

$hyperlinkStyle
  color $colorHyperlink !important
  text-decoration none !important
  border-bottom 1px dashed transparent !important
  transition-property color, border-bottom !important
  transition-duration $transitionDuration !important
  transition-timing-function ease-in-out !important
  &:hover
    color $colorHyperlinkHover !important
    *
      color $colorHyperlinkHover !important
  &:visited
    color $color-link-visited !important
    *
      color $color-link-visited !important
  &:focus
    outline none !important

.gsc-control-cse
  @extend $resetAll
  *
    @extend $resetAll

.gsc-adBlockNoHeight
.gsc-thumbnail
.gcsc-branding
  display none !important

input.gsc-input
input.gsc-search-button
  @extend $buttonsImportant

input.gsc-input
  border solid 1px $colorButtonBorderRegular !important
  background-image none !important
  width 100% !important
  //margin-right g1 !important

a > span.gscb_a
  width g3 !important
  justify-content center
  margin-left -1*g3 !important
  align-items center

.gsc-thumbnail-inside
  .gs-title
    margin-top g2 !important
    a
      @extend $hyperlinkStyle
      font-size   $fontSizeHeader4 !important
      line-height $lineHeightHeader4 !important
      font-weight $fontWeightMedium !important
      *
        @extend $hyperlinkStyle
        font-size   $fontSizeHeader4 !important
        line-height $lineHeightHeader4 !important
        font-weight $fontWeightMedium !important

.gsc-result .gsc-url-top
  color $colorTextSecondary !important
  *
    color $colorTextSecondary !important

//.gsc-resultsbox-visible
//  margin-top g2 !important

.gsc-table-cell-thumbnail .gs-image-box
  padding-right g1 !important

//.gs-webResult > .gsc-table-result
//  margin-top (g1/3) !important

.gsc-table-result
  .gs-snippet
    font-family $fontFamilyAvenir !important
    font-size   $fontSizeParagraph !important
    line-height $lineHeightParagraph !important
    font-weight $fontWeightRegular !important
    color $colorTextPrimary !important

table.gsc-search-box
  height g3 !important
  max-height g3 !important
  min-height g3 !important
  *
    display flex
    flex 0 1 auto
    height g3 !important
    max-height g3 !important
    min-height g3 !important
  tr
    width 100% !important
  td.gsib_a
    min-width 100% !important
td.gsc-input
  padding-right g1 !important
  width 100% !important
  *
    width 100% !important


td.gsc-search-button
  width g3 !important
input.gsc-search-button
  $iconSize = g1
  width ($width = g3) !important
  height $width !important
  padding (($width - $iconSize)/2) !important
  border 1px solid darken($colorButtonGoneHoverBG, 2%)
  background-color $colorButtonGoneHoverBG
  color $colorButtonGoneHoverText
  &:hover
    color $colorButtonCtaHoverText !important
    background-color $colorButtonCtaHoverBG !important
  //&:after
  //  @extend $iconsFontFamily, .icon-search:before
  //  position absolute !important
  //  top 0 !important
  //  left 0 !important
  //  border-color $colorButtonCtaBorder !important
  //  color $colorButtonCtaBorder !important
  //  background-color $colorWhite !important
  //&:after:hover
  //  color $colorButtonCtaHoverText !important
  //  background-color $colorButtonCtaHoverBG !important


.googleSearchContainer
  padding g2
  +mq(1)
    pw g1


.gsc-above-wrapper-area
  margin-top g1 !important
  .gsc-result-info-container *
    color $colorTextSecondary !important
//td.gsib_a
//  display flex 1 !important
//  flex-grow 1 !important
//  width 100% !important

div.gsc-input-box > table, table.gsc-search-box
  width 100% !important

.gsc-cursor
  margin-top g2 !important
  display flex !important
  flex 0 0 auto
  flex-flow row nowrap !important
  .gsc-cursor-current-page
    pointer-events none !important
    color $colorTextSecondary !important
  .gsc-cursor-page
    @extend $hyperlinkStyle
    display flex !important
    flex 0 0 auto
    justify-content center !important
    align-items center !important
    width g2 !important
    height g2 !important
    &:hover
      border-bottom: 1px dashed rgba($colorHyperlinkHover, .3) !important

.gsc-tabsArea
  //height g2 !important
  //padding-left g1 !important
  //padding-right g1 !important
  //margin-top g1 !important
  *
    display flex !important
    flex 0 0 auto
    //height g2 !important
  .gsc-tabHeader
    padding-left g1 !important
    padding-right g1 !important
    //margin-left g1 !important
    height g2 !important
    justify-content center !important
    align-items center !important
    background-color transparent !important
    color $colorTextSecondary !important
    //border-radius 2px !important
    //border 1px solid $colorPrimary !important

    *
      color $colorTextSecondary !important
    &.gsc-tabhInactive
      background-color lighten($colorButtonBorderRegular, 70%) !important
    &.gsc-tabhActive
      //border-color $colorSecondary !important
      background-color lighten($colorButtonBorderRegular, 20%) !important
      color $colorTextPrimary !important
      *
        color $colorTextPrimary !important

// Спрятал пометку результата согласно лейблу
.gs-per-result-labels
  display none !important