.headline
  display flex
  flex 0 0 auto
  flex-flow column nowrap
  justify-content center
  align-items center
  pw g2
  padding-top g4 !important
  padding-bottom g2 !important
  text-align center
  min-height c2

  .headerTitle


  .headerSubtitle
    margin-top g2
    max-width c8