@keyframes pulseButton
  0%
    background-color transparent
  40%
    background-color rgba(lightness(saturation($colorPrimary,100%), 96%), 0.3)
  100%
    background-color transparent

#playHeroVideo
  @extend $buttonInverse
  margin-top g2
  margin-left c1
  &:not(:hover)
    animation pulseButton 4s infinite
  +mq(1, true)
    display none
    margin-left 0


.hero
  background-color $colorHero
  background-position center
  background-repeat no-repeat
  background-size cover
  background-clip padding-box
  justify-content center
  align-items center
  //pw c2
  text-align center
  color $colorWhite
  position relative
  overflow hidden
  height auto
  min-height c5

  +mq(1)
    align-items center
  +mq(1, true)
    align-items center

  //&:before // Overlay with Hero-color
  //  content ''
  //  top 0
  //  left 0
  //  position absolute
  //  size 100%
  //  background linear-gradient($colorHeroOverlay, $colorHeroOverlay)

  &:not(.mx-light)
    display flex
    flex 0 0 auto
    flex-flow column nowrap
    justify-content center
    align-items flex-start
    .heroContainerText
      padding-left c1
      +mq(1, '#main')
        text-align center

    .headerTitle
      text-shadow 1px 1px 2px $colorTextShadowRegular
      +mq(1, '#main')
        text-align center
    .headerSubtitle
      text-shadow 1px 1px 2px $colorTextShadowMedium
      +mq(1, '#main')
        text-align center

  &.mx-video
    .headerSubtitle
      display flex
      flex 0 0 auto
    //.headerTitle
    //  text-transform uppercase

  &.mx-light

    display flex
    flex 0 0 auto
    flex-flow row nowrap
    //background-color $colorHeroLight
    background-color $colorWhite
    color $colorTextPrimary
    ph g3
    .headerSubtitle
      display flex
      flex 0 0 auto
    &:before
      content none
    +mq(3, '#main')
      .heroContainerText
        padding-right g4
    +mq(2, '#main')
      display flex
      flex 0 0 auto
      flex-flow column nowrap
      .heroContainerText
        mh g2
      .headerSubtitle
        text-align center
      .heroDesc
        heights 0
      .heroImgCallout
        padding-left 0
      h1
        text-align center
      .headerSubtitle
        justify-content center
    +mq(1, '#main')
      display flex
      flex 0 0 auto
      flex-flow column nowrap
      .heroContainerText
        mh g2 0
        padding-bottom 0
      .heroDesc
        heights 0
      .heroTitle
        pw g1
        //text-align center
      .heroImg
        //ph 0
        pw g2
      //.heroImgCallout
      //  margin-top 0
      //  pw 0

  &Container
    &Text
      +mq(1, '#main')
        pw g2
    &Img
      align-items center
      +mq(1, 'true')
        padding-top g2
      .heroImg, svg
        width c4 !important
        height c4 !important
    &Text
    &Img
      position relative
      width 100%
      +mq(2, '#main')
        max-width c6
      +mq(3, '#main')
        max-width c5
      display flex
      flex 0 0 auto
      flex-flow column nowrap
      justify-content center
      //ph g1
    &Video
      position absolute
      size 100%
      top 0
      bottom 0
      left 0
      right 0
      z-index 0

      video
        position absolute
        size auto
        size-min 100%
        top 0
        bottom 0
        right 0
        margin auto
        z-index -100
        background-size cover


      &Shadow

        position absolute
        size 100%
        //box-shadow inset 0 0 c2 0 $colorHeroShadowVideo
        background-color $colorHeroShadowVideo
        background-image linear-gradient( 90deg, transparent 0, $colorHeroOverlayVideo $colorHeroOverlayVideoAlpha*100% )
        background-size 4px 4px
        z-index 1

  &Img
    size 100%
    min-height c3
    background-position center
    background-repeat no-repeat
    background-size contain
    background-origin content-box
    padding g1
    &Callout
      @extend $resetList
      display flex
      flex 0 0 auto
      flex-flow row nowrap
      height calloutHeight = g4
      justify-content flex-start
      align-items center
      align-self flex-start
      margin-top g1
      pw g1
      +mq(1, true)
        pw g1
      &Number
        display flex
        flex 0 0 auto
        flex-flow row nowrap
        @extend $header3
        justify-content center
        align-items center
        widths width = g3
        height width
        margin ((calloutHeight - width) / 2)
        text-align center
        border-radius width
        //border solid 2px $colorButtonBorderRegular
        //background-color $colorPrimary
        color $colorPrimary
        font-weight $fontWeightBold
        //&:after
        //   content '.'
      &Text
        text-align left
        padding-left g1
  &Accessory
    background-color $colorWhite !important
    .heroImg
      background-color transparent
  .headerTitle
  .headerSubtitle
    text-align left
  //pw g1
  .headerTitle
    display block
    line-height $lineHeight = $lineHeightHeader1*1.2
    ellipsis(3, $lineHeight)

  .headerSubtitle
    display none
    $lineHeight = g2
    margin-top g1
    font-size (4/3)*g1
    ellipsis(6, $lineHeight)
    transition all $transitionDuration ease-in-out
  .header-subtitle-visible
    display flex
    flex 0 0 auto
    +mq(1, true)
      display none

  *
    z-index 1

.hero.heroAbout
  &:before // Overlay with Hero-color
    content ''
    top 0
    left 0
    position absolute
    size 100%
    //background linear-gradient(rgba($colorSecondary,0.72), rgba($colorSecondary,0.72))
    background $colorSecondary
  .headerSubtitle
    display block
