.ipnbar
  display flex
  flex 0 0 auto
  flex-flow row nowrap
  justify-content space-between
  align-items center
  pw g1
  top 0
  padding-top 0 !important
  padding-bottom 0 !important
  margin-bottom g2
  height $topbarHeight
  //border-bottom solid 1px $colorBorderLight
  bh solid 1px $colorBorderLight
  //$boxshadowBorderInsetBottom($colorBorderLight)
  //transition all $transitionDuration ease-in-out !important
  transition transform $transitionDuration ease-in-out
  z-index 1000
  background-color $colorWhite

  .asideToggle
    @extend $asideToggle
    transform scale(0)
    width 0
    min-width 0
    margin-right 0
    box-shadow none !important
    +mq(4)
      margin-right 0 !important


  sidebarToggleVisible =
    padding-left 0
    .asideToggle
      transform scale(1)
      width g6
      min-width g6
      //margin-right g1

  &-without-cta
    &#ipnbar
      +mq(1, true)
        display none !important
      .ipnbarCta
        display none !important

  &.waypoint
    &-collapsed
      position fixed
      top 0
      margin-bottom $topbarHeight
      +aside(false, '#main')
        {sidebarToggleVisible}
      +mq(4)
        padding-left g1 !important

  &.headroom--unpinned.waypoint-collapsed
    transform translateY(-1*($topbarHeight - 2px))
    &:after
      content ''
      size 100% g3
      position absolute
      left 0
      bottom -1*g3
  &.headroom--pinned.waypoint-collapsed
    transform translateY(0)
  &.headroom--pinned--force.waypoint-collapsed
    transform translateY(0) !important


  +mq(1)
    justify-content space-between !important

  +mq(1, '#main')
    justify-content center
  ul
    margin 0
    padding 0
    display flex
    flex 0 1 auto
    flex-flow row nowrap
  li
    list-style none
  &Anchors
    display inherit
    width 100%
    justify-content flex-start
    pw g1
    +mq(1, '#main')
      display none

    &Item
      &:not(:last-child)
        margin-right g2
        +mq(2, '#main')
          margin-right g1
      &Link
        @extend $flexRowWithIcon
        justify-content center
        size g4 $topbarHeight
        transition all $transitionDuration ease-in-out
        &:before
          color $colorTextSecondary
          margin-right 0
          transition all $transitionDuration ease-in-out
        &.active
        &:hover
          $boxshadowBorderInsetBottom($colorButtonGoneBorder, 2px)
          &:before
            color $colorButtonGoneBorder

  &Cta
    @extend $buttonCTA

    buttonView =
      border solid 1px $colorButtonCtaBorder
      span
        display initial
      &:before
        content ''
        display none !important
      &:hover
        background-color $colorButtonCtaHoverBG
        //box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

    iconView =
      border none 0
      //ph (($topbarHeight - $buttonHeight) / 2)
      border-radius 0
      margin 0 !important
      span
        display none
      &:before
        @extend $iconsFontFamily, .icon-buy:before
        display initial
      &:hover
        color initial
        //box-shadow: inset 0 -2px 0 0 $colorButtonCtaBorder
        background-color transparent

    //+mq(1, '#main')
    //  {buttonView}
    //+mq(2, '#main')
    //  {iconView}
    //+mq(3, '#main')
    //  {buttonView}
    //+mq(4)
    //  {buttonView}
    +mq(1, '#main')
      {buttonView}
    +mq(2, '#main')
      {iconView}
    +mq(3, '#main')
      {iconView}
    +mq(4)
      {iconView}