.bullist
  @extend $resetList
  display flex
  flex 0 0 auto
  flex-flow row wrap
  margin-top g2
  li
    size c4 g5
    size-min c4 g5
    pw g2
    @extend $flexRowWithIcon
    &::before
      @extend .icon-checkmark:before


.listFacts
  @extend $resetList
  display flex
  flex 0 0 auto
  flex-flow row nowrap
  margin-top g2
  +mq(1, '#main')
    flex-wrap wrap
  +mq(1)
    flex-wrap wrap
  +mq(2, '#main')
    flex-wrap wrap

  &Item
    display flex
    flex 0 0 auto
    flex-flow row nowrap
    size 100% g5
    pw g2
    align-items center

    +mq(1, '#main')
      width c4
    +mq(1)
      width c4
    +mq(2, '#main')
      width c4
    span
      @extend $header1
      display flex
      flex 0 0 auto
      flex-flow row nowrap
      //widths g5
      margin-right g1
      justify-content flex-start

.listIlustrated
  @extend $resetList
  display flex
  flex 0 0 auto
  flex-flow row wrap
  h4
    margin-top 0
  p
    margin-top g1
  &Item
    @extend .c8
    display flex
    flex 0 0 auto
    flex-flow row nowrap
    //height c1
    margin-top g2
    pw g2
    +mq(1, true)
      pw 0
    //+mq(1)
    //  padding-left g1 !important
    //  padding-right g1 !important
    +mq(3, '#main')
      width c6
    &Img
      widths c1
      background-size contain
      background-color transparent !important
      +mq(1, true)
        display none
    &Text
      display flex
      flex 0 0 auto
      flex-flow column nowrap

//.listFacts
//  @extend $resetList
//  display flex
//  flex-flow row nowrap
//  justify-content space-around
//  pw g1
//  +mq(1)
//    pw 0
//.factItem
//  flex(column)
//  width (c2 - g2*2)
//  text-align center
//  mw g1
//  flex-shrink 1
//  +mq(1)
//    flex-shrink 0
//    width $widthPreviewS1
//  +mq(1, '#main')
//    flex-shrink 0
//    width $widthPreviewS1
//  span
//    @extend $header1
//    display flex
//    flex-flow row nowrap
//    justify-content center