$previewPaddingsLayout
  pw $widthPreviewMargin
  +mq(1)
    width $widthPreviewS4 !important
  +mq(1, '#main')
    width $widthPreviewS1
  +mq(2, '#main')
    width $widthPreviewS2
  +mq(3, '#main')
    width $widthPreviewS3

$previewContainerHeight = c2
$previewTitleMarginHeight = g1
$previewTitleHeight = $lineHeightHeader4*2

$previewDescLinesToShow = 5
$previewDescHeight = $lineHeightParagraph*$previewDescLinesToShow

.preview
  display flex !important
  flex 0 0 auto
  ph g2 g1
  z-index 1
  outline none
  position relative

  &:not(.previewVideo):hover
    .previewText > *
      color $colorTextPrimaryHover
    .previewTitle
      color $colorSecondary
  *
    z-index 1

  &Type
    ph g2

    +mq(1)
      padding-bottom c1

    +mq(1, true)
      padding-bottom c1
      .previewDesc
        text-align center
    +mq(2, true)
      padding-bottom c1
      padding-right g2
      flex-direction row
      align-items center
      width c8 !important
      max-width c8
    +mq(3, true)
      padding-right g2
  .carousel &
    &Accessory
      +mq(1)
        width width = (144 - $widthPreviewMargin*2) !important
        .previewImg
          height width !important
      +mq(1, '#main')
        width width = (($widthPreviewS1) / 2) - $widthPreviewMargin*2
        .previewImg
          height width
      +mq(2, '#main')
        width width = (($widthPreviewS2) / 2) - $widthPreviewMargin*2 !important
        .previewImg
          height width
      +mq(3, '#main')
        width width = (($widthPreviewS3) / 2) - $widthPreviewMargin*2 !important
        .previewImg
          height width

  .carousel &
    //transition box-shadow $transitionDuration ease-in-out

    +mq(1)
      &:not(.previewAccessory)
        .previewImg
          margin-left -1*g1 !important
          margin-right -1*g1 !important
          width auto
          min-width 100%

    @extend $widthPreviewMedia

    //&:hover
    //  $boxshadowBorderInsetBottom($colorSecondary, 2px)

  .catalog &
    @extend $previewPaddingsLayout
    padding-top g1

    //&:before
    //  content ''
    //  top 0
    //  left 0
    //  position absolute
    //  size 100%
    //  border-style solid
    //  border-color transparent
    //  border-radius 1px
    //  transition-property background-color, border-color
    //  transition-timing-function ease-in-out
    //  transition-duration $transitionDuration*2
    //
    //.preview
    //&:not(.previewVideo):hover:before
    //  border-color darken($colorHeroLight, 1%)
    //  background-color $colorHeroLight

  .catalog:not(.mx-full) &
  .carousel &
    &:before
      border-width 1px

    display flex
    flex 0 0 auto
    flex-flow column nowrap

    .previewTitle
      min-height = $previewTitleHeight

    .previewDesc
      ellipsis(3, $lineHeightParagraph)

    &.previewType
      .previewDesc
        ellipsis(4, $lineHeightParagraph)

  .mx-full &

    $previewRowDescHeight = floor(($previewContainerHeight - $previewTitleHeight - g1)/$lineHeightParagraph)*$lineHeightParagraph
    display flex
    flex 0 0 c12
    flex-flow row nowrap
    pw g2
    max-width 100%
    width 100%

    +mq(1)
      display flex
      flex-flow row wrap
      pw g1
    +mq(1, '#main')
      display flex
      flex 0 0 auto
      flex-flow row wrap
    &:before
      border-top-width 1px
      border-bottom-width 1px

    .previewTitle
      height auto

  &Video
    pointer-events none

  &Img
    size 100% $previewContainerHeight
    pointer-events all

    .mx-full &
      +mq(1)
        widths 100%
      +mq(1, '#main')
        widths 100%
      +mq(2, '#main')
        widths $widthPreviewS2 - g2
      +mq(3, '#main')
        widths $widthPreviewS3 - g2
      +mq(1)
        widths $widthPreviewS4 - g2 !important

    .previewType &
      background-color transparent
      mh g2
      pw g1
      background-origin: content-box
      +mq(1, true)
        mh g2
      +mq(2, true)
        width 50%
        order 1

    .galleryType &
      background-size contain

  &Text
    display flex
    flex 0 1 auto
    flex-flow column nowrap
    max-height $previewContainerHeight
    width 100%

    .mx-full &
      padding-left g2
      +mq(1)
        display flex
        flex 0 0 auto
        flex-flow row wrap
      +mq(1, '#main')
        display flex
        flex 0 0 auto
        flex-flow row wrap
        padding-left 0
    .previewType &
      +mq(2, true)
        width 50%

    > *
      transition color $transitionDuration ease-in-out


  &BrandText
    @extend $header2
    font-weight $fontWeightBold
    text-transform uppercase

  &BrandDef
    margin-bottom g2
    font-size $fontSizeHeader4
    font-weight $fontWeightMedium
    text-transform lowercase
    color $colorTextSecondary

  &Title
    @extend $header4
    mh $previewTitleMarginHeight
    height $previewTitleHeight
    max-height $previewTitleHeight
    overflow hidden
    text-overflow ellipsis
    width 100%

    .previewType &
      display flex
      flex 0 0 auto
      flex-flow column nowrap
      font-size $fontSizeParagraph
      max-height c1
      +mq(1)
        text-align center
        align-items center
      +mq(1, true)
        text-align center
        align-items center

      span
        @extend $header2
        line-height g2
        display flex
        flex 0 0 auto
        flex-flow row nowrap

    .catalog:not(.mx-full) &
      &.mx-low
        heights ($previewTitleHeight/2)

    .previewArticle &
    .previewAccessory &
      .carousel &
      .catalog:not(.mx-full) &
        ellipsis(4, $lineHeightHeader4, true)

  &Desc
    margin-bottom g1
    ellipsis(3, $lineHeightParagraph)
    width 100%

    &.mx-tall
    .previewBrand &
      lines = 5
      lineHeight = $lineHeightParagraph
      margin-top g1
      overflow hidden
      overflow-wrap break-word
      height auto !important
      max-height lines*lineHeight  !important
      line-height lineHeight  !important
      -webkit-line-clamp lines  !important
      //heights $lineHeightParagraph*5

    .mx-full &
      ellipsis(5, $lineHeightParagraph)
      +mq(1)
        ellipsis(3, $lineHeightParagraph)
      +mq(1, '#main')
        ellipsis(3, $lineHeightParagraph)

  &Membrane
  &Solution
    display flex
    flex 0 0 auto
    flex-flow row nowrap
    align-items center

  &Membranes
  &Solutions
    display flex
    flex 1 0 auto
    flex-flow row nowrap
    word-break none
    text-overflow ellipsis
    overflow hidden
    white-space nowrap


  &YetLable
    @extend $paragraphSecondary
    &:before
      content '\00a0\+\00a0ещё\00a0'

  &Secondary
    @extend $paragraphSecondary
    display flex
    flex 0 0 auto
    flex-flow row nowrap
    margin-bottom g1
    //@extend $header4
    padding-top g1

  &Solution
  &Accessory
    .previewImg
      padding g1 !important
      background-color transparent !important
      background-size contain !important
      background-origin content-box !important