.sectionAbout
  display flex
  flex 0 0 auto
  flex-flow row nowrap
  margin g2 0
  bh 1px solid $colorBorderLight
  height c4+g3
  background-color $colorHeroLight
  +mq(1, true)
    flex-direction column

  &More
    display flex
    flex 0 0 auto
    flex-flow row nowrap
    justify-content flex-end
    align-items center
    background-color transparent
    white-space nowrap
    color $colorWhite
    mw 0
    padding-right g1
    text-transform lowercase
    &:before
      margin-left g1
      order 1
    +mq(1, true)
      display none
  &Header
    position relative
    display flex
    flex 0 0 auto
    flex-flow column nowrap
    background-color $colorSecondary
    justify-content space-between
    color $colorWhite
    width c4
    pw g2
    ph g3
    &:before
      content ''
      top 0
      bottom 0
      left 0
      right 0
      size 100%
      position absolute
      transition all $transitionDuration ease-in-out
      z-index 2
      pointer-events none
    &:hover:before
      background-color rgba(#000, 0.12)
    +mq(1, true)
      ph g1 0
      background-color $colorHeroLight
      color $colorTextPrimary
      pointer-events none
    svg
      size c1
    use
      fill $colorWhite
      +mq(1, true)
        fill $colorSecondary
    &Brandy
      //display flex
      //flex 1 0 auto
      +mq(1, true)
        display flex
        flex 0 0 auto
        flex-flow row nowrap
        height c1
        align-items center
    h2
      pw 0
      width 100%
      display flex
      flex 0 0 auto
      flex-flow column nowrap
      align-items flex-start
      text-transform uppercase
      span
        text-transform lowercase
        font-size g1
        line-height $lineHeightParagraph
      +mq(1, true)
        margin-top 0
        font-size $fontSizeHeader3
        flex-shrink 1
        padding-left g2
  &Text
    +mq(3, true)
      padding g2
    +mq(1, true)
      display flex
      flex-flow column nowrap
      flex-grow 1 !important
      justify-content space-between
    &Heading
      max-width c4
    p
      +mq(1, true)
        display none

  .carouselBarMore
    display none
    align-self flex-end
    +mq(1)
      display flex
      flex 0 0 auto
      margin-bottom g2
      margin-right g2
    +mq(1, true)
      display flex
      flex 0 0 auto
      margin-bottom g2
      margin-right g1

.sectionPartners
.solutionCalc
  justify-content center
  pw g2
  +mq(1)
    pw g1
  iframe
  object
  embed
    size 100% c7
  .iframeContainer
    width 100%
    overflow auto


.trainingsItem
  display none
  //&:nth-of-type(1)
  //  display block
.trainingsOrder
  @extend $insetBar
  margin-top g2
  justify-content flex-end
  &Button
    mw 0
    @extend $buttonCTA

.section404
  h1
    justify-content center
    font-size c2 !important
    line-height c2 !important
  span
    font-size $fontSizeHeader4
    line-height $lineHeightHeader4


