@keyframes hoverCSSWobble
  // Thanks https://github.com/IanLunn
  0%
    transform translateY(0)
  40%
    transform translateY(2px)
  100%
    transform translateY(0)

$sidebarContainer
  display flex
  flex-flow column nowrap
  flex 0 0 auto
  padding-top g1 !important
  padding-bottom g1 !important
  $boxshadowBorderOutlineTop($colorSidebarBorder)
  &:first-child
    box-shadow none

$sidebarItem
  height g4
  max-height g4
  display flex
  flex 0 0 auto
  flex-flow row nowrap
  align-items center
  color $colorSidebarItem
  @extend $colorTransition
  &:before
    @extend $colorTransition
    color $colorIcon
  .no-touch &
    &:hover
    &:hover span
    &:hover:before
      color $colorWhite !important

$sidebarHidden
  visibility hidden
  width 0
  z-index -999
  pointer-events none
  transform translateX(-1*c4)

$sidebarVisible
  transform translateX(0)
  display initial !important

.asideToggle
  +mq(4)
    display none

.sidebar
  @extend .c4
  min-height 100%
  background $colorSidebar
  position relative
  overflow-x hidden
  box-shadow inset -1*(g1/3) 0 0 0 $colorContentPartShadow
  //transition all .5s ease-in-out
  //body:not(.asideTrue) &
  //  @extend $sidebarHidden
  //.asideTrue &
  //  @extend $sidebarVisible
  //+mq(4)
  //  @extend $sidebarVisible

  display none
  +mq(4)
    display flex !important
    flex 0 0 auto
  .asideTrue &
    display flex !important
    flex 0 0 auto


  ul
    padding 0
    margin 0
  li
    list-style none

  a[href='#']
    :not(.sidebarContainerMenu) > li > &
      cursor no-drop

  .nestCaret
    size g4
    margin-right -1*g1
    display flex
    flex 0 0 auto
    justify-content center
    transition transform $transitionDuration ease-in-out
    &:before
      color $colorSidebarItem3
      transition all $transitionDuration ease-in-out
      @extend $iconsFontFamily, .icon-arrow-down:before
    .no-touch &
      &:hover:before
        color $colorWhite
        //animation-name hoverCSSWobble
        //animation-duration .3s
        //animation-timing-function ease-in-out
        //animation-iteration-count 1
  li.open > a > .nestCaret
    transform rotateX(180deg)


.sidebarContainer
  position fixed
  width inherit
  max-width c4
  height 100%
  overflow-y auto
  display flex
  flex-flow column nowrap
  flex 1 0 auto

.sidebarContainerNav
  @extend $sidebarContainer
  flex-flow row nowrap
  justify-content space-between
  +mq(4)
    display none

.sidebarContainerMenu
  @extend $sidebarContainer
  flex-flow column nowrap

.sidebarContainerFooter
  @extend $sidebarContainer
  $boxshadowBorderOutlineTop($colorSidebarBorder)
  flex-flow row nowrap
  justify-content space-between
  .sidebarContainerFooterSocial
    display flex
    flex 0 0 auto
    flex-flow row nowrap


.sidebarItem
  @extend $sidebarItem

.sidebarItemIcon
  width c1
  justify-content center

.sidebarItemMenu
  @extend $flexRowWithIcon
  padding-left g2 !important
  padding-right g2 !important
  position relative
  width 100%
  font-size (7/6)*g1
  //&.activeLast
  //  pointer-events none
  span
    width 100%

.sidebarItem
  &.activeLast
  &.activeLast:before
    color $colorWhite !important
  .sidebarContainerMenu > li > ul > li &
    &.activeLast:after
      @extend .icon-menu-current:before, $iconsFontFamily
      color $colorIcon
      position absolute
      left 0
      top 0
      bottom 0
      margin-left 1.5rem

//.js-roof-scroll-thumb
//  background-color $colorScrollbarThumb
//  cursor pointer
//
//.js-roof-scroll-track
//  background-color transparent

.sidebarItemDropdown
  display flex
  flex 0 0 auto
  flex-flow column nowrap
  width 100%
  min-width 100%
  overflow hidden

.sidebarContainerMenu > li
  > ul > li
    > .sidebarItemMenu
      color $colorSidebarItem
      font-size (13/12)*g1
      &:before
        @extend .icon-level1:before
    > ul > li
      > .sidebarItemMenu
        color $colorSidebarItem2
        font-size g1
        &:before
          @extend .icon-level2:before
      > ul > li
        > .sidebarItemMenu
          color $colorSidebarItem3
          font-size g1
          &:before
            @extend .icon-level3:before
