.tableContainer
  mw g2
  overflow-y hidden
  overflow-x auto
  //padding-bottom g1
  +mq(1, '#main')
    mw g2
  +mq(1)
    margin-left g1 !important
    margin-right g1 !important

  &::-webkit-scrollbar
    height g1
    cursor pointer
  &::-webkit-scrollbar-track
    border-top 1px solid darken($colorBorderLight, 5%)
    //background-color $colorScrollbarTrack
  &::-webkit-scrollbar-thumb
    background-color darken($colorBorderLight, 5%)
    border-bottom-left-radius 1px
    border-bottom-right-radius 1px
    cursor pointer

  table
    @extend $table
    table-layout fixed
    border-collapse collapse
    margin-top g1

    thead
      font-weight $fontWeightMedium
      text-align left
      tr:last-child
        border-bottom-color darken($colorBorderLight, 10%)

    tr
      @extend $tableRow

    > *:last-child > *:last-child
      border-bottom 0 none

    td, th
      @extend $tableCell
      padding-right g2
      vertical-align top
      //box-shadow -7px 0 0 -6px tint($colorBorderLight, 50%)
      //&:first-child
        //box-shadow none
      &:last-child
        padding-right 0
