.topbar
  @extend .row
  padding-top 0 !important
  padding-bottom 0 !important
  position fixed
  z-index 999
  top 0
  display flex
  flex 0 0 auto
  flex-flow row nowrap
  height $topbarHeight
  justify-content space-between
  background $colorWhite
  transition transform $transitionDuration ease-in-out !important
  border-bottom solid 1px $colorBorderLight

  +mq(4)
    position relative

  &.waypoint
    &-collapsed
      transform translateY(-1*($topbarHeight))
      $boxshadowBorderInsetBottom($colorBorderLight)
      //.ipnbar-without-cta &
      //  +mq(1, true)
      //    transform translateY(0) !important
    &-expanded
      transform translateY(0)

  &.headroom--unpinned
    transform translateY(-1*($topbarHeight))
  &.headroom--pinned:not(.waypoint-collapsed)
    transform translateY(0)
  &.headroom--pinned--force:not(.waypoint-collapsed)
    transform translateY(0) !important
  &.headroom--pinned--force
    .ipnbar-without-cta &
      +mq(1, true)
        transform translateY(0) !important
  &.headroom--not-top
    &:after
      content ''
      size 100% g3
      position absolute
      left 0
      bottom -1*g3
  +mq(4)
    transform translateY(0) !important

  .asideToggle
    @extend $asideToggle

  &Brandy
    transition none !important
    display flex
    flex-flow row nowrap
    flex 1 0 auto
    //width 100%
    height 100%
    align-items center
    justify-content flex-end
    +mq(1)
      @extend .c3

  .contacts
    @extend .c3
    display flex
    flex 0 1 auto
    flex-flow column nowrap
    padding-right g1
    text-align right
    +mq(1, '#main')
      width c2
      min-width c2
      text-align left
      padding 0
    .phone
      @extend $header4
      display flex
      flex 0 0 auto
      align-items center
      justify-content flex-end
      transition color $transitionDuration ease-in-out
      &:hover
        color $colorPrimary
      &-flag
        margin-left g1
        size (2/3)*g1

  .logo
    @extend .c1
    height 100%
    padding g1
    //background-image url('/static/img/logo.svg')
    //background-repeat no-repeat
    //background-clip content-box
    //background-size contain
    //background-origin content-box
    //background-position center
    transition transform $transitionDuration ease-in-out
    svg
      width 100%
    use
      fill $colorSecondary
    &:hover
      transform scale(1.1)
