//.warpless-list
//.warpless-track
//  display flex
//  flex-flow row nowrap
//  padding 0
//
//.warp-enabled
//  position relative
//  &:focus
//    outline none
//  &.is-draggable
//    tap-highlight-color transparent
//    user-select none
//    .warp-viewport
//      cursor move
//      cursor grab
//      &.is-pointer-down
//        cursor grabbing
//
//.warp-viewport
//  overflow hidden
//  position relative
//  //height 100%
//  width 100%
//
//.warp-slider
//  //position absolute
//  display flex
//  flex-flow row nowrap
//  width 100%
//  //height 100%

//.warp-prev-next-button
//  position absolute
//  top 50%
//  width 44px
//  height 44px
//  border none
//  border-radius 50%
//  background white
//  background hsla(0, 0%, 100%, 0.75)
//  cursor pointer
//  transform translateY(-50%)
//  &:hover
//    background white
//  &:focus
//    outline none
//    box-shadow 0 0 0 5px #09F
//  &:active
//    opacity 0.6
//  &.previous
//    left 10px
//  &.next
//    right 10px
//  &:disabled
//    opacity 0.3
//    cursor auto
//  svg
//    position absolute
//    left 20%
//    top 20%
//    width 60%
//    height 60%
//  .arrow
//    fill #333
//  &.no-svg
//    color #333
//    font-size 26px

//.carousel
//  border-top: 1px solid $colorGrey
//  border-bottom: 1px solid $colorGrey
//  &Content
//    display: flex
//    flex-flow: row nowrap
//    background: $colorGrey
//    &-item
//      //width: 66%
//      //margin-right: 10px
//      flex: 1 100%
//      height: 230px
//      background: $colorDeepGrey
//      counter-increment: gallery-cell
//      &::before
//        display: block
//        text-align: center
//        content: counter(gallery-cell)
//        line-height: 200px
//        font-size: 80px
//        color: $colorWhite

.warpless-slider
  position: relative
  display: block
  user-select: none
  touch-action: pan-y
  -webkit-tap-highlight-color: transparent
.warpless-list
  position: relative
  display: block
  overflow: hidden
  margin: 0
  padding: 0
  &:focus
    outline: none
  &.dragging
    cursor: pointer
    cursor: hand
.warpless-slider
  .warpless-track, .warpless-list
    transform: translate3d(0, 0, 0)
.warpless-track
  position: relative
  top: 0
  left: 0
  display: block
  &:before
    display: table
    content: ""
  &:after
    display: table
    content: ""
    clear: both
.warpless-loading .warpless-track
  visibility: hidden
.warpless-slide
  display: none
  float: left
  height: 100%
  min-height: 1px
[dir='rtl'] .warpless-slide
  float: right
.warpless-slide
  img
    display: block
  &.warpless-loading img
    display: none
  &.dragging img
    pointer-events: none
.warpless-initialized .warpless-slide
  display: block
.warpless-loading .warpless-slide
  visibility: hidden
.warpless-vertical .warpless-slide
  display: block
  height: auto
  border: 1px solid transparent
.warpless-arrow.warpless-hidden
  display: none