<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Авторизация</title>

  <!-- Bootstrap Core CSS -->
  <link href="/static/c_admin/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="/static/c_admin/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/static/c_admin/dist/css/sb-admin-2.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/static/c_admin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Вход</h3>
        </div>
        <div class="panel-body">
          <form role="form" class="form-horizontal" name="LoginForm" action="{% url 'login' %}" method="post">

            <fieldset>
              <div class="form-group">

                <input class="form-control" placeholder="Логин" name="username" id="id_username"
                       autofocus>
                {{ form.username.errors }}
              </div>
              <div class="form-group">

                <input class="form-control" placeholder="Пароль" name="password" id="id_password"
                       type="password" value="">
                {{ form.password.errors }}
              </div>
              {{ form.non_field_errors }}
              <input class="btn btn-lg btn-success btn-block" type="submit" value="Войти">
              {% csrf_token %}
              {% if next %}
                <input type="hidden" name="next" value="{{ next }}"/>
              {% endif %}
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- jQuery -->
<script src="/static/c_admin/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/c_admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/static/c_admin/bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/static/c_admin/dist/js/sb-admin-2.js"></script>

</body>
</html>
