{% extends "c_admin/base.html" %}
{% block css %}
  <link href="/static/c_admin/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
  <link href="/static/c_admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css"
        rel="stylesheet">
  <link href="/static/c_admin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet"
        type="text/css">
{% endblock %}
{% block js %}
  <script src="/static/c_admin/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="/static/c_admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
{% endblock %}
{% block title %}Группы документов{% endblock %}
{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="text-center btn btn-primary" href="/c_admin/document_group/add/">Добавить группу документов</a>
    </div>
    <div class="panel-body">
      {% if document_groups %}
        <div class="dataTable_wrapper">
          <table class="table table-striped table-bordered table-hover" id="dataTables">
            <thead>
            <tr>
              <th>Заголовок</th>
              <th>Пожарный сертификат</th>
              <th>Сертификат соответствия</th>
              <th>Отказное письмо</th>
              <th>Дата</th>
              <th>Редактировать</th>
            </tr>
            </thead>
            <tbody>
            {% for document_group in document_groups %}
              <tr class="gradeA">
                <td>{{ document_group.title }}</td>
                <td>{{ document_group.fire }}</td>
                <td>{{ document_group.conf }}</td>
                <td>{{ document_group.mail }}</td>
                <td>{{ document_group.add }}</td>
                <td>
                  <a class="fa fa-pencil"
                     href="/c_admin/document_group/edit/{{ document_group.id }}/"></a>
                  <a class="fa fa-times"
                     href="/c_admin/document_group/del/{{ document_group.id }}/"></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <h3></h3>
        <p>Нет групп документов или у вас недостаточно прав.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}