{% extends 'base.html' %}
{% load carousel %}
{% load doc %}
{% block title %}
  {{ item.title_meta }}
{% endblock %}
{% block content %}

<!-- ------------ SECTION HERO -->
<header class="row hero" data-img="{% if item.img_main %}{{ item.img_main.url }}{% elif item.img_p %}{{ item.img_p.url }}{% else %}/static/img/hero.jpg{% endif %}">
	<div class="heroContainerText">
		<h1 class="headerTitle">{{ item.title }}</h1>
		<span class="headerSubtitle header-subtitle-visible">{{ item.hero }}</span>
	</div>
</header>
<!-- ------------ SECTION HERO END -->

<i data-animate-down="waypoint-collapsed" data-animate-up="waypoint-expanded" class="waypoint-topbar"></i>

<!-- ------------ SECTION IPN -->
<div id="nav-anchor"></div>
<nav id="ipnbar" class="row ipnbar js-ipnbar">
	<button class="asideToggle icon-menu"></button>
	<ul class="ipnbarAnchors">

		{% if item.info %}
		<li class="ipnbarAnchorsItem">
			<a href="#info" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-info"></a>
		</li>
		{% endif %}

		{% if item.membrane_set.all %}
		<li class="ipnbarAnchorsItem">
			<a href="#membranes" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-membranes"></a>
		</li>
		{% endif %}

		{% if brand_solutions %}
		<li class="ipnbarAnchorsItem">
			<a href="#solutions" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-solutions"></a>
		</li>
		{% endif %}

		{% if brand_objects %}
		<li class="ipnbarAnchorsItem">
			<a href="#objects" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-objects"></a>
		</li>
		{% endif %}

		{% if brand_docs %}
		<li class="ipnbarAnchorsItem">
			<a href="#docs" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-docs"></a>
		</li>
		{% endif %}

		{% if brand_promotionals %}
		<li class="ipnbarAnchorsItem">
			<a href="#promotionals" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-promotionals"></a>
		</li>
		{% endif %}

	</ul>
	<a class="ipnbarCta" title="Найти подрядчика | Купить"><span>Найти подрядчика | Купить</span></a>
</nav>
<!-- ------------ SECTION IPN END -->

<!-- ------------ SECTION ADVANTAGES LIST -->
{% if item.adv.all %}
<section class="row">
	<ul class="bullist">
		{% for adv in item.adv.all %}
		<li>{{ adv }}</li>
		{% endfor %}
	</ul>
</section>
{% endif %}
<!-- ------------ SECTION ADVANTAGES LIST END -->

<!-- ------------ SECTION INFO -->
{% if item.info %}
<section class="row">
	<h2 id="info" class="icon-info">Описание</h2>
	{% autoescape off %}{{ item.info }}{% endautoescape %}
</section>
{% endif %}
<!-- ------------ SECTION INFO END -->

<!-- ------------ SECTION MEMBRANES CATALOG -->
{% if item.membrane_set.all %}
<section class="row">

	<h2 id="membranes" class="icon-membranes">Полимерные мембраны</h2>

	<div class="catalog">
		{% for membrane in item.membrane_set.all %}
		<a class="preview previewMembrane" href="/membrane/{{ membrane.slug }}/">
			<div data-img="{% if membrane.img_p %}{{ membrane.img_p.url }}{% elif membrane.img_main %}{{ membrane.img_main.url }}{% else %}/static/img/placeholder.svg{% endif %}" title="{{ membrane.img_p.title }}" alt="{{ membrane.img_p.alt }}" class="previewImg"></div>
			<div class="previewText">
				<div class="previewTitle">{{ membrane.title }}</div>
				<div class="previewDesc">{{ membrane.desc }}</div>
			</div>
		</a>
		{% endfor %}
	</div>

</section>
{% endif %}
<!-- ------------ SECTION MEMBRANES CATALOG END -->

<!-- ------------ SECTION SOLUTIONS GALLERY -->
{% if brand_solutions %}
<section class="row">
	<h2 id="solutions" class="icon-solutions">Решения</h2>
	{% carousel brand_solutions %}
</section>
{% endif %}
<!-- ------------ SECTION SOLUTIONS GALLERY END -->

<!-- ------------ SECTION OBJECTS GALLERY -->
{% if brand_objects %}
<section class="row">
	<h2 id="objects" class="icon-objects">Объекты</h2>
	{% carousel brand_objects %}
</section>
{% endif %}
<!-- ------------ SECTION OBJECTS GALLERY END-->

<!-- ------------ SECTION DOCS LIST -->
{% if brand_docs %}
{% doc brand_docs 'Документация' %}
{% endif %}
<!-- ------------ SECTION DOCS LIST END -->

<!-- ------------ SECTION PROMOTIONALS LIST -->
{% if brand_promotionals %}
{% doc brand_promotionals 'Материалы' %}
{% endif %}
<!-- ------------ SECTION PROMOTIONALS LIST END-->

{% endblock %}
