{% extends 'base.html' %}
{% load cache %}
{% load carousel %}
{% load doc %}
{% block title %}
  {{ item.title_meta }}
{% endblock %}

{% block content %}

<!--SECTION HERO-->
<header class="row hero" data-img="{% if item.img_main %}{{ item.img_main.url }}{% elif item.img_p %}{{ item.img_p.url }}{% else %}/static/img/hero.jpg{% endif %}">
	<div class="heroContainerText">
		<h1 class="headerTitle">{{ item.title }}</h1>
		<span class="headerSubtitle">{{ item.desc }}</span>
	</div>
</header>
<!--SECTION HERO END-->

<!--SECTION IPN-->
<i data-animate-down="waypoint-collapsed" data-animate-up="waypoint-expanded" class="waypoint-topbar"></i>
{% cache 600 membrane_ipnbar %}
<nav id="ipnbar" class="row ipnbar js-ipnbar">
	<button class="asideToggle icon-menu"></button>
	<ul class="ipnbarAnchors">
		{% if item.target %}
		<li class="ipnbarAnchorsItem">
			<a href="#use" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-use"></a>
		</li>
		{% endif %}

		{% if item.colors.all or item.reinforce.all or item.thickness or item.strength or item.elongation or item.absorp or item.flex or item.resist or item.comb or item.polymer %}
		<li class="ipnbarAnchorsItem">
			<a href="#characteristics"
			   class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-characteristics"></a>
		</li>
		{% endif %}

		{% if item.pack_text or item.pack.all %}
		<li class="ipnbarAnchorsItem">
			<a href="#packaging" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-packaging"></a>
		</li>
		{% endif %}

		{% if item.store %}
		<li class="ipnbarAnchorsItem">
			<a href="#storage" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-storage"></a>
		</li>
		{% endif %}

		{% if membrane_docs %}
		<li class="ipnbarAnchorsItem">
			<a href="#docs" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-docs"></a>
		</li>
		{% endif %}

		{% if membrane_promotionals %}
		<li class="ipnbarAnchorsItem">
			<a href="#promotionals" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-promotionals"></a>
		</li>
		{% endif %}

		{% if item.accessory_set.all %}
		<li class="ipnbarAnchorsItem">
			<a href="#accessories" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-accessories"></a>
		</li>
		{% endif %}

		{% if item.solution_set.all %}
		<li class="ipnbarAnchorsItem">
			<a href="#solutions" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-solutions"></a>
		</li>
		{% endif %}

		{% if item.object_set.all %}
		<li class="ipnbarAnchorsItem">
			<a href="#objects" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-objects"></a>
		</li>
		{% endif %}

		{% if other_membranes %}
		<li class="ipnbarAnchorsItem">
			<a href="#membranes" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-membranes"></a>
		</li>
		{% endif %}

	</ul>
	<a class="ipnbarCta" title="Найти подрядчика | Купить"><span>Найти подрядчика | Купить</span></a>
</nav>
{% endcache %}
<!--SECTION IPN END-->

<!--SECTION ADVANTAGES LIST-->
{% if item.adv.all %}
<section class="row">
	<ul class="bullist">
		{% for adv in item.adv.all %}
		<li>{{ adv }}</li>
		{% endfor %}
	</ul>
</section>
{% endif %}
<!--SECTION ADVANTAGES LIST END-->

<!--SECTION USE-->
{% if item.target %}
<section class="row">
	<h2 id="use" class="icon-use waypoint-ipn">Назначение</h2>
	{% autoescape off %}{{ item.target }}{% endautoescape %}
</section>
{% endif %}
<!--SECTION USE END-->

<!--SECTION CHARACTERISTICS-->
{% if item.colors.all or item.reinforce.all or item.thickness or item.strength or item.elongation or item.absorp or item.flex or item.resist or item.comb or item.polymer %}
<section class="row">
	<h2 id="characteristics" class="icon-characteristics waypoint-ipn">Характеристики</h2>

	<div class="tableContainer">
		<table>
			<tbody>
			<tr>
				<td>Цвета</td>
				<td>{% for color in item.colors.all %}{{ color }}{% if color != item.colors.all.last %}, {% endif %}{% endfor %}</td>
			</tr>
			<tr>
				<td>Армирование</td>
				<td>{% for reinforce in item.reinforce.all %}{{ reinforce.title }}{% endfor %}</td>
			</tr>
			<tr>
				<td>Толщина, мм</td>
				<td>{{ item.thickness }}</td>
			</tr>
			<tr>
				<td>Прочность при максимальном напряжении, МПа</td>
				<td>{{ item.strength }}</td>
			</tr>
			<tr>
				<td>Относительное удлинение при разрыве, %, не менее</td>
				<td>{{ item.elongation }}</td>
			</tr>
			<tr>
				<td>Водопоглощение по массе, % не более</td>
				<td>{{ item.absorp }}</td>
			</tr>
			<tr>
				<td>Гибкость на брусе 5 мм, °С</td>
				<td>{{ item.flex }}</td>
			</tr>
			<tr>
				<td>Сопротивление статическому продавливанию, 250H*24ч</td>
				<td>{{ item.resist }}</td>
			</tr>
			<tr>
				<td>Группа горючести</td>
				<td>{{ item.comb }}</td>
			</tr>
			<tr>
				<td>Тип полимера</td>
				<td>{{ item.get_polymer_display }}</td>
			</tr>
			</tbody>
		</table>
	</div>
</section>
{% endif %}
<!--SECTION CHARACTERISTICS END-->

<!--SECTION PACKAGING-->
{% if item.pack_text or item.pack.all %}
<section class="row">
	<h2 id="packaging" class="icon-packaging waypoint-ipn">Упаковка</h2>

	{% if item.pack_text %}
	<p>{{ item.pack_text }}</p>
	{% endif %}

	<div class="tableContainer">
		<table class="table">
			<thead>
			<tr>
				<th>Толщина мембраны, мм</th>
				<th>Ширина х длина рулона, м</th>
				<th>Кол-во рулонов на палете</th>
			</tr>
			</thead>


			{% for pack in item.pack.all %}
			<tbody>
			<tr>
				<td>{{ pack.thick }}</td>
				<td>{{ pack.l }} x {{ pack.w }}</td>
				<td>{{ pack.rols }}</td>
			</tr>
			</tbody>
			{% endfor %}

		</table>
	</div>

</section>
{% endif %}
<!--SECTION PACKAGING END-->

<!--SECTION STORAGE-->
{% if item.store %}
<section class="row">
	<h2 id="storage" class="icon-storage waypoint-ipn">Хранение</h2>
	<p>{{ item.store.rendered }}</p>
</section>
{% endif %}
<!--SECTION STORAGE END-->

<!--SECTION DOCS LIST-->
{% if membrane_docs %}
{% doc membrane_docs 'Документация' %}
{% endif %}
<!--SECTION DOCS LIST END-->


<!--SECTION PROMOTIONALS LIST-->
{% if membrane_promotionals %}
{% doc membrane_promotionals 'Материалы' %}
{% endif %}
<!--SECTION PROMOTIONALS LIST END-->

<!--SECTION ACCESSORIES GALLERY-->
{% if membrane_accesory %}
{% cache 600 membrane_accessory_cache item.id %}
<section class="row">
	<h2 id="accessories" class="icon-accessories waypoint-ipn">Комплектующие</h2>
	{% carousel membrane_accesory %}
</section>
{% endcache %}
{% endif %}
<!--SECTION ACCESSORIES GALLERY END-->

<!--SECTION SOLUTIONS GALLERY-->
{% if membrane_solution %}
{% cache 600 membrane_solution_cache item.id %}
<section class="row">
	<h2 id="solutions" class="icon-solutions waypoint-ipn">Решения</h2>
	{% carousel membrane_solution %}
</section>
{% endcache %}
{% endif %}
<!--SECTION SOLUTIONS GALLERY END-->

<!--SECTION OBJECTS GALLERY-->
{% if objects %}
{% cache 600 membrane_object_cache item.id %}
<section class="row">
	<h2 id="objects" class="icon-objects waypoint-ipn">Объекты</h2>
	{% carousel objects %}
</section>
{% endcache %}
{% endif %}
<!--SECTION OBJECTS GALLERY END-->

<!--SECTION MEMBRANES GALLERY-->
{% if other_membranes %}
{% cache 600 other_membranes_cache item.id %}
<section class="row">
	<h2 id="membranes" class="icon-membranes waypoint-ipn">Другие мембраны</h2>
	{% carousel other_membranes %}
</section>
{% endcache %}
{% endif %}
<!--SECTION MEMBRANES GALLERY END-->

{% endblock %}
