{% extends 'base.html' %}
{% load carousel %}
{% load cache %}
{% block title %}
  {{ item.title_meta }}
{% endblock %}
{% block content %}

  <!-- ------------ SECTION HERO -->
  <header class="row hero"
          data-img="
                  {% if item.img_main %}{{ item.img_main.url }}{% elif item.img_p %}{{ item.img_p.url }}{% else %}/static/img/hero.jpg{% endif %}">

    <div class="heroContainerText">
      <h1 class="headerTitle">{{ item.title }}</h1>
      <span class="headerSubtitle header-subtitle-visible">{{ item.desc }}</span>
    </div>
  </header>
  <!-- ------------ SECTION HERO END -->

  <!-- ------------ SECTION IPN -->
  <i data-animate-down="waypoint-collapsed" data-animate-up="waypoint-expanded" class="waypoint-topbar"></i>
  <nav id="ipnbar" class="row ipnbar js-ipnbar">
    <button class="asideToggle icon-menu"></button>
    <ul class="ipnbarAnchors">
      {% if item.info %}
        <li class="ipnbarAnchorsItem">
          <a href="#info" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-info"></a>
        </li>
      {% endif %}

      {% if types_brands %}
        <li class="ipnbarAnchorsItem">
          <a href="#brands" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-membranes"></a>
        </li>
      {% endif %}

      {% if types_solutions %}
        <li class="ipnbarAnchorsItem">
          <a href="#solutions" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-solutions"></a>
        </li>
      {% endif %}

      {% if types_articles %}
        <li class="ipnbarAnchorsItem">
          <a href="#articles" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-knowledge"></a>
        </li>
      {% endif %}

      {% if types_objects %}
        <li class="ipnbarAnchorsItem">
          <a href="#objects" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-objects"></a>
        </li>
      {% endif %}

    </ul>
    <a class="ipnbarCta" title="Найти подрядчика | Купить"><span>Найти подрядчика | Купить</span></a>
  </nav>
  <!-- ------------ SECTION IPN END -->

  <!-- ------------ SECTION INFO -->
  {% if item.info %}
    <section class="row">
      <h2 id="info" class="icon-info">Описание</h2>
      {% autoescape off %}{{ item.info }}{% endautoescape %}
    </section>
  {% endif %}
  <!-- ------------ SECTION INFO END -->

  <!-- ------------ SECTION BRANDS GALLERY -->
  {% if types_brands %}
    {% cache 600 category_types_brands item.id %}
      <section class="row">
        <h2 id="brands" class="icon-membranes">Полимерные мембраны</h2>
        {% carousel types_brands %}
      </section>
    {% endcache %}
  {% endif %}
  <!-- ------------ SECTION BRANDS GALLERY END -->

  <!-- ------------ SECTION SOLUTIONS GALLERY -->
  {% if types_solutions %}
    {% cache 600 category_types_solutions item.id %}
      <section class="row">
        <h2 id="solutions" class="icon-solutions">Решения</h2>
        {% carousel types_solutions %}
      </section>
    {% endcache %}
  {% endif %}
  <!-- ------------ SECTION SOLUTIONS GALLERY -->

  <!-- ------------ SECTION ARTICLES GALLERY -->
  {% if types_articles %}
    {% cache 600 category_types_articles item.id %}
    <section class="row">
      <h2 id="articles" class="icon-knowledge">Знания</h2>
      {% carousel types_articles %}
    </section>
    {% endcache %}
  {% endif %}
  <!-- ------------ SECTION ARTICLES GALLERY END -->

  <!-- ------------ SECTION OBJECTS GALLERY -->
  {% if types_objects %}
    {% cache 600 category_types_objects item.id %}
    <section class="row">
      <h2 id="objects" class="icon-objects">Объекты</h2>
      {% carousel types_objects %}
    </section>
    {% endcache %}
  {% endif %}
  <!-- ------------ SECTION OBJECTS GALLERY END -->

{% endblock %}
