<!--Шаблон-->

<use xlink:href="/static/img/symbols.svg#svgCallout" data-index="1" x="" y="" data-desc=""></use>
<use xlink:href="/static/img/symbols.svg#svgCallout" data-index="2" x="" y="" data-desc=""></use>
<use xlink:href="/static/img/symbols.svg#svgCallout" data-index="3" x="" y="" data-desc=""></use>
<use xlink:href="/static/img/symbols.svg#svgCallout" data-index="4" x="" y="" data-desc=""></use>
<use xlink:href="/static/img/symbols.svg#svgCallout" data-index="5" x="" y="" data-desc=""></use>
<use xlink:href="/static/img/symbols.svg#svgCallout" data-index="6" x="" y="" data-desc=""></use>
<use xlink:href="/static/img/symbols.svg#svgCallout" data-index="7" x="" y="" data-desc=""></use>
<use xlink:href="/static/img/symbols.svg#svgCallout" data-index="8" x="" y="" data-desc=""></use>
<use xlink:href="/static/img/symbols.svg#svgCallout" data-index="9" x="" y="" data-desc=""></use>
<use xlink:href="/static/img/symbols.svg#svgCallout" data-index="11" x="" y="" data-desc=""></use>
<use xlink:href="/static/img/symbols.svg#svgCallout" data-index="12" x="" y="" data-desc=""></use>
<use xlink:href="/static/img/symbols.svg#svgCallout" data-index="13" x="" y="" data-desc=""></use>
<use xlink:href="/static/img/symbols.svg#svgCallout" data-index="14" x="" y="" data-desc=""></use>
<use xlink:href="/static/img/symbols.svg#svgCallout" data-index="15" x="" y="" data-desc=""></use>
<use xlink:href="/static/img/symbols.svg#svgCallout" data-index="16" x="" y="" data-desc=""></use>
<use xlink:href="/static/img/symbols.svg#svgCallout" data-index="17" x="" y="" data-desc=""></use>

<!--ТН-КРОВЛЯ Проф http://logicroof.ru/solution/roof/light/-->

<use data-index="1" x="156.875" y="103.292" data-desc="Паробарьер Б" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="2" x="173.958" y="66.292" data-desc="Экструзионный пенополистирол ТЕХНОНИКОЛЬ CARBON PROF SLOPE" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="3" x="134.875" y="56.708" data-desc="Экструзионный пенополистирол ТЕХНОНИКОЛЬ CARBON PROF 300" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="4" x="75.042" y="52.042" data-desc="Стеклохолст 100 г/м2" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="5" x="112.875" y="37.208" data-desc="Телескопический крепеж ТехноНИКОЛЬ" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="6" x="144" y="31.042" data-desc="Полимерная мембрана LOGICROOF V-RP" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>

<!--ТН-КРОВЛЯ Терраса http://logicroof.ru/solution/roof/terrace/-->

<use data-index="1" x="151.25" y="116.75" data-desc="Бикроэласт ТПП" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="2" x="155.5" y="75.75" data-desc="Экструзионный пенополистирол ТЕХНОНИКОЛЬ CARBON PROF 300" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="3" x="117.25" y="73.5" data-desc="Стеклохолст 100 г/м2" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="4" x="143.5" y="38.25" data-desc="Полимерная мембрана ECOPLAST V-GR" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="5" x="91.25" y="57.5" data-desc="Иглопробивной термообработанный геотекстиль ТехноНИКОЛЬ 300 г/м2" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="6" x="58.75" y="46.75" data-desc="Тротуарная плитка на регулируемых опорах" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="7" x="183.25" y="45.5" data-desc="Экструзионный пенополистирол ТЕХНОНИКОЛЬ CARBON PROF RF SLOPE" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>

<!--ТН-КРОВЛЯ Эксперт http://logicroof.ru/solution/roof/expert/-->

<use data-index="1" x="192.5" y="104" data-desc="Железобетонное основание или старый кровельный ковер" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="2" x="154.5" y="122.5" data-desc="Экструзионный пенополистирол CARBON" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="3" x="192.5" y="64.5" data-desc="Монтажный клей" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="4" x="129" y="41.75" data-desc="Полимерная мембрана LOGICROOF с флисовой подложкой" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>

<!--ТН-КРОВЛЯ Смарт PIR http://logicroof.ru/solution/roof/smart_pir/-->

<use data-index="1" x="164.5" y="120" data-desc="Пленка пароизоляционная ТехноНИКОЛЬ" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="2" x="198.5" y="62.75" data-desc="Минераловатный утеплитель ТЕХНОРУФ Н30" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="3" x="138" y="82.75" data-desc="Плиты теплоизоляционные PIR SLOPE" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="4" x="159.5" y="38.25" data-desc="Плиты теплоизоляционные PIR" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="5" x="103" y="47.25" data-desc="Телескопический крепеж ТехноНИКОЛЬ" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="6" x="129.5" y="28.25" data-desc="Полимерная мембрана LOGICROOF V-RP" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>

<!--ТН-КРОВЛЯ Оптима http://logicroof.ru/solution/roof/optima_n-->

<use data-index="1" x="156.25" y="116" data-desc="Биполь ЭПП" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="2" x="204" y="55" data-desc="Плиты теплоизоляционные PIR" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="3" x="170.25" y="40.5" data-desc="Плиты теплоизоляционные PIR SLOPE" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="4" x="135" y="34" data-desc="Телескопический крепеж ТехноНИКОЛЬ" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="5" x="84.25" y="52.5" data-desc="Полимерная мембрана LOGICROOF V-RP" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>

<!--ТН-КРОВЛЯ Комби http://logicroof.ru/solution/roof/kombi_n/-->

<use data-index="1" x="185.25" y="64.25" data-desc="Плиты АЦЛ или ЦСП в 2 слоя" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="2" x="151.75" y="47.5" data-desc="Геотекстиль" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="3" x="66.75" y="44.5" data-desc="Полимерная мембрана LOGICROOF V-RP" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="4" x="108.969" y="40.406" data-desc="Тарельчатый крепеж ТехноНИКОЛЬ" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>

<!--ТН-КРОВЛЯ Комби Плюс http://logicroof.ru/solution/roof/kombi_plus_n/-->

<use data-index="1" x="168.667" y="125.333" data-desc="Плиты АЦЛ или ЦСП в 2 слоя" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="2" x="192.667" y="77.333" data-desc="Паробарьер Б" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="3" x="125.667" y="98.667" data-desc="Экструзионный пенополистирол ТЕХНОНИКОЛЬ CARBON PROF SLOPE" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="4" x="88" y="69.667" data-desc="Экструзионный пенополистирол ТЕХНОНИКОЛЬ CARBON PROF 300" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="5" x="53.333" y="49" data-desc="Стеклохолст 100 г/м2" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="6" x="100.792" y="39.104" data-desc="Телескопический крепеж ТехноНИКОЛЬ" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="7" x="130.667" y="32" data-desc="Полимерная мембрана LOGICROOF V-RP" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>

<!--ТН-КРОВЛЯ Гарант http://logicroof.ru/solution/roof/garant_pir/-->

<use data-index="1" x="163" y="121.333" data-desc="Пленка пароизоляционная ТехноНИКОЛЬ" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="2" x="148.333" y="47" data-desc="Плиты теплоизоляционные PIR" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="3" x="135.333" y="84.333" data-desc="Плиты теплоизоляционные PIR SLOPE" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="4" x="102.708" y="47.875" data-desc="Телескопический крепеж ТехноНИКОЛЬ" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="5" x="110.5" y="20.125" data-desc="Полимерная мембрана LOGICROOF V-RP" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>

<!--ТН-КРОВЛЯ Смарт http://logicroof.ru/solution/roof/smart/-->

<use data-index="1" x="159.5" y="121.75" data-desc="Пленка пароизоляционная ТехноНИКОЛЬ" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="2" x="89.25" y="84" data-desc="Минераловатный утеплитель ТЕХНОРУФ Н30" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="3" x="184.25" y="67" data-desc="Экструзионный пенополистирол ТЕХНОНИКОЛЬ CARBON PROF SLOPE" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="4" x="170.5" y="40.25" data-desc="Экструзионный пенополистирол ТЕХНОНИКОЛЬ CARBON PROF 300" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="5" x="142.5" y="30.75" data-desc="Стеклохолст 100 г/м2" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="6" x="115.5" y="40.958" data-desc="Телескопический крепеж ТЕХНОНИКОЛЬ" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="7" x="80.333" y="45.5" data-desc="Полимерная мембрана LOGICROOF V-RP" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>

<!--ТН-КРОВЛЯ Классик http://logicroof.ru/solution/roof/classic1/-->

<use data-index="1" x="162.25" y="118" data-desc="Пленка пароизоляционная ТехноНИКОЛЬ" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="2" x="83.5" y="79.75" data-desc="Минераловатный утеплитель ТЕХНОРУФ Н30" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="3" x="164.25" y="37" data-desc="Минераловатный утеплитель ТЕХНОРУФ В60" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="4" x="115.25" y="39.25" data-desc="Телескопический крепеж ТехноНИКОЛЬ" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="5" x="76" y="43.5" data-desc="Полимерная мембрана LOGICROOF V-RP" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="6" x="152.25" y="72.75" data-desc="Минераловатный утеплитель ТЕХНОРУФ Н30 КЛИН 1,7% (для формирования контр уклона ТЕХНОРУФ Н30 КЛИН 4,2%)" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>

<!--ТН-КРОВЛЯ Проф Ремонт http://logicroof.ru/solution/roof/prof_remont_n/-->

<use data-index="1" x="166.25" y="99" data-desc="Старый кровельный ковер" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="2" x="180.75" y="60.5" data-desc="Экструзионный пенополистирол ТЕХНОНИКОЛЬ CARBON PROF SLOPE" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="3" x="120" y="66.5" data-desc="Экструзионный пенополистирол ТЕХНОНИКОЛЬ CARBON PROF 300" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="4" x="63" y="48.5" data-desc="Стеклохолст 100 г/м2" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="5" x="112.187" y="37.219" data-desc="Телескопический крепеж ТехноНИКОЛЬ" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="6" x="144.125" y="29.5" data-desc="Полимерная мембрана LOGICROOF V-RP" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>

<!--ТН-КРОВЛЯ Балласт http://logicroof.ru/solution/roof/ballast/-->

<use data-index="1" x="149.25" y="119.75" data-desc="Паробарьер Б" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="2" x="147.25" y="82.75" data-desc="Экструзионный пенополистирол ТЕХНОНИКОЛЬ CARBON PROF 300 RF" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="3" x="180.25" y="47" data-desc="Стеклохолст 100 г/м2" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="4" x="152.25" y="51.25" data-desc="Полимерная мембрана ECOPLAST V-GR" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="5" x="88.75" y="75.25" data-desc="Иглопробивной геотекстиль ТехноНИКОЛЬ 300 г/м2" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="6" x="123.25" y="39.25" data-desc="Балласт" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>
<use data-index="7" x="57.25" y="51.25" data-desc="Экструзионный пенополистирол ТЕХНОНИКОЛЬ CARBON PROF RF SLOPE" width="24" height="24" class="solutionPieCallout" xlink:href="/static/img/symbols.svg#svgCallout"></use>

<!--ТН-ФУНДАМЕНТ Проф http://logicroof.ru/solution/waterproofing/gidroizolyaciya_fundamenta/tnfundament_prof/-->

<use r="" data-index="1" data-desc="Железобетонная конструкция" xlink:href="/static/img/symbols.svg#svgCallout" x="181.585" y="51.5417"/>
<use r="-90" data-index="2" data-desc="Геотекстиль иглопробивной ТехноНИКОЛЬ, 500 г/м²" xlink:href="/static/img/symbols.svg#svgCallout" x="156.833" y="100.8343"/>
<use r="-90" data-index="3" data-desc="Гидроизоляционная шпонка НР-220" xlink:href="/static/img/symbols.svg#svgCallout" x="144.833" y="149.0843"/>
<use r="-90" data-index="4" data-desc="ПВХ мембрана LOGICBASE V–SL (LOGICROOF T–SL)" xlink:href="/static/img/symbols.svg#svgCallout" x="134.7072" y="75.5406"/>
<use r="-90" data-index="5" data-desc="Геотекстиль иглопробивной ТехноНИКОЛЬ, 500 г/м²" xlink:href="/static/img/symbols.svg#svgCallout" x="120.833" y="130.3739"/>
<use r="-90" data-index="6" data-desc="Утеплитель ХPS ТЕХНОНИКОЛЬ CARBON PROF" xlink:href="/static/img/symbols.svg#svgCallout" x="110.2083" y="56.0408"/>
<use r="-90" data-index="7" data-desc="Профилированная мембрана PLANTER geo" xlink:href="/static/img/symbols.svg#svgCallout" x="103.8336" y="86.1874"/>
<use r="" data-index="8" data-desc="Пленка полиэтиленовая ТехноНИКОЛЬ 200 мкм" xlink:href="/static/img/symbols.svg#svgCallout" x="183.1677" y="202"/>
<use r="90" data-index="9" data-desc="Угловой инъекционный штуцер" xlink:href="/static/img/symbols.svg#svgCallout" x="260.292" y="191.8976"/>
<use r="" data-index="10" data-desc="Защитная ц/п стяжка" xlink:href="/static/img/symbols.svg#svgCallout" x="226.0413" y="170.3968"/>
<use r="-90" data-index="11" data-desc="Угловой компенсатор из ХPS ТЕХНОНИКОЛЬ CARBON PROF" xlink:href="/static/img/symbols.svg#svgCallout" x="157.5842" y="212.624"/>
<use r="-90" data-index="12" data-desc="Прямой инъекционный штуцер" xlink:href="/static/img/symbols.svg#svgCallout" x="170.2907" y="130.417"/>
<use r="90" data-index="13" data-desc="Инъекционная трубка" xlink:href="/static/img/symbols.svg#svgCallout" x="204.6666" y="105.2497"/>
<use r="90" data-index="14" data-desc="Ниша для сбора инъекционных трубок" xlink:href="/static/img/symbols.svg#svgCallout" x="207.4162" y="143.9997"/>
<use r="" data-index="15" data-desc="Гидроизоляционная шпонка ВР-240" xlink:href="/static/img/symbols.svg#svgCallout" x="190.8743" y="163.3968"/>
<use r="" data-index="16" data-desc="Дренажная труба" xlink:href="/static/img/symbols.svg#svgCallout" x="91.8344" y="174.0833"/>
<use r="" data-index="17" data-desc="Грунт обратной засыпки" xlink:href="/static/img/symbols.svg#svgCallout" x="69.0407" y="89.5417"/>

<!--ТН-Тоннель Барьер http://logicroof.ru/solution/waterproofing/gidroizolyaciya_tonnelej/tntonnel_barer/-->
<use r="" data-index="1" data-desc="Грунт" xlink:href="/static/img/symbols.svg#svgCallout" x="26.0007" y="172.001"/>
<use r="" data-index="2" data-desc="Первичная бетонная крепь" xlink:href="/static/img/symbols.svg#svgCallout" x="67.6676" y="172.001"/>
<use r="" data-index="3" data-desc="Геотекстиль иглопробивной ТехноНИКОЛЬ, 500 г/м²" xlink:href="/static/img/symbols.svg#svgCallout" x="96.0006" y="183.4593"/>
<use r="" data-index="4" data-desc="Гидроизоляционная мембрана LOGICBASE V–SL (LOGICROOF T–SL)" xlink:href="/static/img/symbols.svg#svgCallout" x="126.3962" y="185.4593"/>
<use r="" data-index="5" data-desc="Защитная ПВХ мембрана LOGICBASE V–PT" xlink:href="/static/img/symbols.svg#svgCallout" x="156.0007" y="182.4593"/>
<use r="" data-index="6" data-desc="Защитная ц/п стяжка" xlink:href="/static/img/symbols.svg#svgCallout" x="193.4391" y="175.4593"/>
<use r="" data-index="7" data-desc="Армированный железобетон" xlink:href="/static/img/symbols.svg#svgCallout" x="112.3965" y="136.3343"/>
<use r="90" data-index="8" data-desc="ПВХ рондель ТехноНИКОЛЬ" xlink:href="/static/img/symbols.svg#svgCallout" x="63.6777" y="118.6781"/>

<!--ТН-Тоннель Проф http://logicroof.ru/solution/waterproofing/gidroizolyaciya_tonnelej/prof/-->
<use r="" data-index="1" data-desc="Грунт" xlink:href="/static/img/symbols.svg#svgCallout" x="33.751" y="176.751"/>
<use r="" data-index="2" data-desc="Первичная бетонная крепь" xlink:href="/static/img/symbols.svg#svgCallout" x="63.1475" y="165.9176"/>
<use r="" data-index="3" data-desc="Геотекстиль иглопробивной ТехноНИКОЛЬ, 500 г/м²" xlink:href="/static/img/symbols.svg#svgCallout" x="90.376" y="176.251"/>
<use r="" data-index="4" data-desc="Гидроизоляционная мембрана LOGICBASE V–SL (LOGICROOF T–SL)" xlink:href="/static/img/symbols.svg#svgCallout" x="116" y="182.251"/>
<use r="" data-index="5" data-desc="Инъекционные трубки" xlink:href="/static/img/symbols.svg#svgCallout" x="164.2302" y="187.9509"/>
<use r="" data-index="6" data-desc="Угловой инъекционный штуцер" xlink:href="/static/img/symbols.svg#svgCallout" x="77.794" y="146.3249"/>
<use r="" data-index="7" data-desc="Гидрошпонка НР-220" xlink:href="/static/img/symbols.svg#svgCallout" x="143.1247" y="173.9176"/>
<use r="" data-index="8" data-desc="Защитная ПВХ мембрана LOGICBASE V–PT" xlink:href="/static/img/symbols.svg#svgCallout" x="105.9997" y="154.9717"/>
<use r="" data-index="9" data-desc="Защитная ц/п стяжка" xlink:href="/static/img/symbols.svg#svgCallout" x="173.333" y="165.9176"/>
<use r="90" data-index="10" data-desc="ПВХ рондель ТехноНИКОЛЬ" xlink:href="/static/img/symbols.svg#svgCallout" x="65.792" y="118.6165"/>

<!--ТН-Тоннель Эксперт http://logicroof.ru/solution/waterproofing/gidroizolyaciya_tonnelej/tntonnel_ekspert/-->
<use r="" data-index="1" data-desc="Грунт" xlink:href="/static/img/symbols.svg#svgCallout" x="32.001" y="188.501"/>
<use r="" data-index="2" data-desc="Первичная бетонная крепь" xlink:href="/static/img/symbols.svg#svgCallout" x="64.7506" y="166.8978"/>
<use r="" data-index="3" data-desc="Геотекстиль иглопробивной ТехноНИКОЛЬ, 500 г/м²" xlink:href="/static/img/symbols.svg#svgCallout" x="89.2503" y="178.8978"/>
<use r="" data-index="4" data-desc="Гидроизоляционная мембрана LOGICBASE V–SL (LOGICROOF T–SL)" xlink:href="/static/img/symbols.svg#svgCallout" x="115.5631" y="183.751"/>
<use r="" data-index="5" data-desc="Гидроизоляционная мембрана LOGICBASE V–ST (LOGICROOF T–PL)" xlink:href="/static/img/symbols.svg#svgCallout" x="91.25" y="153.376"/>
<use r="" data-index="6" data-desc="Инъекционные трубки" xlink:href="/static/img/symbols.svg#svgCallout" x="168.751" y="187.5446"/>
<use r="" data-index="7" data-desc="Угловой инъекционный штуцер" xlink:href="/static/img/symbols.svg#svgCallout" x="144.001" y="185.751"/>
<use r="" data-index="8" data-desc="Защитная ПВХ мембрана LOGICBASE V–PT" xlink:href="/static/img/symbols.svg#svgCallout" x="114.7506" y="159.3759"/>
<use r="" data-index="9" data-desc="Защитная ц/п стяжка" xlink:href="/static/img/symbols.svg#svgCallout" x="194.3343" y="174.3759"/>
<use r="90" data-index="10" data-desc="ПВХ рондель ТехноНИКОЛЬ" xlink:href="/static/img/symbols.svg#svgCallout" x="63.876" y="119.376"/>
<use r="90" data-index="11" data-desc="Ниша для сбора инъекционных трубок" xlink:href="/static/img/symbols.svg#svgCallout" x="106.876" y="109.376"/>