//html
//  height 100% // При контенте высотой менее вьюпорта
html
  font-size 100%
  //transition opacity .3s ease-out
  //visibility visible !important
  //opacity 1 !important

body
  size 100%
  min-width c4
  display flex
  flex-flow row nowrap
  flex 0 0 auto
  justify-content flex-end
  //&.asideTrue
  //  justify-content flex-start
  +mq(1)
    justify-content flex-start !important
  +mq(4)
    justify-content center !important
  background $colorSidebar
  overflow-x hidden !important

.mainContainer
  min-height 100vh
  max-height 100vh

#main
.mainContainer
  display flex
  flex-flow column nowrap
  flex 0 0 auto
  background $colorWhite
  //box-shadow 0 0 g1 0 $colorContentPartShadow
  box-shadow (g1/3) 0 0 0 $colorContentPartShadow
  //margin-top $topbarHeight
  min-height 100vh
  z-index 1
  width c12
  justify-content space-between
  +mq(1, true)
    width c4
  +mq(1)
    +aside()
      display none !important
  +mq(2, true)
    width c8
  +mq(3, true)
    width c12
  +mq(4)
    width c12

.js-roof-scroll-bar
  z-index 10
  width 100% !important
  pointer-events none
  #main &
    +mq(1, true)
      width c4 !important
    +mq(1)
      +aside()
        display none !important
    +mq(2, true)
      width c8 !important
    +mq(3, true)
      width c12 !important
    +mq(4)
      width c12 !important
  #aside &
    width c4 !important
.js-roof-scroll-track
  //display none !important
  background-color $colorScrollbarTrack !important
  width 8px !important
.js-roof-scroll-thumb
  pointer-events all
  border-right 2px solid $colorScrollbarThumb
  margin-right 3px
  background-color transparent !important
  transition-property border-right-width, margin-right
  transition-duration ($transitionDuration/2)
  transition-timing-function ease-in-out
  cursor ns-resize
  &:hover
    border-right-width 8px
    margin-right 0
  +mq(1)
    width g2 !important
  +mq(2)
    width g2 !important
  +mq(3)
    width g2 !important
  +mq(4)
    width g2 !important

#header
#footer
  overflow hidden
  //*
  //  transition-property width, height, justify-content, align-content, align-items
  //  transition-duration $transitionDuration
  //  transition-timing-function ease-in-out

.row
  width inherit

#asideToggle
  display none
  pointer-events none
  user-select none


[data-img]
[data-original]
  background-image url('/static/img/placeholder.svg')
  background-position center
  background-repeat no-repeat
  background-size cover
  background-clip content-box
  border-radius 1px
  overflow hidden
  background-color $colorBorderLight
  transform translateZ(0)
  image-rendering auto

$pointerEventsNone
  pointer-events none !important

$pointerEventsAll
  pointer-events all !important

.pointerEventsNone
  @extend $pointerEventsNone
  &:after
  &:before
  *
    @extend $pointerEventsNone
    &:after
    &:before
      @extend $pointerEventsNone
#topbar, #ipnbar, #sidebar
  @extend $pointerEventsAll
  &:after
  &:before
  *
    @extend $pointerEventsAll
    &:after
    &:before
      @extend $pointerEventsAll

button
  display block !important