{$iconsSelector}
  &:before
    -webkit-font-smoothing antialiased
    -webkit-backface-visibility hidden
    backface-visibility hidden
    -moz-osx-font-smoothing grayscale
    box-shadow 0 0 1px rgba(0, 0, 0, 0)
    @extend $iconsFontFamily

.icon-arrow-up:before
  @extend .icon-arrow-down:before
  transform rotate(180deg)

.icon-arrow-right:before
  @extend .icon-arrow-down:before
  transform rotate(270deg)

.icon-arrow-left:before
  @extend .icon-arrow-down:before
  transform rotate(90deg)

// Avenir Next Font Family
fonts-path = '/static/fonts'
for style in normal italic
  weights = {ultralight: 100, thin: 200, light: 300, regular: normal, medium: 500, demi: 600, bold: bold, heavy: 900}
  for name, weight in weights
    name = name + '-italic' if style is 'italic'
    @font-face
      font-family (prefix = 'wf_avenir-next')
      src: (path = fonts-path + '/' + prefix + '/' + prefix + '_') + name + '.eot'
      src:
        url(path + name + '.eot?#iefix') format('embedded-opentype'),
        url(path + name + '.woff2') format('woff2'),
        url(path + name + '.woff') format('woff'),
        url(path + name + '.ttf') format('truetype'),
        url(path + name + '.svg#' + name) format('svg')
      font-weight weight
      font-style style