// Configs

$gridSize   = 12px // any units
$gridPrefix = 'g'

$gridColumnSize   = 6 // grids
$gridColumnPrefix = 'c'

$gridStatesSize   = 4 // columns
$gridStatesNumber = 4
$gridStatesPrefix = 's'

$gridColumnsNumber = $gridStatesSize*$gridStatesNumber

// Generators

// Grids variables
for i in 1..$gridColumnSize*$gridStatesSize
  define($gridPrefix + i, $gridSize * i)

// Columns variables
for i in 1..$gridColumnsNumber
  define($gridColumnPrefix + i, convert($gridPrefix + $gridColumnSize) * i)


// TEMP MANUAL STYLES
// TODO Переписать в формате генератора
//

aside(asideTrue = true, through = false)
  asideSelector = '.asideTrue'
  through = through != false ? ' ' + through : ''
  if asideTrue == true
    html{asideSelector}{through} &
      {block}
  else if asideTrue == false
    html:not({asideSelector}){through} &
      {block}
  else
    error('asideTrue not logical')

mq(s, asideMode = false, only = false)
  s1()
    @media (max-width 575px)
      {block}
  s2()
    @media (min-width 576px) and (max-width 863px)
      {block}
  s3()
    @media (min-width 864px) and (max-width 1151px)
      {block}
  s4()
    @media (min-width 1152px)
      {block}

  through = asideMode != true && asideMode != false && asideMode is defined ? asideMode : ''

  if s == 1
    if asideMode
      if only != 2
        +s1()
          +aside(false, through)
            {block}
      if only != 1
        +s2()
          +aside(true, through)
            {block}
    else
      +s1()
        {block}
  if s == 2
    if asideMode
      if only != 2
        +s2()
          +aside(false, through)
            {block}
      if only != 1
        +s3()
          +aside(true, through)
            {block}
    else
      +s2()
        {block}
  if s == 3
    if asideMode
      if only != 2
        +s3()
          +aside(false, through)
            {block}
      if only != 1
        +s4()
          {block}
    else
      +s3()
        {block}
  if s == 4
    +s4()
      {block}

// Для всех адаптивных элементов необходимо задавать размеры через @extend соответвующего класса.
// Columns classes
$gridColumnsClassesList = null
for i in 1..$gridColumnsNumber
  push($gridColumnsClassesList, convert('.' + $gridColumnPrefix + i))

for i, index in $gridColumnsClassesList
  unless index < 1
    {i}
      display flex
      width width = convert($gridPrefix + $gridColumnSize) * index
      flex 0 0 auto
      //overflow hidden
      if width >= 288px
        +mq(1)
          width mediaWidth = 288px
        +mq(1, '#main')
          width mediaWidth = 288px
      if width >= 576px
        +mq(2, '#main')
          width mediaWidth = 576px
      if width >= 864px
        +mq(3, '#main')
          width mediaWidth = 864px
      if width >= 1152px
        +mq(4, '#main')
          width mediaWidth = 1152px



/*
  wmax - это flex-ряд с переносами, занимающий 100% ширины родительского контейнера.
  Его роль - размещение широкоформатных фонов и дочерних flex-блоков w{i}.
  Как и остальные w-элементы, он не имеет паддинга по умолчанию.
*/
.cmax
  width inherit
  //+mq(1, '#main')
  //  width c4
  //+mq(2, '#main')
  //  width c8
  //+mq(3, '#main')
  //  width c12
  //+mq(4)
  //  width c12
  display flex
  flex-flow row wrap
  flex 0 0 auto