@font-face {
	font-family: "icons";
	src: url('/static/fonts/icons/icons.eot');
	src: url('/static/fonts/icons/icons.eot?#iefix') format('eot'),
		url('/static/fonts/icons/icons.woff') format('woff'),
		url('/static/fonts/icons/icons.ttf') format('truetype'),
		url('/static/fonts/icons/icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-accessories:before {
	content: "\E001";
}

.icon-arrow-down:before {
	content: "\E002";
}

.icon-buy:before {
	content: "\E003";
}

.icon-calculate-material:before {
	content: "\E004";
}

.icon-characteristics:before {
	content: "\E005";
}

.icon-checkmark:before {
	content: "\E006";
}

.icon-doc:before {
	content: "\E007";
}

.icon-docs-group:before {
	content: "\E008";
}

.icon-docs:before {
	content: "\E009";
}

.icon-dwg:before {
	content: "\E00A";
}

.icon-email:before {
	content: "\E00B";
}

.icon-fb:before {
	content: "\E00C";
}

.icon-fire-certificates:before {
	content: "\E00D";
}

.icon-in:before {
	content: "\E00E";
}

.icon-info:before {
	content: "\E00F";
}

.icon-knowledge:before {
	content: "\E010";
}

.icon-level1:before {
	content: "\E011";
}

.icon-level2:before {
	content: "\E012";
}

.icon-level3:before {
	content: "\E013";
}

.icon-membranes:before {
	content: "\E014";
}

.icon-menu-close:before {
	content: "\E015";
}

.icon-menu-current:before {
	content: "\E016";
}

.icon-menu-loading:before {
	content: "\E017";
}

.icon-menu:before {
	content: "\E018";
}

.icon-minus:before {
	content: "\E019";
}

.icon-news:before {
	content: "\E01A";
}

.icon-objects:before {
	content: "\E01B";
}

.icon-packaging:before {
	content: "\E01C";
}

.icon-pdf:before {
	content: "\E01D";
}

.icon-plus:before {
	content: "\E01E";
}

.icon-ppt:before {
	content: "\E01F";
}

.icon-promotionals:before {
	content: "\E020";
}

.icon-qos:before {
	content: "\E021";
}

.icon-rejection-letter:before {
	content: "\E022";
}

.icon-search:before {
	content: "\E023";
}

.icon-select-solution:before {
	content: "\E024";
}

.icon-solutions:before {
	content: "\E025";
}

.icon-storage:before {
	content: "\E026";
}

.icon-tn:before {
	content: "\E027";
}

.icon-use:before {
	content: "\E028";
}

.icon-vk:before {
	content: "\E029";
}

.icon-yt:before {
	content: "\E02A";
}
