//@import 'kouto-swiss'

pw(left, right = left) // padding-width
  padding-left left
  padding-right right

ph(top, bottom = top) // padding-height
  padding-top top
  padding-bottom bottom

mw(left, right = left) // margin-width
  margin-left left
  margin-right right

mh(top, bottom = top) // margin-height
  margin-top top
  margin-bottom bottom

bw(args...) // border-width
  border-left args
  border-right args

bh(args...) // border-height
  border-top args
  border-bottom args

size(width, height = width)
  width width
  height height

size-max(width, height = width)
  max-width width
  max-height height

size-min(width, height = width)
  min-width width
  min-height height

media = media-query()

opacity(opacity)
  filter unquote('alpha(opacity='+ opacity * 100 +')')
  opacity opacity

heights(base, min = base, max = base)
  if min = max
    min-height min
    max-height max
  else
    height base
    min-height min
    max-height max

widths(base, min = base, max = base)
  if min = max
    min-width min
    max-width max
  else
    width base
    min-width min
    max-width max