$iconsFontFamily
  @extend .icon:before
  display flex
  flex-flow row nowrap
  flex 0 0 auto
  align-items center
  font-size g2
  text-align center

$iconInline
  @extend $iconsFontFamily
  padding g1

$colorTransition
  transition color $transitionDuration ease-out

$flexRowWithIcon
  display flex
  flex 0 0 auto
  align-items center
  //pw g2
  &::before
    @extend $iconsFontFamily
    justify-content center
    width g2
    min-width g2
    max-width g2
    margin-right g2
    color $colorSidebar

$buttons
  display flex
  flex-flow row nowrap
  flex 0 0 auto
  outline none
  justify-content center
  align-items center
  border solid 1px $colorButtonBorderRegular
  background-color transparent
  color inherit
  border-radius $buttonsRadius
  transition all $transitionDuration ease-in-out !important
  white-space nowrap
  height $buttonHeight
  pw (4/3)*g1
  font-family $fontFamilyAvenir
  font-size   $fontSizeParagraph
  line-height $lineHeightParagraph
  font-weight $fontWeightMedium
  +mq(1, '#main')
    pw g1
  &:before
    justify-content center
  text-transform lowercase

$buttonGone
  @extend $buttons
  //border-color $colorButtonGoneBorder
  color $colorButtonGoneBorder
  &:hover
    border-color darken($colorButtonGoneHoverBG, 2%)
    background-color $colorButtonGoneHoverBG
    color $colorButtonGoneHoverText
    //box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    z-index 1

$buttonCTA
  @extend $buttons
  border-color $colorButtonCtaBorder
  color $colorButtonCtaBorder
  mw g1
  display flex
  flex 1 0 auto
  &:hover
    color $colorButtonCtaHoverText
    background-color $colorButtonCtaHoverBG
    //box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
$buttonArrow
  @extend $buttons
  padding-left 0 !important
  padding-right 0 !important

$buttonInverse
  @extend $buttons
  color $colorWhite
  &:hover
    background-color $colorWhite
    color $colorTextPrimary
    text-shadow none

$table
  //@extend .cmax
  //flex(column)
  //justify-content space-between
  //padding g1
  overflow hidden
  min-width 100%
  +mq(1)
    pw 0

$tableRow
  //display flex
  //flex-flow row nowrap
  border-bottom 1px solid $colorBorderLight
  //$boxshadowBorderOutlineBottom($colorBorderLight, g1)
  //justify-content space-between
  //align-items center


$tableCell
  //width 100%
  //word-break break-word
  min-height $rowHeightMin = g3
  ph (($rowHeightMin - $lineHeightParagraph)/2)

  //display flex
  flex-flow row nowrap

$asideToggle
  @extend .c1
  height inherit
  display flex
  flex-flow row nowrap
  flex 0 0 auto
  justify-content center
  &:before
    width 100%
    justify-content center
  align-items center
  color $colorSidebarToggleTopbarButton
  cursor pointer
  //transition-property transform, width, min-width, visibility
  //transition-duration $transitionDuration
  //transition-timing-function ease-in-out
  //transition-delay $transitionDuration
  transition color $transitionDuration ease-in-out
  &:hover
    color $colorSecondary
  +aside(true, '#main')
    transform scale(0)
    width 0 !important
    min-width 0 !important
    visibility hidden
  +mq(4)
    transform scale(0)
    width 0 !important
    min-width 0 !important
    visibility hidden

$insetBar
  display flex
  flex-flow row nowrap
  flex 0 0 auto
  width 100%
  justify-content space-between
  align-items center
  pw g2
  +mq(1)
    pw g1

$insetBarIconButton
  @extend $flexRowWithIcon
  justify-content center
  size g4 $topbarHeight
  transition all $transitionDuration ease-in-out
  &:before
    color $colorTextSecondary
    margin-right 0
    transition all $transitionDuration ease-in-out
  &:hover
    //$boxshadowBorderInsetBottom($colorButtonGoneBorder, 2px)
    &:before
      color $colorButtonGoneBorder

$widthPreviewMedia
  +mq(1)
    width $widthPreviewS4 - $widthPreviewMargin*2 !important
  +mq(1, '#main')
    mw $widthPreviewMargin
    width $widthPreviewS1 - $widthPreviewMargin*2
  +mq(2, '#main')
    mw $widthPreviewMargin
    width $widthPreviewS2 - $widthPreviewMargin*2
  +mq(3, '#main')
    mw $widthPreviewMargin
    width $widthPreviewS3 - $widthPreviewMargin*2

$resetList
  list-style none
  margin 0
  padding 0
  li
    list-style none