*
*:before
*:after
  box-sizing border-box

body
  margin: 0

a
  text-decoration none
  color inherit
  &:active
  &:hover
    outline: 0
  //&[href^='tel']
  //  text-decoration none
button
  outline none
  border none 0
  padding 0
  background-color transparent
  color inherit
  letter-spacing inherit
  font inherit
a
button
  cursor pointer