keyframes hang
  0%
    transform translate(8px)
  50%
    transform translate(4px)
  100%
    transform translate(8px)

#svgCallout
  &Pad
    fill transparent !important
  &Shape
    fill inherit

.solution-pie-callout use
  cursor pointer
  fill $colorSecondary
  transition fill $transitionDuration ease-in-out
  animation-name hang
  animation-duration 1.5s
  animation-timing-function ease-in-out
  animation-iteration-count infinite
  animation-fill-mode forwards
  animation-direction alternate
  //transform translate(-1*g1,-1*g1)
  &:hover
    fill darken($colorSecondary, 20%)