// Font-styles placeholders without padding/margins...

$paragraph
  font-family $fontFamilyAvenir
  font-size   $fontSizeParagraph
  line-height $lineHeightParagraph
  font-weight $fontWeightRegular
  color $colorTextPrimary
  //letter-spacing 0.1px

$header1
  font-size   $fontSizeHeader1
  line-height $lineHeightHeader1
  font-weight $fontWeightDemi
  //text-transform uppercase
  color inherit

$header1S1
  font-size   $fontSizeHeader1*0.8
  line-height $lineHeightHeader1*0.8

$header2
  font-size   $fontSizeHeader2
  line-height $lineHeightHeader2
  font-weight $fontWeightMedium
  color inherit

$header3
  font-size   $fontSizeHeader3
  line-height $lineHeightHeader3
  font-weight $fontWeightMedium
  color inherit

$header4
  font-size   $fontSizeHeader4
  line-height $lineHeightHeader4
  font-weight $fontWeightMedium
  color inherit

$header5
  font-size   $fontSizeHeader5
  line-height $lineHeightHeader5
  font-weight $fontWeightMedium
  color inherit
  
$paragraphSecondary
  font-size   $fontSizeParagraph
  line-height $lineHeightParagraph
  font-weight $fontWeightLight
  color $colorTextSecondary

$bold
  font-weight $fontWeightMedium

// Tag-based
body
  @extend $paragraph

h2
h3
h4
  @extend .cmax
  display flex
  flex-flow row nowrap
  flex 0 0 auto
  margin 0

h2, h3, h4, h5, p
  pw g2
  word-wrap break-word

h3, h4, h5, p
  +mq(1)
    pw g1

h1
  @extend $header1
  margin 0
  //padding g1 g2
  &:not(:first-line)
    font-size $fontSizeParagraph
  +mq(1)
    @extend $header1S1
  +mq(1, true)
    @extend $header1S1

h2
  @extend $header2, $flexRowWithIcon
  margin-top g3
  //&:not(:first-child)
  //  margin-top $lineHeightHeader2
  //margin-bottom ($lineHeightHeader2/2)

h3
  @extend $header3
  margin-top $lineHeightHeader3

h4
  @extend $header4
  mh g2 0

h5
  @extend $header5
  mh g2 0

p
  @extend $paragraph
  mh g2 0
  overflow hidden// Если в IE в параграфе картинка с height auto, то параграф растянется до размера пререндера изображения, т.е. останется пустое пространство внизу.
  ul + &
  p + &
    mh g1 0

p
.articleNarrow ul
.articleNarrow ol
  a:not([class*='button'])
    color $colorHyperlink
    text-decoration none
    border-bottom: 1px solid transparent
    transition-property color, border-bottom
    transition-duration $transitionDuration
    transition-timing-function ease-in-out
    &:visited
      color $color-link-visited
      border-bottom-color rgba($color-link-visited, .3)
      &:hover
        color $color-link-visited-hover
        border-bottom-color rgba($colorHyperlinkHover, .3)
    &:hover
      color $colorHyperlinkHover
      border-bottom-color rgba($colorHyperlinkHover, .3)
    &:focus
      outline none

b
strong
  @extend $bold

p
.articleNarrow
  ul, ol
    li
      &:first-child
        margin-top (g1/2)
      &:last-child
        margin-bottom (g1/2)
  ul li
    list-style-type disc

hr
  border 0 none
  border-top 1px solid #ccc
  mw g2
  mh g1
  +mq(1)
    mw g1