// Color Theme
$tempColor = #3E50B4
$tempColor2 = #E81D62

$tempColor3Primary = #523DB2
$tempColor3Secondary = #FF4040

$colorNew = #3E87C7
$colorNewBetter = #1f7dcf
$colorInitial = #2D447B



// ------------ GENERAL
$colorPrimary = $colorNew//$colorInitial
$colorSecondary = #E03B41

$colorWhite = white
$colorBlack = black

// ------------ BODY colors
$colorTextPrimary = hsl(hue($colorPrimary), 50%, 20%)
$colorTextPrimaryHover = hsl(hue($colorSecondary), 50%, 20%)
$colorTextSecondary = hsl(hue($colorPrimary), 6%, 60%)
$colorTextSecondaryInverse = hsl(hue($colorPrimary), 6%, 95%)

$colorBorderLight = hsl(hue($colorPrimary), 12%, 92%)
$colorBorderLightTransparent = rgba(hsl(hue($colorPrimary), 12%, 50%), 0.16)

// ------------ SIDEBAR colors
$colorSidebar = $colorPrimary
$colorSidebarItem = hsl(hue($colorPrimary), 60%, 90%)
$colorSidebarItem2 = hsl(hue($colorSidebarItem), saturation($colorSidebarItem), 80%)
$colorSidebarItem3 = hsl(hue($colorSidebarItem2), saturation($colorSidebarItem2), 70%)
$colorSidebarItemDisabled = hsl(hue($colorSidebarItem2), 20%, 70%)


$colorSidebarBorder = rgba(hsl(hue($colorPrimary), saturation($colorPrimary), 10%), 0.16)
$colorSidebarToggleTopbarButton = $colorSidebar

$colorScrollbarThumb = hsl(hue($colorSidebar), saturation($colorSidebar), lightness($colorSidebar) + 24%)
$colorScrollbarTrack = rgba(tint($colorScrollbarThumb, 70%), 0.24)

$colorPrimarySpecial = hsl(hue($colorSidebar), saturation($colorSidebar), lightness($colorSidebar) + 24%)

$colorLink = hsl(hue($colorPrimary), 60%, 90%)
$colorIcon = hsl(hue($colorPrimary), 60%, 70%)

$colorContentPartShadow = rgba(hsl(hue($colorPrimary), saturation($colorPrimary), 10%), 0.08)

// ------------ BUTTONS

$colorButtonGoneHoverBG = $colorPrimary
$colorButtonGoneHoverText = hsl(hue($colorButtonGoneHoverBG), 60%, 90%)
$colorButtonGoneBorder = $colorButtonGoneHoverBG

$colorButtonCtaHoverBG = $colorSecondary
$colorButtonCtaHoverText = hsl(hue($colorButtonCtaHoverBG), 60%, 90%)
$colorButtonCtaBorder = $colorButtonCtaHoverBG

$colorButtonBorderRegular = $colorBorderLight

// ------------ HYPERLINKS
$colorHyperlink = saturation($colorPrimary, 100%)
$colorHyperlinkHover = $colorSecondary//darken($colorPrimary, 30%)
$color-link-visited = saturation($colorPrimary, 50%)
$color-link-visited-hover = saturation($colorSecondary, 40%)




// ------------ HERO
$colorHero = tint($colorSidebar,10%)//#5294c2
$colorHeroOverlay = rgba(hsl(hue($colorHero), 100%, lightness($colorHero)), 0.24)

$colorHeroShadowVideo = rgba(#000, 0.36)
$colorHeroOverlayVideoAlpha = 0.24
$colorHeroOverlayVideo = rgba(#000, $colorHeroOverlayVideoAlpha)

$colorHeroLight = hsl(hue($colorPrimary), 12%, 98%)


// ------------ FOOTER
$colorFooterMain = hsl(hue($colorPrimary), saturation($colorPrimary)/2, 20%)
$colorFooterMainFont = rgba(hsl(hue($colorFooterMain), saturation($colorFooterMain), 90%), 0.36)

// ------------ FONTS & TYPO

$colorTextShadowRegular = rgba(hsl(hue($colorPrimary), saturation($colorPrimary), 10%), 0.48)
$colorTextShadowMedium = rgba(hsl(hue($colorPrimary), saturation($colorPrimary), 10%), 0.36)

$fontWeightThin = 200
$fontWeightLight = 300
$fontWeightRegular = 400
$fontWeightMedium = $fontWeightRegular + 100
$fontWeightDemi = $fontWeightMedium + 100
$fontWeightBold = $fontWeightDemi + 100

$fontSizeParagraph = g1
$fontSizeHeader1 = (5/6)*g3
$fontSizeHeader2 = g2
$fontSizeHeader3 = (3/4)*g2
$fontSizeHeader4 = (13/12)*g1
$fontSizeHeader5 = g1

$fontSizeFactor = 0.9

$lineHeightParagraph = (3/2)*g1
$lineHeightHeader1 = g3
$lineHeightHeader2 = (5/4)*g2
$lineHeightHeader3 = g2
$lineHeightHeader4 = (5/6)*g2
$lineHeightHeader5 = $lineHeightParagraph

$fontFamilyAvenir = 'Avenir Next Cyr', 'AvenirNextCyr', 'wf_avenir-next'

$transitionDuration = 0.3s


$boxshadowBorderOutlineTop(color = $colorBorderLight, spread = g2, length = 1px)
  box-shadow 0 (-1*spread - length) 0 -1*spread color
  +mq(1, '#main')
    spread = g1
    box-shadow 0 (-1*spread - length) 0 -1*spread color
$boxshadowBorderOutlineBottom(color = $colorBorderLight, spread = g2, length = 1px)
  box-shadow 0 (spread + length) 0 -1*spread color
  +mq(1, '#main')
    spread = g1
    box-shadow 0 (spread + length) 0 -1*spread color

$boxshadowBorderInsetTop(color = $colorBorderLight, length = 1px)
  box-shadow: inset 0 (length + 12px) 0 -12px color
$boxshadowBorderInsetBottom(color = $colorBorderLight, length = 1px)
  box-shadow: inset 0 (-1*length - 12px) 0 -12px color

//DIMENSIONS
$headerHeight = 72px
$sidebarWidth = 288px

$buttonsRadius = 2px

$topbarHeight = g6
$buttonHeight = g3
$mainPadding = g1

$widthPreviewMargin = g1
$widthPreviewS4 = c4
$widthPreviewS3 = 280px
$widthPreviewS2 = 276px
$widthPreviewS1 = 264px

$iconsSelector = '[class*="icon-"]'

ellipsis(lines, lineHeight, heightFixed = false)
  overflow hidden
  overflow-wrap break-word
  if heightFixed == true
    height lines*lineHeight
  else
    height auto
  max-height lines*lineHeight
  line-height lineHeight
  -webkit-line-clamp lines
  //text-overflow ellipsis