{% load humanize %}
<div class="carousel">
  <div class="carouselContainer gallery{{ cl }} js-gallery{{ cl }}{{ cs }}">

    {% for item in objects %}
      <a class="preview preview{{ cl }}"
         href="{% if cl == 'Membrane' %}/membrane/{% elif cl == 'Solution' %}/solution/{% elif cl == 'Article' %}/article/{% elif cl == 'Accessory' %}/accessory/{% elif cl == 'Object' %}/object/{% elif cl == 'Brand' %}/membrane/brand/{% endif %}{{ item.slug }}/">

        {% if cl == 'Membrane' or cl == 'Solution' or cl == 'Accessory' or cl == 'Article' or cl == 'Object' %}
          <div class="previewImg" data-img="{% if item.img_p %}{{ item.img_p.url }}{% elif item.img_main %}{{ item.img_main.url }}{% else %}/static/img/placeholder.svg{% endif %}"></div>
        {% endif %}
        <div class="previewText">

          {% if cl == 'Membrane' or cl == 'Solution' or cl == 'Accessory' or cl == 'Article' or cl == 'Object' %}
            <div class="previewTitle">{{ item.title }}{% if cl == 'Object' and item.city %}, {{ item.city.title }}{% endif %}</div>
          {% endif %}

          {% if cl == 'Brand' %}
            <div class="previewBrandText">{{ item.title }}</div>
            {# <div class="previewBrandDef">{{ item.definition }}</div> #}
          {% endif %}

          {% if cl == 'Membrane' or cl == 'Solution' or cl == 'Brand' %}
            <div class="previewDesc">
              {% if item.desc %}{{ item.desc}}{% else %}Лаконичный и ёмкий рекламно-информационный текст о разделе. Текст должен помогать пользователю в принятии решения, т.е. быть полезным.{% endif %}</div>
          {% endif %}

          {% if cl == 'Object' %}

            {% if item.membrane.all.count > 0 %}
              <div class="previewMembranes">{{ item.membrane.all.first }}
                {% if item.membrane.all.count > 1 %}
                  <span class="previewYetLable">{{ item.membrane.all.count|add:'-1' }}</span>
                {% endif %}
              </div>
            {% endif %}

            {% if item.solution.all.count > 0 %}
              <div class="previewSolutions">{{ item.solution.all.first }}
                {% if item.solution.all.count > 1 %}
                  <span class="previewYetLable">{{ item.solution.all.count|add:'-1' }}</span>
                {% endif %}
              </div>
            {% endif %}

            {% if item.year or item.area %}
              <div class="previewSecondary">
                {% if item.year %}{{ item.year }}  •  {% endif %}{% if item.area %}{{ item.area|intcomma }} м²{% endif %}
              </div>
            {% endif %}

          {% endif %}

          {% if cl == 'Article' %}
            <div class="previewSecondary">{{ item.add|date:"D, d F Y" }}</div>
          {% endif %}
        </div>
      </a>
    {% endfor %}

  </div>
  <div class="carouselBar">
    <div class="carouselBarButtons js-arrows">
      <button type="button" class="carouselBarButtonLeft js-carouselBarButtonLeft{{ cl }}{{ cs }}"></button>
      <button type="button" class="carouselBarButtonRight js-carouselBarButtonRight{{ cl }}{{ cs }}"></button>
    </div>
    {% if cl == 'Object' or cs == 'Articles' or cs == 'News' %}
      <a class="carouselBarMore"
         href="{% if cs == 'Articles' %}/article/category/article/{% elif cs == 'News' %}/article/category/news/{% elif cl == 'Object' %}/object/catalog/{% else %}#{% endif %}"
              >Показать все</a>
    {% endif %}
  </div>
  <script>
    wait('jQuery', function () {
      $(function() {
        $('.js-gallery{{ cl }}{{ cs }}').warpless({
          prevArrow: $('.js-carouselBarButtonLeft{{ cl }}{{ cs }}'),
          nextArrow: $('.js-carouselBarButtonRight{{ cl }}{{ cs }}'),
          slidesToShow: 1,
          slidesToScroll: 1
          //lazyLoad: 'ondemand'
        })
      });
    });
  </script>
</div>