{% extends 'base.html' %}
{% block title %}Видео{% endblock %}
{% block content %}

<!-- ------------ SECTION HEADLINE -->
<header class="row headline">
	<h1 class="headerTitle">Видео</h1>
	<span class="headerSubtitle">
		Мы уделяем огромное внимание качеству монтажа изоляционных систем с применением полимерных мембран ТехноНИКОЛЬ. Для Вашего удобства мы подготовили видеоролики, наглядно демонстрирующие поэтапное выполнение монтажа систем, примыканий и сложных узлов, инженеры Службы Качества ТехноНИКОЛЬ с радостью делятся накопленным опытом и демонстрируют лучшие международные и российские практики в применении полимерных мембран.
	</span>
</header>
<!-- ------------ SECTION HEADLINE END -->

<!-- ------------ SECTION VIDEO CATALOG -->
<section class="row">
	<div class="catalog">
		{% for item in items %}
		<a class="preview previewVideo">
			<iframe src="{{ item.url }}" frameborder="0" allowfullscreen="" class="youtubeIframe previewImg"></iframe>
			<div class="previewText">
				<div class="previewTitle">{{ item.title }}</div>
				<div class="previewDesc">{{ item.desc }}</div>
			</div>
		</a>
		{% endfor %}
	</div>
</section>
<!-- ------------ SECTION VIDEO CATALOG END -->

{% endblock %}

{% block scriptsAppend %}
<script>
	wait('jQuery', function(){
		var $catalog = $('.catalog');
		function $loadPath(prefix, sufix){
			return prefix + sufix
		}
		var $loadProcessing = false;
		$( window ).scroll(function(){
			var $catalog = $('.catalog');
			var $offset = 72*$fontSizeFactor();
			var $wh = $(window).scrollTop() + $(window).height() + $offset;
			var $ch = $catalog.offset().top + $catalog.height();
			function $lazyLoadPath(){
				return $loadPath('/video/ll/', $('.catalog .preview').length + '/' + '6/')
			}
			if ($wh >= $ch && $loadProcessing == false) {
				$loadProcessing = true;
				//console.log($lazyLoadPath());
				$catalog.append($('<div style="display:flex;flex-flow:row wrap;">').load($lazyLoadPath(), function(){
					$loadProcessing = false;
					//console.log('loaded');
					//console.log($loadProcessing);
					//console.log($lazyLoadPath());
				}));
			}
		});
	});
</script>
{% endblock %}