{% for item in items %}
  <a class="preview previewVideo">
    <iframe src="{{ item.url }}" frameborder="0" allowfullscreen="" class="youtubeIframe previewImg"></iframe>
    <div class="previewText">
      <div class="previewTitle">{{ item.title }}</div>
      <div class="previewDesc">{{ item.desc }}</div>
    </div>
  </a>
{% endfor %}

