{% extends 'base.html' %}
{% load humanize %}
{% block title %}
  {{ item.title_meta }}
{% endblock %}
{% block content %}

<!-- ------------ SECTION HEADLINE -->
<header class="row headline">
  <h1 class="headerTitle">{% if category_title %}{{ category_title.0 }}{% else %}Объекты{% endif %}</h1>
  <span class="headerSubtitle">Компания ТехноНИКОЛЬ – крупнейший производитель и поставщик надежных строительных систем на основе полимерных мембран на строительном рынке России и стран Ближнего Зарубежья. Благодаря использованию передовых технологий полимерные мембраны LOGICROOF полностью удовлетворяют потребностям заказчика, гарантируя им прочную, безопасную и красивую кровлю с долгим безремонтным сроком службы. На начало 2016 года более 60 млн кв м кровель и подземных частей зданий защищено полимерными мембранами ТехноНИКОЛЬ, в том числе ключевые олимпийские объекты в Сочи и такие объекты с повышенными требованиями к надёжности, как Белоярская и Нововоронежская АЭС, Адлерская, Владимирская и Астраханская ТЭЦ, Якутская ГРЭС, грузовой терминал аэропорта «Домодедово» и пр. В 2013 году кровля спортивного комплекса «Олимпийский», выполненная с использованием полимерных мембран LOGICROOF, получила первое место в номинации «Плоская кровля» в конкурсе Международной кровельной федерации IFD 2013. Мы благодарим наших клиентов за оказанное доверие и гордимся каждым объектом под защитой LOGICROOF!</span>
</header>
<!-- ------------ SECTION HEADLINE END -->

<!-- ------------ SECTION FILTERS -->
<section class="row formFilterObjectsContainer">
  <form class="form-block formFilterObjects form-float">

    <div class="form-row">
      <label for="category-select" class="label">Тип объекта:</label>
      <select data-options="category" id="category-select" class="input input-select selectField js-selectField">
        <option value="all">Все объекты</option>
        {% for item in object_category_all %}
        <option value="{{ item.slug }}">{{ item }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-row">
      <label for="membrane-select" class="label">Материал:</label>
      <select data-options="membranes" id="membrane-select" class="input input-select selectField js-selectField">
        <option value="all">Любые мембраны</option>
        {% for item in object_membranes_all %}
        <option value="{{ item.slug }}">{{ item }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-row">
      <label for="solution-select" class="label">Система:</label>
      <select data-options="solution" id="solution-select" class="input input-select selectField js-selectField">
        <option value="all">Любые решения</option>
        {% for item in object_solution_all %}
        <option value="{{ item.slug }}">{{ item }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-row">
      <label for="country-select" class="label">Страна:</label>
      <select data-options="country" id="country-select" class="input input-select selectField js-selectField">
        <option value="all">Весь мир</option>
        {% for item in object_country_all %}
        <option value="{{ item.id }}">{{ item }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-row">
      <label for="city-select" class="label">Расположение:</label>
      <select data-options="city" id="city-select" class="input input-select selectField js-selectField">
        <option value="all">Весь мир</option>
        {% for item in object_city_all %}
        <option value="{{ item.id }}">{{ item.title }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-row formFieldRowButton">
      <button type="button" class="button button-reset">Сбросить фильтр</button>
    </div>

    </form>
  </section>
  <!-- ------------ SECTION FILTERS END -->
  <script>
    var $filterConfig = {
      val: {
        category: '{{ js.cat }}',
        membrane: '{{ js.m }}',
        solution: '{{ js.s }}',
        country: '{{ js.co }}',
        city: '{{ js.c }}'
      },
      options: {
        category: [{% for item in object_category %}'{{ item.slug }}',{% endfor %}],
        membranes: [{% for item in object_membranes %}'{{ item.slug }}',{% endfor %}],
        solution: [{% for item in object_solution %}'{{ item.slug }}',{% endfor %}],
        city: [{% for item in object_city %}'{{ item.id }}',{% endfor %}],
        country: [{% for item in object_country %}'{{ item.id }}',{% endfor %}]
      }
    }
  </script>
  <!-- ------------ SECTION OBJECTS CATALOG -->
  <section class="row">
    <div class="catalog">
      {% for object in objects %}
        <a class="preview previewObject" href="/object/{{ object.slug }}">
          <div class="previewImg" data-original="{% if object.img_p %}{{ object.img_p.url }}{% else %}{{ object.img_main.url }}{% endif %}" title="{{ object.img_p.title }}" alt="{{ object.img_p.alt }}"></div>
          <div class="previewText">

            <div class="previewTitle">{{ object.title }}{% if object.city %}, {{ object.city.title }}{% endif %}</div>

            {% if object.membrane.all.count > 0 %}
            <div class="previewMembranes">{{ object.membrane.all.first }}
              {% if object.membrane.all.count > 1 %}
                <span class="previewYetLable">{{ object.membrane.all.count|add:'-1' }}</span>
              {% endif %}
            </div>
            {% endif %}

            {% if object.solution.all.count > 0 %}
            <div class="previewSolutions">{{ object.solution.all.first }}
              {% if object.solution.all.count > 1 %}
                <span class="previewYetLable">{{ object.solution.all.count|add:'-1' }}</span>
              {% endif %}
            </div>
            {% endif %}

            {% if object.year or object.area%}
            <div class="previewSecondary">
              {% if object.year %}{{ object.year }}  •  {% endif %}{% if object.area %}{{ object.area|intcomma }} м²{% endif %}
            </div>
            {% endif %}

          </div>
        </a>
      {% endfor %}
    </div>
  </section>
  <!-- ------------ SECTION OBJECTS CATALOG END -->

{% endblock %}

{% block scriptsAppend %}
<script>
  wait('jQuery', function(){

    var $catalog = $('.catalog');
    var $selectCategory = $('#category-select');
    var $selectMembrane = $('#membrane-select');
    var $selectSolution = $('#solution-select');
    var $selectCountry = $('#country-select');
    var $selectCity = $('#city-select');

    $('.button-reset').click(function(){
      $('#category-select').val('all');
      $('#membrane-select').val('all');
      $('#solution-select').val('all');
      $('#country-select').val('all');
      $('#city-select').val('all');
      update();
    });

    function $loadPath(prefix, sufix){
      prefix = (typeof prefix == 'undefined' ? '' : prefix);
      sufix = (typeof sufix == 'undefined' ? '' : sufix);
      var $selectCategory = $('#category-select').val();
      var $selectMembrane = $('#membrane-select').val();
      var $selectSolution = $('#solution-select').val();
      var $selectCountry = $('#country-select').val();
      var $selectCity = $('#city-select').val();
      var $path = prefix + $selectCategory + '/' + $selectMembrane + '/' + $selectSolution + '/' + $selectCountry + '/' + $selectCity + '/' + sufix;
      return $path;
    }

    function update() {
      $catalog.load($loadPath('/object/rawcatalog/'), function () {
        window.history.pushState({},'', $loadPath('/object/catalog/'));
        reactivateOptions();
        zoom();
      });
    }
    function reactivateOptions(){

      $('.input-select').each(function(){
        var $el = $(this);
        var $dataOptions = $el.attr('data-options');
        var $optionsArray = $filterConfig.options[$dataOptions];
        var $val = $el.val();
        var $options = $el.children('option');
        $options.each(function(){
          $el = $(this);
          $val = $el.val();

          if($.inArray($val, $optionsArray) == -1 && $val != 'all'){
            $el.addClass('inactive');
          }
          else {
            $el.removeClass('inactive');
          }
        });
      })
    }

    function bindFields(){
      if($filterConfig) {
        $selectCategory.val($filterConfig.val.category);
        $selectMembrane.val($filterConfig.val.membrane);
        $selectSolution.val($filterConfig.val.solution);
        $selectCountry.val($filterConfig.val.country);
        $selectCity.val($filterConfig.val.city);
      }
    }

    function ready() {
      $('.input-select').change(function () {
        update();
      });
    }

    ready();
    bindFields();
    reactivateOptions();

    var $loadProcessing = false;
    $( window ).scroll(function(){
      var $catalog = $('.catalog');
      var $offset = 72*$fontSizeFactor();
      var $wh = $(window).scrollTop() + $(window).height() + $offset;
      var $ch = $catalog.offset().top + $catalog.height();
      function $lazyLoadPath(){
        return $loadPath('/object/ll/', $('.catalog .preview').length + '/' + '6/')
      }
      if ($wh >= $ch && $loadProcessing == false) {
        $loadProcessing = true;
//        console.log($lazyLoadPath());
        $catalog.append($('<div style="display:flex;flex-flow:row wrap;">').load($lazyLoadPath(), function(){
          $loadProcessing = false;
          zoom();
          //console.log('loaded');
          //console.log($loadProcessing);
//          console.log($lazyLoadPath());
        }));
      }
    });

  });
</script>
{% endblock %}