{% extends 'base.html' %}
{% load carousel %}
{% load humanize %}
{% load cache %}
{% block title %}
  {{ item.title_meta }}
{% endblock %}
{% block content %}

  <!-- ------------ SECTION HERO -->
  <header class="row hero"
          data-img="
                  {% if item.img_main.url %}{{ item.img_main.url }}{% elif item.img_p %}{{ item.img_p.url }}{% else %}/static/img/hero.jpg{% endif %}">

    <div class="heroContainerText">
      <h1 class="headerTitle">{{ item.title }}</h1>
      <span class="headerSubtitle">{{ item.desc }}</span>
    </div>
  </header>
  <!-- ------------ SECTION HERO END -->

  <!-- ------------ SECTION IPN -->
  <i data-animate-down="waypoint-collapsed" data-animate-up="waypoint-expanded" class="waypoint-topbar"></i>
  <nav id="ipnbar" class="row ipnbar js-ipnbar ipnbar-without-cta">
    <button class="asideToggle icon-menu"></button>
    <ul class="ipnbarAnchors">

      {% if item.desc %}
        <li class="ipnbarAnchorsItem">
          <a href="#info" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-info"></a>
        </li>
      {% endif %}

      {% if item.membrane.all %}
        <li class="ipnbarAnchorsItem">
          <a href="#membranes" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-membranes"></a>
        </li>
      {% endif %}

      {% if item.solution.all %}
        <li class="ipnbarAnchorsItem">
          <a href="#solutions" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-solutions"></a>
        </li>
      {% endif %}

      {% if other_objects %}
        <li class="ipnbarAnchorsItem">
          <a href="#objects" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-objects"></a>
        </li>
      {% endif %}

    </ul>
    <a class="ipnbarCta" title="Найти подрядчика | Купить"><span>Найти подрядчика | Купить</span></a>
  </nav>
  <!-- ------------ SECTION IPN END -->

  <!-- ------------ SECTION CHARACTERISTICS -->
  <div class="tableContainer">
    <table class="table">
      <tr class="tableRow">
        <td class="tableCell">Год постройки</td>
        <td class="tableCell">{{ item.year }}</td>
      </tr>
      <tr class="tableRow hyperlink">
        <td class="tableCell">Системы</td>
        <td class="tableCell">
          {% for solution in item.solution.all %}
            <a href="/solution/{{ solution.slug }}">{{ solution }}</a>{% if not forloop.last %},{% endif %}
          {% endfor %}
        </td>
      </tr>
      <tr class="tableRow hyperlink">
        <td class="tableCell">Материалы</td>
        <td class="tableCell">
          {% for membrane in item.membrane.all %}
            <a href="/membrane/{{ membrane.slug }}">{{ membrane }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
      </tr>
      <tr class="tableRow">
        <td class="tableCell">Площадь</td>
        <td class="tableCell">{{ item.area|intcomma }} м²</td>
      </tr>
    </table>
  </div>
  <!-- ------------ SECTION CHARACTERISTICS END -->

  <!-- ------------ SECTION INFO -->
  {% if item.desc %}
    <section class="row">
      <h2 id="info" class="icon-info">Описание</h2>
      {% autoescape off %}{{ item.desc }}{% endautoescape %}
    </section>
  {% endif %}
  <!-- ------------ SECTION INFO END -->

  <!-- ------------ SECTION MEMBRANES CATALOG -->
  {% if item.membrane.all %}
    <section class="row">

      <h2 id="membranes" class="icon-membranes">Полимерные мембраны</h2>

      <div class="catalog">
        {% for membrane in item.membrane.all %}
          <a class="preview previewMembrane" href="/membrane/{{ membrane.slug }}/">
            <div data-img="
                    {% if membrane.img_p %}{{ membrane.img_p.url }}{% elif membrane.img_main %}{{ membrane.img_main.url }}{% else %}/static/img/placeholder.svg{% endif %}"
                 title="{{ membrane.img_p.title }}" alt="{{ membrane.img_p.alt }}" class="previewImg"></div>
            <div class="previewText">
              <div class="previewTitle">{{ membrane.title }}</div>
              <div class="previewDesc">{{ membrane.desc }}</div>
            </div>
          </a>
        {% endfor %}
      </div>

    </section>
  {% endif %}
  <!-- ------------ SECTION MEMBRANES CATALOG END -->

  <!-- ------------ SECTION SOLUTIONS CATALOG -->
  {% if item.solution.all %}
    <section class="row">
      <h2 id="solutions" class="icon-solutions">Решения</h2>

      <div class="catalog">
        {% for solution in item.solution.all %}
          <a class="preview previewSolution" href="/solution/{{ solution.slug }}">
            <div data-img="
                    {% if solution.img_p %}{{ solution.img_p.url }}{% elif solution.img_main %}{{ solution.img_main.url }}{% else %}/static/img/placeholder.svg{% endif %}"
                 class="previewImg"></div>
            <div class="previewText">
              <div class="previewTitle">{{ solution.title }}</div>
              <div class="previewDesc">{{ solution.desc }}</div>
            </div>
          </a>
        {% endfor %}
      </div>
    </section>
  {% endif %}
  <!-- ------------ SECTION SOLUTIONS CATALOG END -->

  <!-- ------------ SECTION OBJECTS GALLERY -->
  {% if other_objects %}
    {% cache 600 object_other_objects item.id %}
      <section class="row">
        <h2 id="objects" class="icon-objects">Другие объекты</h2>
        {% carousel other_objects %}
      </section>
    {% endcache %}
  {% endif %}
  <!-- ------------ SECTION OBJECTS GALLERY END-->

{% endblock %}
