{% load humanize %}
{% for object in objects %}
  <a class="preview previewObject" href="/object/{{ object.slug }}">
    <div class="previewImg" data-original="{% if object.img_p %}{{ object.img_p.url }}{% elif object.img_main %}{{ object.img_main.url }}{% else %}/static/img/placeholder.svg{% endif %}"
         title="{{ object.img_p.title }}" alt="{{ object.img_p.alt }}"></div>
    <div class="previewText">
      <div class="previewTitle">{{ object.title }}{% if object.city %}, {{ object.city.title }}{% endif %}</div>
      {% if object.membrane.all.count > 0 %}
      <div class="previewMembranes">{{ object.membrane.all.first }}
        {% if object.membrane.all.count > 1 %}
        <span class="previewYetLable">{{ object.membrane.all.count|add:'-1' }}</span>
        {% endif %}
      </div>
      {% endif %}

      {% if object.solution.all.count > 0 %}
      <div class="previewSolutions">{{ object.solution.all.first }}
        {% if object.solution.all.count > 1 %}
        <span class="previewYetLable">{{ object.solution.all.count|add:'-1' }}</span>
        {% endif %}
      </div>
      {% endif %}

      {% if object.year or object.area %}
      <div class="previewSecondary">
        {% if object.year %}{{ object.year }}  •  {% endif %}{% if object.area %}{{ object.area|intcomma }} м²{% endif %}
      </div>
      {% endif %}
    </div>
  </a>
{% endfor %}
<script>
  var $filterConfig = {
    val: {
      category: '{{ js.cat }}',
      membrane: '{{ js.m }}',
      solution: '{{ js.s }}',
      country: '{{ js.co }}',
      city: '{{ js.c }}'
    },
    options: {
      category: [{% for item in object_category %}'{{ item.slug }}',{% endfor %}],
      membranes: [{% for item in object_membranes %}'{{ item.slug }}',{% endfor %}],
      solution: [{% for item in object_solution %}'{{ item.slug }}',{% endfor %}],
      city: [{% for item in object_city %}'{{ item.id }}',{% endfor %}],
      country: [{% for item in object_country %}'{{ item.id }}',{% endfor %}]
    }
  }
</script>
<script>wait('jQuery', function () {$(".catalog .previewImg").lazyload();});</script>

