{% extends 'base.html' %}
{% block title %}
  {{ item.title_meta }}
{% endblock %}
{% block content %}

<!-- ------------ SECTION HEADLINE -->
<header class="row headline">
	<h1 class="headerTitle">{{ item.title }}</h1>
	<span class="headerSubtitle">{{ item.desc }}</span>
</header>
<!-- ------------ SECTION HEADLINE END -->

<!-- ------------ SECTION ACCESSORIES CATALOG -->
<section class="row">
	<div class="catalog mx-full">
		{% for accessory in items %}
		<a class="preview previewAccessory" href="/accessory/{% if sc %}subcategory/{% endif %}{{ accessory.slug }}/">
			<div data-img="{% if accessory.img_p %}{{ accessory.img_p.url }}{% elif accessory.img_main %}{{ accessory.img_main.url }}{% else %}/static/img/placeholder.svg{% endif %}" class="previewImg" ></div>
		<div class="previewText">
			<div class="previewTitle">{{ accessory.title }}</div>
			<div class="previewDesc">{{ accessory.desc }}</div>
		</div>
		</a>
		{% endfor %}
	</div>
</section>
<!-- ------------ SECTION ACCESSORIES CATALOG END -->

{% endblock %}
