{% extends 'base.html' %}
{% load doc %}
{% load carousel %}
{% block title %}
  {{ item.title_meta }}
{% endblock %}
{% block content %}

<!-- ------------ SECTION HERO -->
<header class="row hero heroAccessory mx-light">
  <div class="heroContainerText">
    <h1 class="headerTitle">{{ item.title }}</h1>
    <span class="headerSubtitle">{{ item.desc }}</span>
  </div>
  <div class="heroContainerImg">
    <div data-img="{% if item.img_main %}{{ item.img_main.url }}{% elif item.img_p %}{{ item.img_p.url }}{% else %}/static/img/hero.jpg{% endif %}" class="heroImg"></div>
  </div>
</header>
<!-- ------------ SECTION HERO END -->

<!-- ------------ SECTION IPN -->
<i data-animate-down="waypoint-collapsed" data-animate-up="waypoint-expanded" class="waypoint-topbar"></i>
<nav id="ipnbar" class="row ipnbar js-ipnbar">
  <button class="asideToggle icon-menu"></button>
  <ul class="ipnbarAnchors">
    {% if item.desc %}
    <li class="ipnbarAnchorsItem">
      <a href="#info" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-info"></a>
    </li>
    {% endif %}

    {% if accessory_docs %}
    <li class="ipnbarAnchorsItem">
      <a href="#docs" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-docs"></a>
    </li>
    {% endif %}

    {% if accessory_promotionals %}
    <li class="ipnbarAnchorsItem">
      <a href="#promotionals" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-promotionals"></a>
    </li>
    {% endif %}

    {% if other_accessories %}
    <li class="ipnbarAnchorsItem">
      <a href="#accessories" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-accessories"></a>
    </li>
    {% endif %}

  </ul>
  <a class="ipnbarCta" title="Найти подрядчика | Купить"><span>Найти подрядчика | Купить</span></a>
</nav>
<!-- ------------ SECTION IPN END -->

<!-- ------------ SECTION INFO -->
{% if item.desc %}
<section class="row">
  <h2 id="info" class="icon-info">Описание</h2>
  {% autoescape off %}{{ item.body }}{% endautoescape %}
</section>
{% endif %}
<!-- ------------ SECTION INFO -->

<!-- ------------ SECTION DOCS LIST -->
{% if accessory_docs %}
{% doc accessory_docs 'Документация' %}
{% endif %}
<!-- ------------ SECTION DOCS LIST END -->

<!-- ------------ SECTION PROMOTIONALS LIST -->
{% if accessory_promotionals %}
{% doc accessory_promotionals 'Материалы' %}
{% endif %}
<!-- ------------ SECTION PROMOTIONALS LIST END-->

<!-- ------------ SECTION ACCESSORIES GALLERY -->
{% if other_accessories %}
  <section class="row">
    <h2 id="accessories" class="icon-accessories">Другие комплектующие</h2>
    {% carousel other_accessories %}
  </section>
{% endif %}
<!-- ------------ SECTION ACCESSORIES GALLERY END -->

{% endblock %}
