{% extends "c_admin/base.html" %}
{% block title %}Удаление комплектующего{% endblock %}
{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      Удаление нельзя отменить
    </div>
    <div class="panel-body text-center">
      <h3>{{ accessory.title }}</h3>

      <form action="" method="post">
        {% csrf_token %}
        <button class="btn btn-lg btn-danger">Удалить</button>
        <a href="/c_admin/accessory/" class="btn btn-success btn-lg">Отмена</a>
      </form>
    </div>
  </div>
{% endblock %}