{% extends "c_admin/base.html" %}
{% block css %}
  <link href="/static/c_admin/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
  <link href="/static/c_admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css"
        rel="stylesheet">
  <link href="/static/c_admin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block js %}
  <script src="/static/c_admin/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="/static/c_admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
{% endblock %}
{% block title %}Комплектующие{% endblock %}
{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="text-center btn btn-primary" href="/c_admin/accessory/add/">Добавить комплектующее</a>
    </div>
    <div class="panel-body">
      {% if accessorys %}
        <div class="dataTable_wrapper">
          <table class="table table-striped table-bordered table-hover" id="dataTables">
            <thead>
            <tr>
              <th>Заголовок</th>
              <th>URL</th>
              <th>Подкатегория</th>
              <th>Редактировать</th>
            </tr>
            </thead>
            <tbody>
            {% for accessory in accessorys %}
              <tr class="gradeA">
                <td>{{ accessory.title }}</td>
                <td>{{ accessory.slug }}</td>
                <td>{% for item in accessory.subcategory.all %}{{ item.title }} {% endfor %}</td>
                <td>
                  <a class="fa fa-pencil" href="/c_admin/accessory/edit/{{ accessory.id }}/"></a>
                  <a class="fa fa-times" href="/c_admin/accessory/del/{{ accessory.id }}/"></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <h3></h3>
        <p>Нет комплектующих или у вас недостаточно прав.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}