{% extends "c_admin/base.html" %}
{% block css %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet"/>
  <link href="/static/c_admin/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet"/>
{% endblock %}
{% block js %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
  <script src="/static/c_admin/bootstrap-fileinput/js/fileinput.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#id_type, #id_category, #id_membrane, #id_solution, #id_accessory").select2({ width: '100%' });

      $("#id_pdf").fileinput({
        showUpload: false,
        previewFileIcon: '<i class="fa fa-file"></i>',
        allowedPreviewTypes: null, // set to empty, null or false to disable preview for all types
        previewFileIconSettings: {
          'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>'
        },
        allowedFileExtensions: ["pdf"]
      });

      $("#id_doc").fileinput({
        showUpload: false,
        previewFileIcon: '<i class="fa fa-file"></i>',
        allowedPreviewTypes: null, // set to empty, null or false to disable preview for all types
        previewFileIconSettings: {
          'docx': '<i class="fa fa-file-word-o text-primary"></i>',
          'doc': '<i class="fa fa-file-word-o text-primary"></i>'
        },
        allowedFileExtensions: ["docx", "doc"]
      });

      $("#id_dwg").fileinput({
        showUpload: false,
        previewFileIcon: '<i class="fa fa-file"></i>',
        allowedPreviewTypes: null, // set to empty, null or false to disable preview for all types
        allowedFileExtensions: ["dwg"]
      });

      $("#id_ppt").fileinput({
        showUpload: false,
        previewFileIcon: '<i class="fa fa-file"></i>',
        allowedPreviewTypes: null, // set to empty, null or false to disable preview for all types
        previewFileIconSettings: {
          'pptx': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
          'ppt': '<i class="fa fa-file-powerpoint-o text-danger"></i>'
        },
        allowedFileExtensions: ["pptx", "ppt"]
      });
    });
  </script>
{% endblock %}
{% block title %}Редактирование документа{% endblock %}
{% block content %}
  <div class="row">
    <form role="form" action="{{ request.path }}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-group">
            {{ form.as_div }}
          </div>
        </div>
      </div>
      <div class="col-lg-12 text-center">
        <button type="submit" class="btn btn-outline btn-success btn-lg">Сохранить</button>
        <a href="/c_admin/document/" class="btn btn-outline btn-danger btn-lg">Отмена</a>
      </div>
    </form>
  </div>
{% endblock %}


