{% extends "c_admin/base.html" %}
{% block css %}
  <link href="/static/c_admin/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
  <link href="/static/c_admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css"
        rel="stylesheet">
  <link href="/static/c_admin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block js %}
  <script src="/static/c_admin/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="/static/c_admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
{% endblock %}
{% block title %}Документы{% endblock %}
{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="text-center btn btn-primary" href="/c_admin/document/add/">Добавить документ</a>
    </div>
    <div class="panel-body">
      {% if documents %}
        <div class="dataTable_wrapper">
          <table class="table table-striped table-bordered table-hover" id="dataTables">
            <thead>
            <tr>
              <th>Заголовок</th>
              <th>PDF</th>
              <th>DOC</th>
              <th>DWG</th>
              <th>PPT</th>
              <th>Дата</th>
              <th>Категория</th>
              <th>Редактировать</th>
            </tr>
            </thead>
            <tbody>
            {% for document in documents %}
              <tr class="gradeA">
                <td>{{ document.title }}</td>
                <td>{% if document.pdf %}<a href="{{ document.pdf }}">Скачать</a>{% endif %}</td>
                <td>{% if document.doc %}<a href="{{ document.doc }}">Скачать</a>{% endif %}</td>
                <td>{% if document.dwg %}<a href="{{ document.dwg }}">Скачать</a>{% endif %}</td>
                <td>{% if document.ppt %}<a href="{{ document.ppt }}">Скачать</a>{% endif %}</td>
                <td>{{ document.add }}</td>
                <td>{{ document.category }}</td>
                <td>
                  <a class="fa fa-pencil" href="/c_admin/document/edit/{{ document.id }}/"></a>
                  <a class="fa fa-times" href="/c_admin/document/del/{{ document.id }}/"></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <h3></h3>
        <p>Нет комплектующих или у вас недостаточно прав.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}