{% extends "c_admin/base.html" %}
{% block css %}
  <link href="/static/c_admin/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
  <link href="/static/c_admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css"
        rel="stylesheet">
  <link href="/static/c_admin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block js %}
  <script src="/static/c_admin/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="/static/c_admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
{% endblock %}
{% block title %}
  Решения
{% endblock %}
{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="text-center btn btn-primary" href="/c_admin/solution/add/">Добавить решение</a>
    </div>
    <div class="panel-body">
      {% if solutions %}
        <div class="dataTable_wrapper">
          <table class="table table-striped table-bordered table-hover" id="dataTables">
            <thead>
            <tr>
              <th>Название решения</th>
              <th>URL</th>
              <th>Бренд мембраны</th>
              <th>Тип гидроизяляции</th>
              <th>Дата добавления</th>
              <th>Редактировать</th>
            </tr>
            </thead>
            <tbody>
            {% for solution in solutions %}
              <tr class="gradeA">
                <td>{{ solution.title }}</td>
                <td>{{ solution.slug }}</td>
                <td>{{ solution.brand }}</td>
                <td>{{ solution.category }}</td>
                <td>{{ solution.add }}</td>

                <td>
                  <a class="fa fa-pencil" href="/c_admin/solution/edit/{{ solution.id }}/"></a>
                  <a class="fa fa-times" href="/c_admin/solution/del/{{ solution.id }}/"></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <h3></h3>

        <p>Нет решений или у вас недостаточно прав.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}