{% extends 'base.html' %}
{% block title %}
  {{ item.title_meta }}
{% endblock %}
{% block content %}

<!-- ------------ SECTION HEADLINE -->
<header class="row headline">
	<h1 class="headerTitle">{{ item.title }}</h1>
	<span class="headerSubtitle">{{ item.desc }}</span>
</header>
<!-- ------------ SECTION HEADLINE END -->

<!-- ------------ SECTION SOLUTIONS CATALOG -->
<section class="row">
	<div class="catalog mx-full">
		{% for solution in item.solution_set.all %}
		<a class="preview previewSolution" href="/solution/{{ solution.slug }}">
			<div data-img="{% if solution.img_p %}{{ solution.img_p.url }}{% elif solution.img_main %}{{ solution.img_main.url }}{% else %}/static/img/placeholder.svg{% endif %}"
			     class="previewImg"></div>
			<div class="previewText">
				<div class="previewTitle">{{ solution.title }}</div>
				<div class="previewDesc">{{ solution.desc_ext }}</div>
			</div>
		</a>
		{% endfor %}
	</div>
</section>
<!-- ------------ SECTION SOLUTIONS CATALOG END -->

{% endblock %}