{% extends 'base.html' %}
{% load carousel %}
{% load doc %}
{% load cache %}
{% block title %}
  {{ item.title_meta }}
{% endblock %}
{% block content %}

<!-- ------------ SECTION HERO -->
<header class="row hero mx-light">
	<div class="heroContainerText">
		<h1 class="headerTitle">{{ item.title }}</h1>
		<span class="headerSubtitle">{{ item.desc }}</span>
	</div>
	<div class="heroContainerImg">
		<svg version="1.1" id="solutionPie"
			 viewBox="0 0 288 288"
			 preserveAspectRatio="xMidYMid meet"
			 xmlns="http://www.w3.org/2000/svg"
			 xmlns:xlink="http://www.w3.org/1999/xlink"
			 xml:space="preserve">
			<image
				xlink:href="{% if item.img_p %}{{ item.img_p.url }}{% elif item.img_main %}{{ item.img_main.url }}{% else %}/static/img/placeholder.svg{% endif %}"
				viewBox="0 0 264 264"
				transform="translate(12,12)"
				width="264"
				height="264"
				preserveAspectRatio="xMidYMid meet"></image>

			<svg
				viewBox="0 0 288 288"
				width="288"
				height="288"
				preserveAspectRatio="xMidYMid meet"
				class="svg-pie-callouts js-svg-pie-callouts">
                {% autoescape off %}
                    {{ item.svg }}
                {% endautoescape %}
			</svg>
		</svg>

		<div class="heroImgCallout">
			<div class="heroImgCalloutNumber"></div>
			<div class="heroImgCalloutText"></div>
		</div>
	</div>
</header>
<!-- ------------ SECTION HERO END -->

<i data-animate-down="waypoint-collapsed" data-animate-up="waypoint-expanded" class="waypoint-topbar"></i>
<!-- ------------ SECTION IPN -->
<div id="nav-anchor"></div>
<nav id="ipnbar" class="row ipnbar js-ipnbar">
	<button class="asideToggle icon-menu"></button>
	<ul class="ipnbarAnchors">
		{% if item.body %}
		<li class="ipnbarAnchorsItem">
			<a href="#info" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-info"></a>
		</li>
		{% endif %}
		<li class="ipnbarAnchorsItem">
			<a href="#membranes" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-membranes"></a>
		</li>
		{% if solution_docs %}
		<li class="ipnbarAnchorsItem">
			<a href="#docs" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-docs"></a>
		</li>
		{% endif %}
		{% if solution_promotionals %}
		<li class="ipnbarAnchorsItem">
			<a href="#promotionals" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-promotionals"></a>
		</li>
		{% endif %}
		{% if accessories %}
		<li class="ipnbarAnchorsItem">
			<a href="#accessories" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-accessories"></a>
		</li>
		{% endif %}
		{% if objects %}
		<li class="ipnbarAnchorsItem">
			<a href="#objects" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-objects"></a>
		</li>
		{% endif %}
		{% if other_solutions %}
		<li class="ipnbarAnchorsItem">
			<a href="#solutions" class="ipnbarAnchorsItemLink js-ipnbarAnchorsItemLink icon-solutions"></a>
		</li>
		{% endif %}

	</ul>
	<a class="ipnbarCta" title="Найти подрядчика | Купить"><span>Найти подрядчика | Купить</span></a>
</nav>
<!-- ------------ SECTION IPN END -->

<!-- ------------ SECTION ADVANTAGES LIST -->
{% if item.adv.all %}
<section class="row">
	<ul class="bullist">
		{% for adv in item.adv.all %}
		<li>{{ adv }}</li>
		{% endfor %}
	</ul>
</section>
{% endif %}
<!-- ------------ SECTION ADVANTAGES LIST END -->

<!-- ------------ SECTION INFO -->
{% if item.body %}
<section class="row">
	<h2 id="info" class="icon-info">Описание</h2>
	{% autoescape off %}{{ item.body }}{% endautoescape %}
</section>
{% endif %}
<!-- ------------ SECTION INFO END -->

<!-- ------------ SECTION MEMBRANES CATALOG -->
{% if item.membrane.all %}
<section class="row">
	<h2 id="membranes" class="icon-membranes">Полимерные мембраны</h2>
	<div class="catalog">
		{% for membrane in item.membrane.all %}
		<a class="preview" href="/membrane/{{ membrane.slug }}"/>
			<div data-img="{% if membrane.img_p %}{{ membrane.img_p.url }}{% elif membrane.img_main %}{{ membrane.img_main.url }}{% else %}/static/img/placeholder.svg{% endif %}" title="{{ membrane.img_p.title }}" alt="{{ membrane.img_p.alt }}" class="previewImg"></div>
			<div class="previewText">
				<div class="previewTitle">{{ membrane.title }}</div>
				<div class="previewDesc">{{ membrane.desc }}</div>
			</div>
		</a>
		{% endfor %}
	</div>
</section>
{% endif %}
<!-- ------------ SECTION MEMBRANES CATALOG END -->

<!-- ------------ SECTION DOCS LIST -->
{% if solution_docs %}
{% doc solution_docs 'Документация' %}
{% endif %}
<!-- ------------ SECTION DOCS LIST END -->

<!-- ------------ SECTION PROMOTIONALS LIST -->
{% if solution_promotionals %}
{% doc solution_promotionals 'Материалы' %}
{% endif %}
<!-- ------------ SECTION PROMOTIONALS LIST END-->

<!-- ------------ SECTION ACCESSORIES GALLERY -->
{% if accessories %}
{% cache 600 solution_accessory_cache item.id %}
<section class="row">
	<h2 id="accessories" class="icon-accessories">Комплектующие</h2>
	{% carousel accessories %}
</section>
{% endcache %}
{% endif %}
<!-- ------------ SECTION ACCESSORIES GALLERY END -->

<!-- ------------ SECTION OBJECTS GALLERY -->
{% if objects %}
{% cache 600 solution_objects_cache item.id %}
<section class="row">
	<h2 id="objects" class="icon-objects">Объекты</h2>
	{% carousel objects %}
</section>
{% endcache %}
{% endif %}
<!-- ------------ SECTION OBJECTS GALLERY END-->

<!-- ------------ SECTION SOLUTIONS GALLERY -->
{% if other_solutions %}
{% cache 600 solution_other_solutions_cache item.id %}
<section class="row">
	<h2 id="solutions" class="icon-solutions">Другие решения</h2>
	{% carousel other_solutions %}
</section>
{% endcache %}
{% endif %}
<!-- ------------ SECTION SOLUTIONS GALLERY END -->

{% endblock %}
