{% load random_number %}
<section class="row js-section-docs">
  <h2 id="{% if name == 'Материалы' %}promotionals{% else %}docs{% endif %}"
      class="icon-{% if name == 'Материалы' %}promotionals{% else %}docs{% endif %}">{{ name }}</h2>
  {% for category, docs in objects.items %}
    {% random_number 9 as rnd9 %}

    <div class="listDocs">
      {% if category %}<h3>{{ category }}</h3>{% endif %}
      {% if docs|length > 3 %}
        <input type="checkbox" id="checkbox{{ rnd9 }}"/>
        <label for="checkbox{{ rnd9 }}" class="listDocsMoreButton">
          <span class="listDocsMoreButtonExpanded">скрыть последни{% if docs|length = 4 %}й{% else %}е{% endif %}</span>
          <span class="listDocsMoreButtonCollapsed">показать ещё</span>
          <span> {{ docs|length|add:'-3' }}</span>
        </label>
      {% endif %}
      {% for doc in docs %}
        <div class="listDocsItem">
          <div class="listDocsItemName">{{ doc.title }}</div>
          <div class="listDocsItemFiles">
            {% if doc.pdf %}<a href="{{ doc.pdf.url }}" target="_blank" class="icon-pdf"
                               title="Скачать PDF-файл документа"></a>{% endif %}
            {% if doc.ppt %}<a href="{{ doc.ppt.url }}" target="_blank" class="icon-ppt"
                               title="Скачать PPT-файл документа"></a>{% endif %}
            {% if doc.doc %}<a href="{{ doc.doc.url }}" target="_blank" class="icon-doc"
                               title="Скачать DOC-файл документа"></a>{% endif %}
            {% if doc.dwg %}<a href="{{ doc.dwg.url }}" target="_blank" class="icon-dwg"
                               title="Скачать DWG-файл документа"></a>{% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</section>