<ul class="sidebarContainer js-sidebarContainer">

  <!-- ------------ MENU HEADER -->
  <div class="sidebarContainerNav">
    <li>
      <a href="#" class="sidebarItem sidebarItemIcon asideToggle icon-menu-close"></a>
    </li>
  </div>
  <!-- ------------ MENU HEADER END -->

  <!-- ------------ MENU BODY  -->
  <div class="sidebarContainerMenu">
    <li>
      <a href="/solution-calc/"  class="sidebarItem sidebarItemMenu js-endpoint icon-calculate-material">Рассчитать материал</a>
    </li>
    <li>
      <a href="/solution-choice/"  class="sidebarItem sidebarItemMenu js-endpoint icon-select-solution">Выбрать решение</a>
    </li>
    <li>
      <a href="/partners/"  class="sidebarItem sidebarItemMenu js-endpoint icon-buy">Найти подрядчика | Купить</a>
    </li>
  </div>

  <div class="sidebarContainerMenu js-sidebarContainerMenu">

    <!-- ------------ BRANCH MEMBRANES -->
    <li>
      <a href="#" class="sidebarItem sidebarItemMenu icon-membranes">Мембраны</a>
      <ul class="sidebarItemDropdown">
        {% for category, brands in c_list.items %}
          <li>
            <a href="/membrane/category/{{ category.slug }}/" class="sidebarItem sidebarItemMenu js-endpoint">{{ category }}</a>
            <ul class="sidebarItemDropdown">
              {% for brand, membranes in brands.items %}
                <li><a href='/membrane/brand/{{ brand.slug }}/' class="sidebarItem sidebarItemMenu js-endpoint">{{ brand }}</a>
                  <ul class="sidebarItemDropdown">
                    {% for membrane in membranes %}
                      <li>
                        <a href='/membrane/{{ membrane.slug }}/' class="sidebarItem sidebarItemMenu js-endpoint">{{ membrane }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}

        <li>
          <a href="#" class="sidebarItem sidebarItemMenu js-endpoint">Комплектующие</a>
          <ul class="sidebarItemDropdown">
            {% for category in acc %}
              <li>
                <a href='/accessory/category/{{ category.slug }}/' class="sidebarItem sidebarItemMenu js-endpoint">{{ category }}</a>
                {% if category.accessorysubcategory_set.all %}
                  <ul class="sidebarItemDropdown">
                    {% for subcategory in category.accessorysubcategory_set.all %}
                      <li><a href='/accessory/subcategory/{{ subcategory.slug }}/' class="sidebarItem sidebarItemMenu js-endpoint">{{ subcategory.title }}
                      </a></li>
                    {% endfor %}
                  </ul>
                {% endif %}

              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </li>
    <!-- ------------ BRANCH MEMBRANES END -->

    <!-- ------------ BRANCH SOLUTIONS -->
    <li><a href="#" class="sidebarItem sidebarItemMenu icon-solutions">Решения</a>
      <ul class="sidebarItemDropdown">

        {% for category in sol %}
          <li>
            <a href='/solution/category/{{ category.slug }}/' class="sidebarItem sidebarItemMenu js-endpoint">{{ category }}</a>

            {% if category.solution_set.all %}
              <ul class="sidebarItemDropdown">
                {% for solution in category.solution_set.all %}
                  <li><a href='/solution/{{ solution.slug }}/' class="sidebarItem sidebarItemMenu js-endpoint">{{ solution }}
                  </a></li>
                {% endfor %}
              </ul>
            {% endif %}

          </li>
        {% endfor %}

      </ul>
    </li>
    <!-- ------------ BRANCH SOLUTIONS END -->

    <!-- ------------ BRANCH OBJECTS -->
    <li>
      <a href="#" class="sidebarItem sidebarItemMenu icon-objects">Объекты</a>
      <ul class="sidebarItemDropdown">
        <li>
          <a href="/object/catalog/" class="sidebarItem sidebarItemMenu js-endpoint">Все обьекты</a>
        </li>
        {% for category in obj %}
          <li>
            <a href="/object/catalog/{{ category.slug }}/all/all/all/all/" class="sidebarItem sidebarItemMenu js-endpoint">{{ category }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
    <!-- ------------ BRANCH OBJECTS END -->

    <!-- ------------ BRANCH KNOWLEDGE -->
    <li>
      <a href="#" class="sidebarItem sidebarItemMenu icon-knowledge">Знания</a>
      <ul class="sidebarItemDropdown">
        <li>
          <a href='/article/category/article/' class="sidebarItem sidebarItemMenu js-endpoint">Статьи</a>
        </li>
        <li>
          <a href="/video/" class="sidebarItem sidebarItemMenu js-endpoint">Видео</a>
        </li>
        <li>
          <a href="http://academy.tn.ru/index.php" target="_blank" class="sidebarItem sidebarItemMenu js-endpoint">Академия ТехноНИКОЛЬ</a>
        </li>
      </ul>
    </li>
    <!-- ------------ BRANCH KNOWLEDGE END -->

    <!-- ------------ BRANCH DOCUMENTS -->
    <li>
      <a href="#" class="sidebarItem sidebarItemMenu icon-docs-group">Документы</a>
      <ul class="sidebarItemDropdown">
        {% for category in doc %}
          <li>
            <a href='/doc/{{ category.slug }}/' class="sidebarItem sidebarItemMenu js-endpoint">{{ category }}</a>
          </li>
        {% endfor %}
        <!--<li><a href='/doc/configurations/' class="sidebarItem sidebarItemMenu js-endpoint" >Сетификаты комплектации</a></li>-->
      </ul>
    </li>
    <!-- ------------ BRANCH DOCUMENTS END -->

    <!-- ------------ BRANCH COMPANY -->
    <li>
      <a href="#" class="sidebarItem sidebarItemMenu icon-tn">О компании</a>
      <ul class="sidebarItemDropdown">
        <li>
          <a href="/about/" class="sidebarItem sidebarItemMenu js-endpoint">О нас</a>
        </li>
        <li>
          <a href="/mission/" class="sidebarItem sidebarItemMenu js-endpoint">Миссия</a>
        </li>
        <li>
          <a href="/production/" class="sidebarItem sidebarItemMenu js-endpoint">Производство</a>
        </li>
        <li>
          <a href='/article/category/news/' class="sidebarItem sidebarItemMenu js-endpoint">Новости</a>
        </li>
        <li>
          <a href="/partners/" class="sidebarItem sidebarItemMenu js-endpoint">Партнеры и места продаж</a>
        </li>
        <li>
          <a href="/trainings/" class="sidebarItem sidebarItemMenu js-endpoint">Учебные центры</a>
        </li>
        <li>
          <a href="/contacts/" class="sidebarItem sidebarItemMenu js-endpoint">Контакты</a>
        </li>
      </ul>
    </li>
    <!-- ------------ BRANCH COMPANY END -->

    <!-- ------------ BRANCH QOS -->
    <li>
      <a href="http://logicroof.ru/ck/" target="_blank"  class="sidebarItem sidebarItemMenu icon-qos">Служба качества</a>
    </li>
    <!-- ------------ BRANCH QOS -->

  </div>
  <!-- ------------ MENU BODY END -->

  <!-- ------------ MENU FOOTER -->
  <div class="sidebarContainerFooter">
    <div class="sidebarContainerFooterSocial">
      <!--<li><a href="#" class="sidebarItem sidebarItemIcon icon-fb"></a></li>-->
      <li><a href="https://www.linkedin.com/company/logicroof" class="sidebarItem sidebarItemIcon icon-in" target="_blank"></a></li>
      <li><a href="http://www.youtube.com/channel/UC9ZqfrS8IeDtbCTkdOog5sg/" class="sidebarItem sidebarItemIcon icon-yt" target="_blank"></a></li>
    </div>
    <li><a href="/s/" class="sidebarItem sidebarItemIcon js-endpoint icon-search" target="_blank"></a></li>
  </div>
  <!-- ------------ MENU FOOTER END -->

</ul>