{% extends "c_admin/base.html" %}
{% block css %}
  <link href="/static/c_admin/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
  <link href="/static/c_admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css"
        rel="stylesheet">
  <link href="/static/c_admin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block js %}
  <script src="/static/c_admin/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
  <script src="/static/c_admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
{% endblock %}
{% block title %}
  Мембраны
{% endblock %}
{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="text-center btn btn-primary" href="/c_admin/membrane_category/add/">Добавить категорию мембраны</a>
    </div>
    <div class="panel-body">
      {% if membrane_category %}
        <div class="dataTable_wrapper">
          <table class="table table-striped table-bordered table-hover" id="dataTables">
            <thead>
            <tr>
              <th>Название категории мембраны</th>
              <th>URL</th>
              <th>Дата добавления</th>
              <th>Редактировать</th>
            </tr>
            </thead>
            <tbody>
            {% for category in membrane_category %}
              <tr class="gradeA">
                <td>{{ category.title }}</td>
                <td>{{ category.slug }}</td>
                <td>{{ category.add }}</td>
                <td>
                  <a class="fa fa-pencil" href="/c_admin/membrane_category/edit/{{ category.id }}/"></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <h3></h3>

        <p>Нет категориий мембран или у вас недостаточно прав.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}