{% extends "c_admin/base.html" %}
{% block css %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet"/>
  <link href="/static/c_admin/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/static/c_admin/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"/>
{% endblock %}
{% block js %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
  <script src="/static/c_admin/bootstrap-fileinput/js/fileinput.min.js"></script>
  <script src="/static/c_admin/bower_components/moment/min/moment.min.js"></script>
  <script src="/static/c_admin/bower_components/moment/locale/ru.js"></script>
  <script src="/static/c_admin/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#id_type, #id_membrane, #id_solution, #id_accessory").select2({ width: '100%' });
      $("#id_img_main").fileinput({
        showClose: false,
        showCaption: false,
        browseLabel: '',
        removeLabel: '',
        browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
        removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
        removeTitle: 'Cancel or reset changes',
        msgErrorClass: 'alert alert-block alert-danger',
        defaultPreviewContent: '<img src="' + img_main + '" style="width:auto;max-height:500px;">',
        layoutTemplates: {main2: '{preview} {remove} {browse}'},
        allowedFileExtensions: ["jpg", "jpeg", "png", "gif"]
      });
      $('#id_add').datetimepicker({
        locale: 'ru',
        format: 'DD.MM.YYYY HH:mm:ss'
      });
    });
//    CKEDITOR.on( 'dialogDefinition', function( ev )
//    {
//      // Take the dialog name and its definition from the event
//      // data.
//      var dialogName = ev.data.name;
//      var dialogDefinition = ev.data.definition;
//
//      // Check if the definition is from the dialog we're
//      // interested on (the "Table" dialog).
//      if ( dialogName == 'table' )
//      {
//        // Get a reference to the "Table Info" tab.
//        var infoTab = dialogDefinition.getContents( 'info' );
//        txtWidth = infoTab.get( 'txtWidth' );
//        txtWidth['default'] = 80;
//        cmbWidthType = infoTab.get( 'cmbWidthType' );
//        cmbWidthType['default'] = 'percents';
//        txtCellPad = infoTab.get( 'txtCellPad' );
//        txtCellPad['default'] = 4;
//      }
//    });
//    var editor = ace.edit("id_body");
//    editor.setTheme("ace/theme/monokai");
//    editor.getSession().setMode("ace/mode/html");
  </script>
  <script src="/static/ckeditor/ckeditor.js"></script>
  <script>
    CKEDITOR.replace( 'body', {
      customConfig: '/static/ckeditor/config.js',
    });
  </script>
{% endblock %}
{% block title %}Редактирование статьи{% endblock %}
{% block content %}
  <div class="row">
    <form role="form" action="{{ request.path }}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-group">
            {{ form.as_div }}
          </div>
        </div>
      </div>
      <div class="col-lg-12 text-center">
        <button type="submit" class="btn btn-outline btn-success btn-lg">Сохранить</button>
        <a href="/c_admin/article/" class="btn btn-outline btn-danger btn-lg">Отмена</a>
      </div>
    </form>
  </div>
{% endblock %}