{% extends 'base.html' %}
{% load cache %}
{% block title %}
  {{ item.title_meta }}
{% endblock %}
{% block content %}

<!-- ------------ SECTION HEADLINE -->
<header class="row headline">
  <h1 class="headerTitle">Сертификаты комплектации</h1>
  <span class="headerSubtitle">Лаконичный и ёмкий рекламно-информационный текст о разделе. Текст должен помогать пользователю в принятии решения, т.е. быть полезным.</span>
</header>
<!-- ------------ SECTION HEADLINE END -->

<!-- ------------ SECTION DOCS LIST -->
<section class="row">

  <div class="listDocs listDocsGroups">
    {% for group in items %}
    <div class="listDocsItem">
      <div class="listDocsItemName">{{ group.title }}</div>
      <div class="listDocsItemFiles">
        {% if group.fire.pdf or group.fire.doc %}<a href="{% if group.fire.pdf %}{{ group.fire.pdf.url }}{% else %}{{ group.fire.doc.url }}{% endif %}" target="_blank" class="icon-fire-certificates" title="Скачать пожарный сертификат"></a>{% endif %}
        {% if group.mail.pdf or group.mail.doc %}<a href="{% if group.mail.pdf %}{{ group.mail.pdf.url }}{% else %}{{ group.mail.doc.url }}{% endif %}" target="_blank" class="icon-rejection-letter" title="Скачать сертификат соответствия"></a>{% endif %}
        {% if group.conf.pdf or group.conf.doc %}<a href="{% if group.conf.pdf %}{{ group.conf.pdf.url }}{% else %}{{ group.conf.doc.url }}{% endif %}" target="_blank" class="icon-promotionals" title="Скачать отказное письмо"></a>{% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<!-- ------------ SECTION DOCS LIST END -->

{% endblock %}