{% extends 'base.html' %}
{% load doc %}
{% load cache %}
{% block title %}
  {{ item.title_meta }}
{% endblock %}

{% block content %}

  <!-- ------------ SECTION FILTERS -->
  <section class="row form-container">
    <form class="form-block form-doc-search">

      <div class="form-row form-row--search">
        <!--<label for="category-select" class="label">Тип объекта:</label>-->
        <input type="text" id="doc-search" class="input input-search input-text mx-full" placeholder="Найти документ"/>
        <button type="button" class="input-search-clean">✕</button>
        <button type="submit" class="input-submit-search icon-search"></button>
      </div>

      <div class="form-row">
        <select id="type-select" class="input input-select selectField js-selectField">
          <option value="all">Все документы</option>
          {% for item in type_all %}
            <option value="{{ item.id }}">{{ item.title }}</option>
          {% endfor %}
        </select>
        <select id="city-select" class="input input-select selectField js-selectField">
          <option value="all">Все страны</option>
          {% for item in country_all %}
            <option value="{{ item.id }}">{{ item.title }}</option>
          {% endfor %}
        </select>
      </div>

    </form>
  </section>
  <!-- ------------ SECTION FILTERS END -->
  <script>
    var $filterConfig = {
      val: {
        type: '{{ js.t }}',
        country: '{{ js.c }}',
        search: '{{ js.w }}'
      },
      options: {
        type: [{% for item in type %}'{{ item.id }}',{% endfor %}],
        country: [{% for item in country %}'{{ item.id }}',{% endfor %}]
      }
    }
  </script>
  <!-- ------------ SECTION CATALOG -->
  {#TODO запилить контейнер#}
  {% doc documents item.title True %}
  <!-- ------------ SECTION CATALOG END -->

{% endblock %}

{% block scriptsAppend %}
<script>
  wait('jQuery', function(){
    var $inputSearchClean = $('.input-search-clean');
    var $docSearch = $('#doc-search');
    var $typeSelect = $('#type-select');
    var $citySelect = $('#city-select');
    function update() {
      var category = '{{ item.slug }}';
      var type = $typeSelect.val();
      var city = $citySelect.val();
      var word = ($docSearch.val() ? encodeURIComponent($docSearch.val()) : 'none');
      $('.js-section-docs').load('/doc/raw/' + category + '/' + city + '/' + type + '/' + word + '/', function () {
        window.history.pushState({}, '', '/doc/' + category + '/' + city + '/' + type + '/' + word + '/');
        reactivateOptions();
        zoom();
      });
    }
    function toggleSearchClean(){
      if($docSearch.val() == ''){
        $inputSearchClean.attr('style', 'display: none !important');
      }
      else {
        $inputSearchClean.attr('style', 'display: block !important');
      }
    }
    function reactivateOptions(){
      function reactivateOptions(el, array){
        var $val = el.val();
        if($.inArray($val, array) == -1 && $val != 'all'){
          el.addClass('inactive');
        }
        else {
          el.removeClass('inactive');
        }
      }
      var $citySelectOption = $('#city-select option');
      var $typeSelectOption = $('#type-select option');
      if($filterConfig) {
        if($typeSelect.val() != 'all'){
          $citySelectOption.each(function(){
            reactivateOptions($(this), $filterConfig.options.country)
          });
        }
        else {
          $citySelectOption.each(function(){
            $(this).removeClass('inactive');
          });
        }
        if($citySelect.val() != 'all'){
          $typeSelectOption.each(function(){
            reactivateOptions($(this), $filterConfig.options.type)
          });
        }
        else {
          $typeSelectOption.each(function(){
            $(this).removeClass('inactive');
          });
        }
      }
    }
    function bindFields(){

      if($filterConfig) {
        if($filterConfig.val.search != "none"){
          $docSearch.val($filterConfig.val.search);
        }
        $typeSelect.val($filterConfig.val.type);
        $citySelect.val($filterConfig.val.country);
      }

    }
    function ready() {
      $('.js-selectField').change(function () {
        update();
      });
      $docSearch.on('input', function () {
        toggleSearchClean();
      });
      $inputSearchClean.click(function(){
        $docSearch.val('');
        toggleSearchClean();
        update();
      });
      $('.form-doc-search').submit(function( event ) {
        update();
        event.preventDefault();
      });
    }
    ready();
    bindFields();
    reactivateOptions();
  });
</script>
{% endblock %}