{#TODO запилить контейнер#}
{% load random_number %}
<!--<section class="row js-section-docs">-->
  <h2 id="docs" class="icon-docs">{{ item.title }}</h2>
  {% regroup documents by type as categorys %}
  {% for category in categorys %}
    {% random_number 9 as rnd9 %}
    <div class="listDocs">
      {% if category.grouper %}<h3>{{ category.grouper }}</h3>{% endif %}
      {% if category.list|length > 3 %}
        <input type="checkbox" id="checkbox{{ rnd9 }}"/>
        <label for="checkbox{{ rnd9 }}" class="listDocsMoreButton">
          <span class="listDocsMoreButtonExpanded">скрыть последни{% if category.list|length = 4 %}й{% else %}е{% endif %}</span>
          <span class="listDocsMoreButtonCollapsed">показать ещё</span>
          <span> {{ category.list|length|add:'-3' }}</span>
        </label>
      {% endif %}
      {% for doc in category.list %}
        <div class="listDocsItem">
          <div class="listDocsItemName">{{ doc.title }}</div>
          <div class="listDocsItemFiles">
            {% if doc.pdf %}<a href="{{ doc.pdf.url }}" target="_blank" class="icon-pdf"
                               title="Скачать PDF-файл документа"></a>{% endif %}
            {% if doc.ppt %}<a href="{{ doc.ppt.url }}" target="_blank" class="icon-ppt"
                               title="Скачать PPT-файл документа"></a>{% endif %}
            {% if doc.doc %}<a href="{{ doc.doc.url }}" target="_blank" class="icon-doc"
                               title="Скачать DOC-файл документа"></a>{% endif %}
            {% if doc.dwg %}<a href="{{ doc.dwg.url }}" target="_blank" class="icon-dwg"
                               title="Скачать DWG-файл документа"></a>{% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
  <script>
    console.log('123');
    $filterConfig = {
      val: {
        type: '{{ js.t }}',
        country: '{{ js.c }}',
        search: '{{ js.w }}'
      },
      options: {
        type: [{% for item in type %}'{{ item.id }}',{% endfor %}],
        country: [{% for item in country %}'{{ item.id }}',{% endfor %}]
      }
    }

  </script>
<!--</section>-->