{% extends "c_admin/base.html" %}
{% block css %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet"/>
  <link href="/static/c_admin/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet"/>
{% endblock %}
{% block js %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
  <script src="/static/c_admin/bootstrap-fileinput/js/fileinput.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#id_adv").select2({ width: '100%' });

      $("#id_img_p").fileinput({
        {#                maxFileSize: 1500,#}
        showClose: false,
        showCaption: false,
        browseLabel: '',
        removeLabel: '',
        browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
        removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
        removeTitle: 'Cancel or reset changes',
        msgErrorClass: 'alert alert-block alert-danger',
        defaultPreviewContent: '<img src="' + img_p + '" style="width:auto;max-height:500px;">',
        layoutTemplates: {main2: '{preview} {remove} {browse}'},
        allowedFileExtensions: ["jpg", "jpeg", "png", "gif"]
      });
      $("#id_img_main").fileinput({
        {#                maxFileSize: 1500,#}
        showClose: false,
        showCaption: false,
        browseLabel: '',
        removeLabel: '',
        browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
        removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
        removeTitle: 'Cancel or reset changes',
        msgErrorClass: 'alert alert-block alert-danger',
        defaultPreviewContent: '<img src="' + img_main + '" style="width:auto;max-height:500px;">',
        layoutTemplates: {main2: '{preview} {remove} {browse}'},
        allowedFileExtensions: ["jpg", "jpeg", "png", "gif"]
      });
      $("#id_img_logo").fileinput({
        {#                maxFileSize: 1500,#}
        showClose: false,
        showCaption: false,
        browseLabel: '',
        removeLabel: '',
        browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
        removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
        removeTitle: 'Cancel or reset changes',
        msgErrorClass: 'alert alert-block alert-danger',
        defaultPreviewContent: '<img src="' + img_logo + '" style="width:auto;max-height:500px;">',
        layoutTemplates: {main2: '{preview} {remove} {browse}'},
        allowedFileExtensions: ["jpg", "jpeg", "png", "gif"]
      });
    });
  </script>
  <script src="/static/ckeditor/ckeditor.js"></script>
  <script>
    CKEDITOR.replace( 'info', {
      customConfig: '/static/ckeditor/config.js',
    });
  </script>
{% endblock %}
{% block title %}Редактирование бренда{% endblock %}
{% block content %}
  <div class="row">
    <form role="form" action="{{ request.path }}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-group">
            {{ form.as_div }}
          </div>
        </div>
      </div>
      <div class="col-lg-12 text-center">
        <button type="submit" class="btn btn-outline btn-success btn-lg">Сохранить</button>
        <a href="/c_admin/membrane/" class="btn btn-outline btn-danger btn-lg">Отмена</a>
      </div>
    </form>
  </div>
{% endblock %}